<h2>
    Add
    <ng-container *ngIf="data.isReentry">
        Re-
    </ng-container>
    Entry
</h2>

<form
    [formGroup]="form"
    (ngSubmit)="onSubmit(model)"
>
    <formly-form
        [form]="form"
        [fields]="fields"
        [options]="options"
        [model]="model"
    ></formly-form>

    <button
        type="submit"
        [disabled]="!form.valid"
    >
        <ng-container *ngIf="data.isReentry">
            RE-
        </ng-container>
        ENTER
    </button>
</form>
