<div class="draw-dialog">
    <h2><i class="fa fa-random"></i> Table Draw</h2>

    @if (tableDraw !== undefined && tableDraw !== null) {
        <div class="table-draw">
            <button
                id="reset-button"
                mat-raised-button
                color="warn"
                (click)="reset()"
            >
                RESET TABLE DRAW
            </button>

            <div class="table-draw-stats">
                <h3>No of tables:</h3>
                <span>{{ tableDraw().noOfTables }}</span>
                <h3>Total players:</h3>
                <span>{{ tableDraw().tournament.players.length }}</span>
            </div>

            <app-table-draw-state [currentState]="tableDraw().state"></app-table-draw-state>

            <div class="notification-wrapper">
                @if (tableDraw().playerHasToBeMoved && !tableDraw().playersToMove) {
                    <div class="notification">
                        <i class="fa fa-exclamation-triangle"></i>

                        <span>
                            {{ tableDraw().noOfPlayersToMove }}  player

                            @if (tableDraw().noOfPlayersToMove > 1) {
                                <span>s</span>
                            }

                            from table {{ tableDraw().tableIndexToTake + 1 }} ha

                            @if (tableDraw().noOfPlayersToMove < 2) {
                                <i>s</i>
                            }

                            @if (tableDraw().noOfPlayersToMove > 1) {
                                <i>ve</i>
                            }

                            to be moved to table {{ tableDraw().tableIndexToAdd + 1 }}!
                        </span>

                        <button
                            mat-raised-button
                            color="primary"
                            (click)="movePlayer()"
                        >
                            MOVE NOW
                        </button>
                    </div>
                }

                @if (tableDraw().playersToMove) {
                    @for (p of tableDraw().playersToMove; track p) {
                        <div class="notification">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>
                            Player <strong>{{ p.player.name }}</strong> has to move from
                            table {{ tableDraw().tableIndexToTake + 1 }} to
                            table {{ tableDraw().tableIndexToAdd + 1 }}
                        </span>
                            <button mat-raised-button color="primary" (click)="playerMoved()">DONE</button>
                        </div>
                    }
                }

                @if (tableDraw().tableHasToBeEliminated) {
                    <div class="notification">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>
                            A table can be eliminated!
                        </span>

                        <button
                            mat-raised-button
                            color="primary"
                            (click)="eliminateTable()"
                        >
                            ELIMINATE TABLE AND DISTRIBUTE PLAYERS
                        </button>
                    </div>
                }
            </div>

            @if (tableDraw().state === TABLE_DRAW_STATE.BLANK) {
                <div class="bullet-title">
                    <div class="bullet">1</div>
                    <h3>SET UP</h3>
                </div>

                <div class="setup-wrapper">
                    <mat-form-field>
                        <mat-label>max players per table</mat-label>
                        <input
                            matInput
                            [ngModel]="maxPlayersPerTable"
                            (ngModelChange)="changeMaxPlayers($event)"
                            type="number"
                        >
                    </mat-form-field>

                    <button
                        mat-raised-button
                        color="accent"
                        (click)="setupEmptyTables()"
                    >
                        SET UP
                    </button>

                    @if (tableDraw().tables?.length) {
                        <button
                            mat-raised-button
                            color="primary"
                            (click)="confirmSetup()"
                        >
                            CONFIRM SETUP
                        </button>
                    }
                </div>
            }

            @if (tableDraw().state === TABLE_DRAW_STATE.SET_UP) {
                <div class="bullet-title">
                    <div class="bullet">2</div>
                    <h3>DRAW</h3>
                </div>

                <div class="draw-wrapper">
                    <button
                        mat-raised-button color="primary"
                        (click)="draw()"
                    >
                        DRAW PLAYERS
                    </button>
                </div>
            }

            @if (tableDraw().state === TABLE_DRAW_STATE.DRAWN) {
                <div class="bullet-title">
                    <div class="bullet">2</div>
                    <h3>MANAGE</h3>
                </div>
            }

            <div class="tables-wrapper">
                @for (table of tableDraw().tables; track table; let i = $index) {
                    <div class="table">
                        <h4>Table {{ i + 1 }}</h4>
                        <div class="table-content">

                            @for (player of table; track player; let j = $index; ) {
                                <div
                                    class="seat"
                                    [class.fixed]="player.fixSeat"
                                    [class.eliminated]="player.eliminated"
                                    (click)="player.selectVisible = !player.placeholder && true"
                                >
                                    <!-- TODO ability to remove fixed seat -->
                                    <div class="position">
                                        <div>
                                            <span>
                                                {{ player.seatNo + 1 }}
                                            </span>
                                        </div>
                                    </div>

                                    <p>
                                        {{ player?.player?.name }}
                                    </p>

                                    @if (player.isButton) {
                                        <div class="button">
                                            B
                                        </div>
                                    }

                                    @if (player.selectVisible && !player.eliminated) {
                                        <mat-form-field>
                                            <mat-select>
                                                @for (p of tableDraw().availablePlayers; track p) {
                                                    <mat-option [value]="p" (click)="addFixedSeat(i, j, p)">
                                                        {{ p.name }}
                                                    </mat-option>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>

    }


</div>



