@import 'src/styles/colors_texts';

.table-draw {
    display: flex;
    flex-direction: column;
    position: relative;
}

#reset-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: fit-content !important;
}

.table-draw-stats {
    display: flex;
    background: #006dc7;
    align-items: center;
    padding: 12px;
    width: calc(100% - 300px);

    h3 {
        font-size: 16px;
        margin-top: 0 !important;
        display: flex;
        align-items: center;
        color: rgba(white, 0.5) !important;
        border: none !important;
        margin-bottom: 0 !important;
    }

    span {
        font-size: 32px;
        margin-left: 12px;
        margin-right: 32px;
        font-weight: bold;
        color: white !important;
    }
}

h3 {
    color: black;
    border: none;
}

.notification-wrapper .notification {
    border: solid 2px $primaryDark;
    padding: 30px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;

    .fa {
        font-size: 32px;
        margin-right: 20px;
    }

    span,
    span * {
        font-size: 18px;
    }

    button {
        margin: 0 !important;
        margin-left: 20px !important;
        font-size: 24px;
        height: 40px;
    }
}


div.setup-wrapper {
    display: flex;
    align-items: center;

    mat-form-field {
        margin-right: 20px;
        width: 200px;
        flex: 0 0 200px
    }

    button {
        margin-top: 0 !important;
    }
}

div.bullet-title {
    display: flex;
    align-items: center;
    border-bottom: solid 1px $primaryDark;
    margin-bottom: 24px;
    padding-top: 12px;
    padding-bottom: 12px;

    h3 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-top: 0;
    }
}

div.bullet {
    color: white;
    background: #85BB65;
    font-size: 18px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 20px;
}

button[mat-raised-button] {
    margin-right: 12px;
    margin-bottom: 20px;
}

.draw-dialog {
    max-height: 80vh;
}

