@import 'src/styles/colors_texts';

.table-draw {
    display: flex;
    flex-direction: column;
    position: relative;
}

#reset-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: fit-content !important;
}

.table-draw-stats {
    display: flex;
    background: #006dc7;
    align-items: center;
    padding: 12px;
    width: calc(100% - 300px);

    h3 {
        font-size: 16px;
        margin-top: 0 !important;
        display: flex;
        align-items: center;
        color: rgba(white, 0.5) !important;
        border: none !important;
        margin-bottom: 0 !important;
    }

    span {
        font-size: 32px;
        margin-left: 12px;
        margin-right: 32px;
        font-weight: bold;
        color: white !important;
    }
}

h3 {
    color: black;
    border: none;
}

.notification-wrapper .notification {
    border: solid 2px $primaryDark;
    padding: 30px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;

    .fa {
        font-size: 40px;
        margin-right: 20px;
    }

    span,
    span * {
        font-size: 32px;

    }

    button {
        margin: 0 !important;
        margin-left: 20px !important;
        font-size: 24px;
        height: 40px;
    }
}


div.setup-wrapper {
    display: flex;
    align-items: center;

    mat-form-field {
        margin-right: 20px;
        width: 200px;
        flex: 0 0 200px
    }

    button {
        margin-top: 0 !important;
    }
}

div.bullet-title {
    display: flex;
    align-items: center;
    border-bottom: solid 1px $primaryDark;
    margin-bottom: 24px;
}

div.bullet {
    color: white;
    background: green;
    font-size: 18px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 20px;
}

button[mat-raised-button] {
    margin-right: 12px;
    margin-bottom: 20px;
}

.draw-dialog {
    max-height: 80vh;
}

.tables-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
}

.table {
    background: #eee;
    border-radius: 12px;
    overflow: hidden;
}

.table h4 {
    background: $primaryDark;
    color: white !important;
    display: block;
    text-align: center;
    text-transform: uppercase;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin: 0;
}

.table-content {
    padding: 24px;
}

.seat {
    display: flex;
    align-items: center;
    padding: 4px;
    color: $primaryDark;

    p {
        font-size: 24px;
        color: $primaryDark;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.seat.fixed {
    background: rgba(lime, 0.2);
}

.seat.eliminated {
    opacity: 0.3;
}

.seat:hover {
    opacity: 0.7;
    cursor: pointer;
}

.seat p {
    margin-left: 12px;
}

div.button {
    border: solid 2px black;
    background: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-left: 10px;
}

button {
    margin-right: 12px !important;
    display: inherit !important;
    width: fit-content !important;
}
