<div class="overview">

    <div class="button-wrapper">
        <button *ngIf="!running" (click)="start()">
            START
        </button>

        <button *ngIf="running" (click)="pause()">
            PAUSE
        </button>

        <button (click)="addMinute()">s
            +1 min
        </button>
    </div>

    <app-header
        [name]="''"
    ></app-header>

    <div *ngIf="!running" class="popup">
        PAUSED
    </div>


    <div class="top">
        <circle-progress
            *ngIf="!finished"
            [percent]="currentTimeLeftPercentage"
            [radius]="(radius$ | async) || radius"
            [outerStrokeWidth]="(outerStroke$ | async) || outerStroke"
            [innerStrokeWidth]="(innerStroke$ | async) || innerStroke"
            [outerStrokeColor]="'#006dc7'"
            [innerStrokeColor]="'#006dc7'"
            [title]="currentLevelTimeLeft | time"
            [showSubtitle]="false"
            [showUnits]="false"
            [animationDuration]="300"
            [titleFontSize]="'15vh'"
            [subtitleFontSize]="'20px'"
            [animation]="false"
        ></circle-progress>

        <countdown
            class="countdown"
            #cd
            (event)="handleEvent($event)"
            [config]="config"
        ></countdown>

        <div class="all-levels">
            <ng-container *ngFor="let level of levels; let i = index;">
                <span [class.bold]="i === currentLevelIndex" style="display: flex">
                    <ng-container *ngIf="(level | level); else pause">
                        <div style="width: 32px; flex: 0 0 32px;">
                           <ng-container *ngIf="i === currentLevelIndex">
                               ►
                           </ng-container>
                        </div>
                        {{ level.sb }} / {{ level.bb }}
                     </ng-container>
                    <ng-template #pause>
                       <div style="width: 32px; flex: 0 0 32px;">
                               <ng-container *ngIf="i === currentLevelIndex">
                                   ►
                               </ng-container>
                        </div>
                         PAUSE
                    </ng-template>
                </span>
            </ng-container>
        </div>
    </div>

    <div class="bottom">
        <app-current-level
            *ngIf="!finished"
            [level]="levels[currentLevelIndex]"
        ></app-current-level>

        <div class="line"></div>

        <div class="darker">
            <app-next-level
                *ngIf="!finished && currentLevelIndex < levels.length - 1"
                [level]="levels[currentLevelIndex+1]"
            ></app-next-level>

            <p *ngIf="finished">
                FINISHED
            </p>
        </div>
    </div>
</div>

<audio #warning>
    <source src="assets/warning.wav" type="audio/wav">
</audio>

<audio #next>
    <source src="assets/next.wav" type="audio/wav">
</audio>
