<div class="overview">

    <div class="button-wrapper">
        <button *ngIf="currentLevelTimeLeft < blindDurationFixed - 60" (click)="addMinute()">
            + 1 MIN
        </button>

        <button *ngIf="!running" (click)="start()">
            START
        </button>

        <button *ngIf="running" (click)="pause()">
            PAUSE
        </button>
    </div>

    <app-header
        [name]="''"
    ></app-header>

    <div *ngIf="!running" class="popup">
        PAUSED
    </div>


    <div class="top">
        <circle-progress
            *ngIf="!finished"
            [percent]="currentTimeLeftPercentage"
            [radius]="(radius$ | async) || radius"
            [outerStrokeWidth]="(outerStroke$ | async) || outerStroke"
            [innerStrokeWidth]="(innerStroke$ | async) || innerStroke"
            [outerStrokeColor]="'#006dc7'"
            [innerStrokeColor]="'#006dc7'"
            [animation]="true"
            [title]="currentLevelTimeLeft | time"
            [showSubtitle]="false"
            [showUnits]="false"
            [animationDuration]="300"
            [titleFontSize]="'15vh'"
            [subtitleFontSize]="'20px'"
            [animation]="false"
        ></circle-progress>

        <div *ngIf="!finished && running" class="time">
            <ng-container
                *ngIf="showTimer"
                [counter]="blindDuration"
                [interval]="1000"
                (value)="onValue($event)"
            >
            </ng-container>
        </div>
    </div>

    <div class="bottom">
        <app-current-level
            *ngIf="!finished"
            [level]="levels[currentLevelIndex]"
        ></app-current-level>

        <div class="line"></div>

        <div class="darker">
            <app-next-level
                *ngIf="!finished && currentLevelIndex < levels.length - 1"
                [level]="levels[currentLevelIndex+1]"
            ></app-next-level>

            <p *ngIf="finished">
                FINISHED
            </p>
        </div>
    </div>
</div>

<audio #warning>
    <source src="assets/warning.wav" type="audio/wav">
</audio>

<audio #next>
    <source src="assets/next.wav" type="audio/wav">
</audio>
