<h2>Players</h2>

<table>
    <tbody>
        <ng-container *ngFor="let p of players$ | async">
            <tr>
                <td>
                    <app-user-image-round
                        [imageUrl]="p.image"
                    ></app-user-image-round>
                </td>
                <td>
                    {{ p.name }}
                </td>
                <td>
                    <i
                        class="fa fa-trash"
                        (click)="deletePlayer(p.id)"
                    ></i>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
