.chips-overview {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
}

p.title {
  margin: 0;
  font-size: 2vh;
  font-weight: bold;
}

p.value {
  margin: 0;
  font-size: 4vh;
  font-weight: bold;
}
