<h2><i class="fa fa-database"></i> Addon</h2>

<form (ngSubmit)="onSubmit()">
    <mat-form-field class="w-100">
        <mat-label>Player *</mat-label>
        <mat-select
            name="eliminated"
            (selectionChange)="this.model.playerId.set($event.value)"
        >
            @for (player of playersToAddOn(); track player.value) {
                <mat-option [value]="player.value">
                    {{ player.label }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!model.isValid() || isLoadingAdd"
    >
        ADD-ON
    </button>

    <button
        mat-raised-button
        [disabled]="isLoadingAdd"
        (click)="closeDialog($event)"
    >
        CANCEL
    </button>

    @if (isLoadingAdd) {
        <div class="loading-wrapper">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    }

</form>

<h3>Conducted Addons</h3>

<ng-container *ngIf="conductedAddons().length > 0; else noAddons;">
    <table class="dialog-table">
        <ng-container *ngFor="let e of conductedAddons()">
            <tr>
                <td class="small-gray">
                    {{ e.time | date:'d.M.yy, hh:mm:ss' }}
                </td>
                <td>
                    <span class="flex-td">
                        <app-user-image-round
                            [imageUrl]="e.image"
                        ></app-user-image-round>

                        <span>{{ e.name }}</span>
                    </span>
                </td>
                <td>
                    <ng-container *ngIf="!e.isFinished; else skull">
                        @if (!isLoadingRemove) {
                            <i
                                class="fa fa-trash"
                                (click)="deleteAddon(e.entryId, e.name)"
                            ></i>
                        } @else {
                            <i class="fa fa-spinner fa-spin"></i>
                        }
                    </ng-container>
                    <ng-template #skull>
                        <i class="fa fa-skull"></i>
                    </ng-template>
                </td>
            </tr>
        </ng-container>
    </table>
</ng-container>

<ng-template #noAddons>
    No Addons yet
</ng-template>
