<h2>Addon</h2>

<form
    [formGroup]="form"
    (ngSubmit)="onSubmit(model)"
>
    <formly-form
        [form]="form"
        [fields]="fields"
        [options]="options"
        [model]="model"
    ></formly-form>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!form.valid"
    >
        ADD-ON
    </button>

    <button mat-raised-button (click)="closeDialog()">CLOSE</button>
</form>

<h3>Conducted Addons</h3>

<ng-container *ngIf="conductedAddons && conductedAddons.length > 0; else noAddons;">
    <table class="dialog-table">
        <ng-container *ngFor="let e of conductedAddons">
            <tr>
                <td class="small-gray">
                    {{ e.time | date:'d.M.yy, hh:mm:ss' }}
                </td>
                <td>
                    <span class="flex-td">
                        <app-user-image-round
                            [imageUrl]="e.image"
                        ></app-user-image-round>

                        <span>{{ e.name }}</span>
                    </span>
                </td>
                <td>
                    <ng-container *ngIf="!e.isFinished; else skull">
                        <i (click)="deleteAddon(e.entryId, e.name)" class="fa fa-trash"></i>
                    </ng-container>
                    <ng-template #skull>
                        <i class="fa fa-skull"></i>
                    </ng-template>
                </td>
            </tr>
        </ng-container>
    </table>
</ng-container>

<ng-template #noAddons>
    No Addons yet
</ng-template>
