<h2><i class="fa fa-database"></i> Addon</h2>

<form (ngSubmit)="onSubmit()">
    <mat-form-field class="w-100">
        <mat-label>Player *</mat-label>
        <mat-select
            name="eliminated"
            (selectionChange)="this.model.playerId.set($event.value)"
        >
            @for (player of playersToAddOn(); track player.value) {
                <mat-option [value]="player.value">
                    {{ player.label }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!model.isValid() || isLoadingAdd"
    >
        ADD-ON
    </button>

    <button
        mat-raised-button
        [disabled]="isLoadingAdd"
        (click)="closeDialog($event)"
    >
        CANCEL
    </button>

    @if (isLoadingAdd) {
        <div class="loading-wrapper">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    }
</form>

<h3>Conducted Addons</h3>

@if (conductedAddons().length > 0) {
    <table class="dialog-table">
        @for (e of conductedAddons(); track e) {
            <tr>
                <td class="small-gray">
                    {{ e.time | date:'d.M.yy, HH:mm:ss' }}
                </td>
                <td>
                    <app-user-with-image
                        [name]="e.name"
                        [image]="e.image"
                    ></app-user-with-image>
                </td>
                <td>
                    @if (!e.isFinished) {
                        @if (!isLoadingRemove) {
                            <i
                                class="fa fa-trash"
                                (click)="deleteAddon(e.entryId, e.name)"
                            ></i>
                        } @else {
                            <i class="fa fa-spinner fa-spin"></i>
                        }
                    } @else {
                        <i class="fa fa-skull"></i>
                    }
                </td>
            </tr>
        }
    </table>
} @else {
    <ng-container *ngTemplateOutlet="noAddons"></ng-container>
}

<ng-template #noAddons>
    No Addons yet
</ng-template>
