@if (canShowInfoPanel()) {
    <div class="info-panel">
        @if (isAddPlayerBlocked && !isTournamentFinished()) {
            <span>
                <i class="fa fa-exclamation-triangle"></i> Players cannot be added anymore
            </span>
        }

        @if (tournament().withRebuy && isRebuyPhaseFinished() && !isTournamentFinished()) {
            <span>
                <i class="fa fa-exclamation-triangle"></i> Rebuy / Addon finished
            </span>
        }

        @if (playerHasToBeMoved() && !isTournamentFinished()) {
            <span
                class="clickable"
                (click)="openDrawDialog()"
            >
                <i class="fa fa-exclamation-triangle"></i> Player has to be moved
            </span>
        }

        @if (tableHasToBeEliminated() && !isTournamentFinished()) {
            <span
                class="clickable"
                (click)="openDrawDialog()"
            >
                <i class="fa fa-exclamation-triangle"></i> Table can be eliminated
            </span>
        }

        @if (!canStartTournament()) {
            @if (hasLevels()) {
                <span>
                    <i class="fa fa-exclamation-triangle"></i>  Cannot start tournament until all players entered
                </span>
            } @else {
                <span>
                    <i class="fa fa-exclamation-triangle"></i>  Cannot start tournament without blind levels
                </span>
            }
        }

        @if (isTournamentFinished()) {
            <span>
                <i class="fa fa-flag-checkered "></i> Tournament is finished
            </span>
        }

        @if (canStartTournament() && !started() && !isTournamentFinished()) {
            <span>
                <i class="fa fa-check"></i> Ready to start tournament
            </span>
        }
    </div>
}

<div class="main-buttons">
    <button
        mat-flat-button
        matTooltip="Play / Pause"
        class="main"
        [disabled]="isTournamentFinished() || !canStartTournament() || isTournamentLocked()"
        (click)="toggleRunning()"
    >
        @if (isRunning()) {
            <i class="fa fa-pause"></i>
        } @else {
            <i class="fa fa-play"></i>
        }
    </button>


    @if (isProOrAdmin()) {
        <button
            mat-flat-button
            matTooltip="Seat Open"
            class="main"
            [disabled]="!isAdaptedPayoutSumCorrect || isTournamentLocked() || !hasPlayersToSeatOpen()"
            (click)="seatOpen()"
        >
            <i class="fa fa-skull"></i>
        </button>
    }


    @if (tournament().withRebuy && isProOrAdmin() && !isRebuyPhaseFinished()) {
        <button
            mat-flat-button
            matTooltip="Rebuy"
            class="main"
            [disabled]="isTournamentLocked() || isTournamentFinished() || isITM()"
            (click)="addRebuy()"
        >
            <i class="fa fa-refresh"></i>
        </button>
    }

    @if (tournament().withRebuy && isProOrAdmin() && !isRebuyPhaseFinished()) {
        <button
            mat-flat-button
            matTooltip="Addon"
            class="main"
            [disabled]="isTournamentLocked() || isTournamentFinished()"
            (click)="addAddon()"
        >
            <i class="fa fa-database"></i>
        </button>
    }

    @if (!isFullScreen()) {
        <button
            mat-flat-button
            class="main"
            matTooltip="Fullscreen"
            (click)="fullScreen()"
        >
            <i class="fa fa-maximize"></i>
        </button>
    }

    @if (isFullScreen()) {
        <button
            mat-flat-button
            class="main"
            matTooltip="Exit Fullscreen"
            (click)="cancelFullscreen()"
        >
            <i class="fa fa-minimize"></i>
        </button>
    }

    @if (isProOrAdmin()) {
        <button
            mat-flat-button
            class="main mobile-only"
            matTooltip="Table Draw"
            (click)="openDrawDialog()"
        >
            <i class="fa fa-random"></i>
        </button>
    }

    <button
        mat-flat-button
        matTooltip="More"
        class="main hide-800"
        type="button"
        (click)="openMenu()"
    >
        <i class="fa fa-ellipsis-h"></i>
    </button>
</div>

@if (isAnimatingBubbleBoy$ | async; as a) {
    <app-animation-bubble-boy
        [isAnimating]="a"
        [name]="lastSeatOpenName"
        [rank]="lastRank"
    ></app-animation-bubble-boy>
}

@if (isAnimatingSeatOpen$ | async; as a) {
    <app-animation-seat-open
        [isAnimating]="a"
        [price]="lastPrice"
        [name]="lastSeatOpenName"
        [rank]="lastRank"
    ></app-animation-seat-open>
}

@if (winnerTrigger$ | async; as a) {
    <app-animation-winner
        [trigger]="a"
        [name]="winnerName"
        [price]="winnerPrice"
    ></app-animation-winner>
}

<div
    class="menu"
    [class.visible]="menuVisible"
></div>
