@if (canShowInfoPanel()) {
    <div class="info-panel">
        <span *ngIf="isAddPlayerBlocked && !isTournamentFinished()">
            <i class="fa fa-exclamation-triangle"></i> Players cannot be added anymore
        </span>

        <span *ngIf="tournament().withRebuy && isRebuyPhaseFinished() && !isTournamentFinished()">
            <i class="fa fa-exclamation-triangle"></i> Rebuy / Addon finished
        </span>

        <span *ngIf="playerHasToBeMoved() && !isTournamentFinished()" class="clickable" (click)="openDrawDialog()">
            <i class="fa fa-exclamation-triangle"></i> Player has to be moved
        </span>

        <span *ngIf="tableHasToBeEliminated() && !isTournamentFinished()" class="clickable" (click)="openDrawDialog()">
            <i class="fa fa-exclamation-triangle"></i> Table can be eliminated
        </span>

        <span *ngIf="!canStartTournament()">
            <i class="fa fa-exclamation-triangle"></i>  Cannot start tournament until all players entered
        </span>

        <span *ngIf="isTournamentFinished()">
            <i class="fa fa-check"></i> Tournament is finished
        </span>

        <span *ngIf="canStartTournament() && !started() && !isTournamentFinished()">
            <i class="fa fa-check"></i> Ready to start tournament
        </span>
    </div>
}

<div class="main-buttons">

    <button
        mat-flat-button
        matTooltip="Play / Pause"
        class="main"
        [disabled]="isTournamentFinished()"
        (click)="toggleRunning()"
    >
        <i *ngIf="!isRunning()" class="fa fa-play"></i>
        <i *ngIf="isRunning()" class="fa fa-pause"></i>
    </button>

    <button
        *ngIf="!isSimpleTournament()"
        mat-flat-button
        matTooltip="Seat Open"
        class="main"
        [disabled]="!isAdaptedPayoutSumCorrect || isTournamentLocked() || isTournamentFinished()"
        (click)="seatOpen()"
    >
        <i class="fa fa-skull"></i>
    </button>

    <button
        *ngIf="tournament().withRebuy && !isSimpleTournament() && !isRebuyPhaseFinished()"
        mat-flat-button
        matTooltip="Rebuy"
        class="main"
        [disabled]="isTournamentLocked() || isTournamentFinished()"
        (click)="addRebuy()"
    >
        <i class="fa fa-refresh"></i>
    </button>

    <button
        *ngIf="tournament().withRebuy && !isSimpleTournament() && !isRebuyPhaseFinished()"
        mat-flat-button
        matTooltip="Addon"
        class="main"
        [disabled]="isTournamentLocked() || isTournamentFinished()"
        (click)="addAddon()"
    >
        <i class="fa fa-database"></i>
    </button>

    <button
        *ngIf="!isFullscreen"
        mat-flat-button
        class="main mobile-only"
        matTooltip="Fullscreen"
        (click)="fullScreen()"
    >
        <i class="fa fa-maximize"></i>
    </button>

    <button
        *ngIf="isFullscreen"
        mat-flat-button
        class="main mobile-only"
        matTooltip="Exit Fullscreen"
        (click)="cancelFullscreen()"
    >
        <i class="fa fa-minimize"></i>
    </button>

    <button
        mat-flat-button
        class="main mobile-only"
        matTooltip="Table Draw"
        (click)="openDrawDialog()"
    >
        <i class="fa fa-random"></i>
    </button>

    <button
        mat-flat-button
        matTooltip="More"
        class="main hide-800"
        type="button"
        (click)="openMenu()"
    >
        <i class="fa fa-ellipsis-h"></i>
    </button>
</div>

<app-animation-bubble-boy
    *ngIf="isAnimatingBubbleBoy$ | async as a"
    [isAnimating]="a"
    [name]="lastSeatOpenName"
    [rank]="lastRank"
></app-animation-bubble-boy>

<app-animation-seat-open
    *ngIf="isAnimatingSeatOpen$ | async as a"
    [isAnimating]="a"
    [price]="lastPrice"
    [name]="lastSeatOpenName"
    [rank]="lastRank"
></app-animation-seat-open>

<app-animation-winner
    [trigger]="winnerTrigger$ | async"
    [name]="winnerName"
    [price]="winnerPrice"
></app-animation-winner>

<div
    class="menu"
    [class.visible]="menuVisible"
></div>
