@import "src/styles/colors_texts";

:host {
    display: contents;
}

div.main-buttons {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    @media (max-width: 800px) {
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        padding: 80px;
        box-sizing: border-box;
    }

    .fa {
        color: #00437b;
    }
}

.info-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 12px;
    background: white;
    display: flex;
    flex-direction: column;
    border-top: solid 2px #00437b;
    border-left: solid 2px #00437b;

    span {
        display: flex;
        align-items: center;
        margin: 4px 0;
    }

    span i {
        margin-right: 8px;
    }
}

.hide-800 {
    @media (max-width: 800px) {
        display: none !important;
    }
}

button:not([type="submit"]) {
    margin: 4px;
    font-size: 20px;
}

.seat-open-animation {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 164px;
    font-weight: 900;
    width: 100%;
    height: 100%;
    background: rgba(white, 0.5);
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 99;

    .gray {
        color: #777;
        font-size: 100px;
    }

    .fa-skull {
        fill: darkred;
    }
}

.seat-open-animation.animate {
    display: flex;
    animation: fadeInOut 5s linear 1 forwards;
    flex-direction: column;
}

@keyframes fadeInOut {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: flex;
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    99% {
        display: flex;
        opacity: 0;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

.menu {
    display: none;
    position: absolute;
    bottom: 100px;
    width: 50vh;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    z-index: 999;
}

.menu.visible {
    display: block;
}
