<div class="draw-state">
    <div
        class="bullets"
    >
        <div
            class="bullet"
            [class.completed]="currentState() === TABLE_DRAW_STATE.SET_UP || currentState() === TABLE_DRAW_STATE.DRAWN"
        >
            1
        </div>

        <div
            class="line"
            [class.completed]="currentState() === TABLE_DRAW_STATE.SET_UP || currentState() ===TABLE_DRAW_STATE.DRAWN"
        ></div>

        <div
            class="bullet"
            [class.completed]="currentState() === TABLE_DRAW_STATE.DRAWN"
        >
            2
        </div>

        <div
            class="line"
            [class.completed]="currentState() === TABLE_DRAW_STATE.DRAWN"
        ></div>

        <div
            class="bullet"
        >
            3
        </div>
    </div>

    <div class="texts">
        <p [class.completed]="currentState() === TABLE_DRAW_STATE.SET_UP || currentState() === TABLE_DRAW_STATE.DRAWN">
            SET UP
        </p>

        <p [class.completed]="currentState() === TABLE_DRAW_STATE.DRAWN">
            DRAW
        </p>

        <p>
            MANAGE
        </p>
    </div>
</div>
