@import 'src/styles/colors_texts';

.draw-state {
    width: 100%;
    margin-top: 20px;
    transform: translateX(-36px);
}

.draw-state > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.bullets {
    width: 88.5%;
    margin-left: 52px;
}

.draw-state > div > div.bullet {
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
    background: #ccc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.draw-state > div > div.bullet.completed {
    background: #85BB65;
    color: white;
}

.draw-state > div > div.line {
    flex: 1 1 auto;
    height: 2px;
    background: #ccc;
    margin-left: 10px;
    margin-right: 10px;
}

.draw-state > div > div.line.completed {
    background: #3f403f;
}

.draw-state > div > p {
    width: 130px;
    text-align: center;
    color: #ccc;
}

.draw-state > div > p.completed {
    font-weight: bold;
    color: $primary;
}

.texts p {
    font-size: 16px;
}
