<div class="page-with-header wide">
    <button
        mat-raised-button
        (click)="seatOpen()"
    >
        SEAT OPEN
    </button>

    <button
        mat-raised-button
        (click)="seatBubbleBoy()"
    >
        BUBBLE BOY
    </button>

    <button
        mat-raised-button
        (click)="winner()"
    >
        winner
    </button>

    <!--    <app-animation-bubble-boy-->
    <!--        *ngIf="isAnimatingBubbleBoy$ | async as a"-->
    <!--        [isAnimating]="a"-->
    <!--        name="TEST NAME"-->
    <!--    ></app-animation-bubble-boy>-->

    <!--    <app-animation-seat-open-->
    <!--        *ngIf="isAnimatingSeatOpen$ | async as a"-->
    <!--        [isAnimating]="a"-->
    <!--        [price]="105"-->
    <!--        [rank]="1"-->
    <!--        name="TEST NAME"-->
    <!--    ></app-animation-seat-open>-->

    <!--    <app-animation-winner-->
    <!--        [trigger]="winnerTrigger$ | async"-->
    <!--        name="Vale"-->
    <!--        [price]="1000"-->
    <!--    ></app-animation-winner>-->
</div>
