<div class="page-with-header wide">
    <button
        mat-raised-button
        (click)="doConfetti()"
    >
        ANIMATE
    </button>

    <div *ngIf="lastPrice > 0"
         id="itm-animation"
    >
        <div id="money">
            @for (c of config; track c) {
                <div
                    class="bill"
                    [style.left.vw]="c.left"
                    [ngStyle]="{ 'animation-duration' :  (c.duration) + 's'}"
                ></div>
            }
        </div>
        <div id="money2">
            @for (c of config; track c) {
                <div
                    class="bill"
                    [style.left.vw]="c.left"
                    [ngStyle]="{ 'animation-duration' :  (c.duration) + 's'}"
                ></div>
            }
        </div>
    </div>

    <div
        class="seat-open-animation"
        [class.animate]="isAnimating"
    >
    <span class="word">
        <ng-container *ngIf="lastIsBubble; else notBubble;">
            <div class="double-icon">
                <i class="fa fa-burst"></i>
                <i class="fa fa-circle"></i>
            </div>
        </ng-container>

        <ng-template #notBubble>
            <ng-container *ngIf="lastPrice === 0">
                <i class="fa fa-skull"></i>
            </ng-container>

            <ng-container *ngIf="lastPrice > 0">
                <i class="fa fa-money-bill-wave"></i>
                <span class="green">
                    {{ lastPrice | number:'1.0-0' }} $
                </span>
            </ng-container>
        </ng-template>
    </span>
        <span class="word gray">
        SEAT OPEN
    </span>
        <br>
        <span class="word">
        {{ lastSeatOpenName.toLocaleUpperCase() }}
    </span>
    </div>
    <div id="confetti"></div>

</div>
