.page-with-slide-menu {
    width: 100%;
    display: flex;

    * {
        transition: 120ms ease-out;
    }
}

.side-menu {
    position: relative;

    & > .slider-button {
        position: fixed;
        right: 12px;
        bottom: 12px;
        opacity: 0;
        width: 64px;
        height: 64px;
        animation: fadeIn 500ms ease-in;
        animation-delay: 500ms;
        animation-fill-mode: forwards;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.page-with-slide-menu {
    .s-page {
        width: 100%;
        flex: 0 0 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .side-menu {
        width: 0;
        flex: 0 0 0;
        padding: 20px;
        box-sizing: border-box;
    }
}

.page-with-slide-menu.side-visible {
    .s-page {
        width: 66%;
        flex: 0 0 66%;
    }

    .side-menu {
        width: 33%;
        flex: 0 0 33%;

        & > .slider-button {
            right: 33%;
        }
    }
}

.fa {
    font-size: 40px;
    color: green;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
