<div class="page-with-slide-menu" [class.side-visible]="isSideVisible">
    <div class="s-page">
        <ng-content select="[page]"></ng-content>
    </div>
    <div class="side-menu">
        <div class="slider-button">
            @if (!isSideVisible) {
                <i
                    class="fa fa-plus-circle"
                    (click)="isSideVisible = true"
                ></i>
            } @else {
                <i
                    class="fa fa-minus-circle"
                    (click)="isSideVisible = false"
                ></i>
            }
        </div>
        <ng-content select="[side]"></ng-content>
    </div>
</div>
