.page-with-slide-menu {
    width: 100%;
    display: flex;

    * {
        transition: 120ms ease-out;
    }
}

.side-menu {
    position: relative;

    & > .fa {
        position: fixed;
        right: 0;
        bottom: 0;
        transform: translate(-50%, -50%);
        font-size: 64px;
        color: green;
        opacity: 0;
        animation: fadeIn 500ms ease-in;
        animation-delay: 500ms;
        animation-fill-mode: forwards;
    }
}

.page-with-slide-menu {
    .s-page {
        width: 100%;
        flex: 0 0 100%;
    }

    .side-menu {
        width: 0%;
        flex: 0 0 0%;
    }
}

.page-with-slide-menu.side-visible {
    .s-page {
        width: 66%;
        flex: 0 0 66%;
    }

    .side-menu {
        width: 33%;
        flex: 0 0 33%;

        & > .fa {
            right: 33%;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
