.blind-structure {
    padding-left: 32px;
    padding-bottom: 32px;
}

.header {
    display: flex;
    padding: 8px;
    margin-bottom: 4px;
    width: calc(100% - 44px);
}

.blind-element {
    width: calc(100% - 44px);
    display: flex;
    padding: 8px;
    margin-bottom: 4px;
    background: aliceblue;
    margin-right: 40px;
    font-size: 18px !important;
    position: relative;
}

.pause-element {
    width: calc(100% - 44px);
    display: flex;
    padding: 8px;
    margin-bottom: 4px;
    margin-right: 40px;
    font-size: 18px !important;
    background: rgba(175, 225, 175, 0.5);
    color: #023020;
}

.b-duration,
.b-small,
.b-big,
.b-ante,
.b-btn-ante,
.b-name {
    width: 18%;
    flex: 0 0 18%;
}

.b-action {
    width: 10%;
    flex: 0 0 10%;
}

.b-long-name {
    width: 72%;
    flex: 0 0 72%;
}

.b-insert-pause {
    height: 0;
    width: calc(100% - 30px);
    box-sizing: border-box;
    border-top: dotted 4px transparent;
    position: relative;
    cursor: pointer;
    opacity: 0.2;
    margin-bottom: 4px;

    > div {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(104%, -50%);
    }

    &:hover {
        opacity: 1;
        border-color: rgba(#85BB65, 0.6);
    }

    i {
        margin-right: 12px;
    }
}


.fa-trash {
    font-size: 16px !important;
}

.blind-element .index {
    position: absolute;
    left: 0;
    transform: translateX(-130%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    color: #023020;
    font-weight: bold;
    font-size: 12px;
    width: 24px;
    height: 24px;
    border-radius: 24px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.blind-level-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
