<app-app-header
    [user]="user$ | async"
></app-app-header>

<a [routerLink]="['/admin/series']">BACK</a>


<ng-container *ngIf="series$ | async as series">
    <div class="admin-header">
        <div class="flex flex-dir-column">
            <h4>Series</h4>
            <h2>
                {{ series.name }}
            </h2>
        </div>

        <div class="admin-header-buttons">
            <button
                mat-raised-button
                color="primary"
                [disabled]="!!series.locked"
                (click)="editSeries(series)"
            >
                <i class="fa fa-edit fa-ib"></i> EDIT
            </button>

            <button
                mat-raised-button
                color="warn"
                [disabled]="!!series.locked"
                (click)="deleteSeries(series)"
            >
                <i class="fa fa-trash fa-ib"></i> DELETE
            </button>

            @if (series.locked) {
                <button
                    mat-raised-button
                    (click)="unlock(series)"
                >
                    <i class="fa fa-lock-open fa-ib"></i> UNLOCK
                </button>
            } @else {
                <button
                    mat-raised-button
                    (click)="lock(series)"
                >
                    <i class="fa fa-lock fa-ib"></i> LOCK
                </button>
            }
        </div>
    </div>

    <mat-tab-group>
        <mat-tab label="Overview">
            <h4>Branding</h4>
            <app-user-image-round
                [imageUrl]="series.branding.logo"
                [size]="78"
            ></app-user-image-round>

            <div class="admin-body admin-body-flexed">
                <span>
                    <h4>Short description</h4>
                    <p>{{ series.shortDesc }}</p>
                </span>

                <span>
                    <h4>Long description</h4>
                    <p>{{ series.longDesc }}</p>
                </span>

                <span>
                    <h4> % to final pot / cap</h4>
                    <p>$ {{ series.percentage }} / {{ series.maxAmountPerTournament }}</p>
                </span>

                <span>
                    <h4>Password</h4>
                    <p>{{ series.password }}</p>
                </span>

                <span>
                    <h4>Number of tournaments</h4>
                    <p>$ {{ series.noOfTournaments }}</p>
                </span>

                <span>
                    <h4>Number of finalists</h4>
                    <p>$ {{ series.finalists }}</p>
                </span>

                <span>
                    <h4>Rank formula</h4>
                    <p>$ {{ series.rankFormula }}</p>
                </span>

                <span>
                    <h4>Owner's Email</h4>
                    <p>{{ series.ownerEmail }}</p>
                </span>
            </div>
        </mat-tab>

        <mat-tab label="Tournaments">
            <div class="admin-header">
                <h2>Tournaments</h2>

                <span class="admin-header-buttons">
                    <button
                        mat-raised-button
                        color="primary"
                        [disabled]="!!series.locked"
                        (click)="addTournament(series)"
                    >
                        <i class="fa fa-plus fa-ib"></i> ADD TOURNAMENTS
                    </button>
                </span>
            </div>

            <table class="admin-table">
                @for (tournament of series.tournaments; track tournament.id) {
                    <tr>
                        <td>
                            {{ tournament.date | date:'dd.MM.YYYY' }}
                        </td>
                        <td>
                            {{ tournament.name }}
                        </td>
                        <td>
                            <i
                                *ngIf="!series.locked"
                                class="fa fa-trash"
                                (click)="deleteTournamentFromSeries(series, tournament.id)"
                            ></i>
                        </td>
                    </tr>
                }
            </table>
        </mat-tab>

        <mat-tab label="Players">
            <div class="admin-header">
                <h2>Disqualified Players</h2>

                <!--                <span class="admin-header-buttons">-->
                <!--                    <button-->
                <!--                        mat-raised-button-->
                <!--                        color="warn"-->
                <!--                        [disabled]="!!series.locked"-->
                <!--                        (click)="addTournament(series)"-->
                <!--                    >-->
                <!--                        <i class="fa fa-cancel fa-ib"></i> DISQUALIFY PLAYER-->
                <!--                    </button>-->
                <!--                </span>-->
            </div>

            <mat-form-field>
                <mat-label>Player *</mat-label>
                <mat-select
                    name="eliminated"
                    #selectDisq
                >
                    @for (player of playersEligibleForDisqualification$ | async; track player.id) {
                        <mat-option [value]="player.id">
                            {{ player.name }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <button
                mat-raised-button
                color="warn"
                [disabled]="!!series.locked"
                (click)="disqualifyPlayer(series.id, selectDisq.value)"
            >
                <i class="fa fa-cancel fa-ib"></i> DISQUALIFY PLAYER
            </button>

            <hr>

            <table class="admin-table">
                <ng-container *ngFor="let player of disqualifiedPlayers$ | async">
                    <tr>
                        <td>
                            <app-user-image-round [imageUrl]="player.image"></app-user-image-round>
                        </td>
                        <td>
                            {{ player.name }}
                        </td>
                        <td>
                            <i
                                *ngIf="!series.locked"
                                class="fa fa-trash"
                                (click)="removeDisqualification(series.id, player.id)"
                            ></i>
                        </td>
                    </tr>
                </ng-container>
            </table>
        </mat-tab>

    </mat-tab-group>

</ng-container>

