<div class="stats-container gap-20">
    @if (isWithRebuy()) {
        <div class="flex flex-dir-column justify-center align-center">
            <h4>
                Rebuys
            </h4>
            <p class="big">
                {{ textRebuys() }}
            </p>
            <!--                        <span class="small">-->
            <!--                        x {{ tournament().rebuyStack | number:'':'de-CH' }}-->
            <!--                    </span>-->
        </div>
    }

    @if (isWithAddon()) {
        <div class="flex flex-dir-column justify-center align-center">
            <h4>
                Addons
            </h4>
            <p class="big">
                {{ textAddons() }}
            </p>
            <!--                        <span class="small">-->
            <!--                        x {{ tournament().addonStack | number:'':'de-CH' }}-->
            <!--                    </span>-->
        </div>
    }
</div>
