<button
    class="main"
    type="button"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    (click)="isOverlayOpen = !isOverlayOpen"
>
    <i class="fa fa-gear"></i>
</button>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOverlayOpen"
    [cdkConnectedOverlayHasBackdrop]="true"
    (backdropClick)="isOverlayOpen = false"
>
    <div class="overlay">
        <button
            *ngIf="!isSimpleTournament"
            (click)="addPlayer.emit()"
        >
            <i class="fa fa-user"></i>
            <span>
                add Player
            </span>
        </button>

        <button
            *ngIf="tournament.withRebuy && !isSimpleTournament && !isRebuyPhaseFinished"
            (click)="addRebuy.emit()"
        >
            <i class="fa fa-money"></i>
            <span>
                Rebuy
            </span>
        </button>

        <button
            *ngIf="tournament.withReEntry && !isSimpleTournament && !isRebuyPhaseFinished"
            (click)="addReEntry.emit()"
        >
            <i class="fa fa-money"></i>
            <span>
                Re-Entry
            </span>
        </button>

        <button
            *ngIf="tournament.withAddon && !isSimpleTournament && !isRebuyPhaseFinished"
            (click)="addAddon.emit()"
        >
            <i class="fa fa-database"></i>
            <span>
                Addon
            </span>
        </button>

        <button
            *ngIf="!isSimpleTournament"
            (click)="seatOpen.emit()"
        >
            <i class="fa fa-skull">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 512 512">
                    <path
                        d="M416 398.9c58.5-41.1 96-104.1 96-174.9C512 100.3 397.4 0 256 0S0 100.3 0 224c0 70.7 37.5 133.8 96 174.9c0 .4 0 .7 0 1.1v64c0 26.5 21.5 48 48 48h48V464c0-8.8 7.2-16 16-16s16 7.2 16 16v48h64V464c0-8.8 7.2-16 16-16s16 7.2 16 16v48h48c26.5 0 48-21.5 48-48V400c0-.4 0-.7 0-1.1zM96 256a64 64 0 1 1 128 0A64 64 0 1 1 96 256zm256-64a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
                </svg>
            </i>
            <span>
                Seat Open
            </span>
        </button>

        <button
            *ngIf="!isSimpleTournament && isRebuyPhaseFinished"
            (click)="makeDeal.emit()"
        >
            <i class="fa fa-handshake-o"></i>
            <span>
                Make Deal
            </span>
        </button>

        <hr *ngIf="!isSimpleTournament">

        <button
            *ngIf="!isSimpleTournament"
            (click)="createPlayer.emit()"
        >
            <i class="fa fa-user"></i>
            <span>
                create Player
            </span>
        </button>

        <hr *ngIf="!isSimpleTournament">

        <button *ngIf="running" (click)="pause.emit()">
            <i class="fa fa-pause"></i>
            <span>
                PAUSE
            </span>
        </button>

        <button *ngIf="!running" (click)="start.emit()">
            <i class="fa fa-play"></i>
            <span>
                START
            </span>
        </button>

        <button (click)="addMinute.emit()">
            <i class="fa fa-clock-o"></i>
            <span>
                + 1 min
            </span>
        </button>

        <button (click)="nextLevel.emit()">
            <i class="fa fa-chevron-circle-right"></i>
            <span>
                NEXT
            </span>
        </button>

        <button [routerLink]="['/admin']" *ngIf="isAuthenticated$ | async">
            <i class="fa fa-gears"></i>
            <span>
                ADMIN
            </span>
        </button>
    </div>
</ng-template>



