:host {
    display: contents;
}

div.main-buttons {
    display: flex;
}

button.main {
    width: 6vh;
    height: 6vh;
    border-radius: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa {
        font-size: 3vh;
    }
}

button {
    margin: 4px;
    font-size: 2vh;
}

.overlay {
    background: #ddd;
    padding: 12px;
    display: flex;
    width: 17vw;
    flex-direction: column;

    button {
        margin-top: 2px;
        margin-bottom: 2px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        color: #666;
        font-size: 2.5vh;
        padding-top: 0.8vh;
        padding-bottom: 0.8vh;

        .fa {
            width: 3vw;
            margin-right: 0.4vw;
            font-size: 3vh !important;
        }
    }
}

.fa-database,
.fa-money,
.fa-play,
.fa-chevron-circle-right,
.fa-chevron-circle-left {
    color: green;
}

.fa-clock-o,
.fa-user,
.fa-window-maximize,
.fa-times-rectangle,
.fa-gears {
    color: black;
}

.fa-skull {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        fill: red;
    }
}

.fa-toggle-on,
.fa-toggle-off {
    color: #00437b;
}
