:host {
    display: contents;
}

div.main-buttons {
    display: flex;

    @media (max-width: 800px) {
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        padding: 8vh;
        box-sizing: border-box;
    }
}

.hide-800 {
    @media (max-width: 800px) {
        display: none !important;
    }
}

button.main {
    width: 6vh;
    height: 6vh;
    border-radius: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 800px) {
        width: 16vh;
        height: 16vh;
        border-radius: 16vh;
    }

    .fa {
        font-size: 3vh;

        @media (max-width: 800px) {
            font-size: 8vh;
        }
    }
}

button {
    margin: 4px;
    font-size: 2vh;
}

.overlay {
    background: #ddd;
    padding: 12px;
    display: flex;
    width: 17vw;
    flex-direction: column;

    button {
        margin-top: 2px;
        margin-bottom: 2px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        color: #666;
        font-size: 2.5vh;
        padding-top: 0.8vh;
        padding-bottom: 0.8vh;

        .fa {
            width: 3vw;
            margin-right: 0.4vw;
            font-size: 3vh !important;

            @media (max-width: 800px) {
                width: 20%;
                font-size: 8vh;
                margin-top: 12px;
                margin-bottom: 12px;
            }
        }
    }

    @media (max-width: 800px) {
        width: 100%;
    }
}

.fa-database,
.fa-money,
.fa-play,
.fa-chevron-circle-right,
.fa-chevron-circle-left {
    color: green;
}

.fa-clock-o,
.fa-user,
.fa-window-maximize,
.fa-times-rectangle,
.fa-gears {
    color: black;
}

.fa-skull {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        fill: red;

        @media (max-width: 800px) {
            height: 72px;
        }
    }
}

.fa-toggle-on,
.fa-toggle-off {
    color: #00437b;
}
