<h2>
    @if (data.structure !== null) {
        <i class="fa fa-edit"></i>
        Edit
    } @else {
        <i class="fa fa-plus"></i>
        Create
    }

    Blind Structure
</h2>

<form
    (ngSubmit)="onSubmit()"
>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input
            matInput
            [ngModel]="model.name()"
            (ngModelChange)="model.name.set($event)"
            name="name"
        />
    </mat-form-field>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!model.isValid()"
    >
        @if (data.structure !== null) {
            EDIT
        } @else {
            CREATE
        }
    </button>

    <button
        mat-raised-button
        (click)="closeDialog($event)"
    >
        CANCEL
    </button>
</form>

