<div class="inner-container">
    <h3>
        Ranking
    </h3>

    <div class="overflow-y-auto background-panel">
        <div id="topr"></div>
        <table>
            <tr>
                <th><small>Name</small></th>
                <th class="center"><small>Rank</small></th>
                <!--                <th class="center"><small>Re-Entries</small></th>-->
                <th class="center"><small>Rebuys</small></th>
                <th class="center"><small>Addons</small></th>
                <th class="center"><small>Price</small></th>
                <th
                    *ngIf="formula"
                    class="center"
                >
                    Points
                </th>
            </tr>
            <ng-container *ngFor="let e of missingRanks()">
                <tr class="opaque">
                    <td>
                <span class="flex-td">
                    <app-user-image-round
                        [imageUrl]="e.image"
                    ></app-user-image-round>
                    {{ e.name }}
                </span>
                    </td>
                    <td class="center">
                        {{ e.rank | number }}
                    </td>
                    <!--                    <td class="center">-->
                    <!--                        - -->
                    <!--                    </td>-->
                    <td class="center">
                        -
                    </td>
                    <td class="center">
                        -
                    </td>
                    <td class="center">
                        -
                    </td>
                    <td
                        *ngIf="formula"
                        class="center"
                    >
                        -
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngFor="let e of combFinishes()">
                <tr>
                    <td>
                <span class="flex-td">
                    <app-user-image-round
                        [imageUrl]="e.image"
                    ></app-user-image-round>
                    {{ e.name }}
                </span>
                    </td>
                    <td class="center">
                        {{ e.rank | number }}
                    </td>
                    <!-- TODO condiiton -->
                    <!--                    <td class="center">-->
                    <!--                        <app-bullets [number]="e.reEntries"></app-bullets>-->
                    <!--                    </td>-->
                    <td class="center">
                        <app-bullets [number]="e.rebuys"></app-bullets>
                    </td>
                    <td class="center">
                        <app-bullets [number]="e.addons"></app-bullets>
                    </td>
                    <td class="center">
                        $ {{ e.price | number:'':'de-CH' }}
                    </td>
                    <td
                        *ngIf="formula"
                        class="center"
                    >
                        {{ calcPoints(e) }}
                    </td>
                </tr>
            </ng-container>
        </table>

        <div id="bottomr"></div>
    </div>
</div>
