<div class="inner-container">
    <h3>
        Ranking
    </h3>

    <div class="overflow-y-auto background-panel">
        <div id="topr"></div>
        <table>
            <tr>
                <th><small>Name</small></th>
                <th class="center"><small>Rank</small></th>

                @if (withReEntry()) {
                    <th class="center"><small>Re-Entries</small></th>
                }

                @if (withRebuy()) {
                    <th class="center"><small>Rebuys</small></th>
                }

                @if (withAddon()) {
                    <th class="center"><small>Addons</small></th>
                }

                <th class="flex justify-end"><small>Price</small></th>

                @if (formula !== undefined && formula !== null) {
                    <th class="center"><small>Points</small></th>
                }
            </tr>
            <ng-container *ngFor="let e of missingRanks()">
                <tr class="opaque">
                    <td>
                        <span class="flex-td">
                            <app-user-with-image
                                [name]="e.name"
                                [image]="e.image"
                            ></app-user-with-image>
                        </span>
                    </td>
                    <td class="center">
                        {{ e.rank | number }}
                    </td>

                    @if (withReEntry()) {
                        <td class="center">-</td>
                    }

                    @if (withRebuy()) {
                        <td class="center">-</td>
                    }

                    @if (withAddon()) {
                        <td class="center">-</td>
                    }

                    <td class="text-align-right">-</td>

                    @if (formula !== undefined && formula !== null) {
                        <td class="center">
                            -
                        </td>
                    }
                </tr>
            </ng-container>
            <ng-container *ngFor="let e of ranking()">
                <tr>
                    <td>
                        <app-user-with-image
                            [name]="e.name"
                            [image]="e.image"
                        ></app-user-with-image>
                    </td>
                    <td class="center">
                        {{ e.rank | number }}
                    </td>

                    @if (withReEntry()) {
                        <td class="center">
                            <app-bullets [number]="e.reEntries"></app-bullets>
                        </td>
                    }

                    @if (withRebuy()) {
                        <td class="center">
                            <app-bullets [number]="e.rebuys"></app-bullets>
                        </td>
                    }

                    @if (withAddon()) {
                        <td class="center">
                            <app-bullets [number]="e.addons"></app-bullets>
                        </td>
                    }

                    <td class="text-align-right">
                        <span [class.green]="e.price > 0">
                            $ {{ e.price | number:'':'de-CH' }}
                        </span>
                    </td>

                    @if (formula !== undefined && formula !== null) {
                        <td class="center">
                            {{ e | formulaPoints:formula | number:'1.1-1' }}
                        </td>
                    }
                </tr>
            </ng-container>
        </table>

        <div id="bottomr"></div>
    </div>
</div>
