<ng-container *ngIf="data.multi; else formSingle">
    <h2>Add Players to "{{ data.tournament.name }}"</h2>

    <form
        [formGroup]="form"
    >
        <formly-form
            [form]="form"
            [fields]="fields"
            [options]="options"
            [model]="modelMulti"
        ></formly-form>

        <button
            type="submit"
            (click)="onSubmitMulti(modelMulti, false)"
            [disabled]="!form.valid"
        >
            ADD
        </button>

        <button
            type="submit"
            (click)="onSubmitMulti(modelMulti, true)"
            [disabled]="!form.valid"
        >
            ADD WITH ENTRY
        </button>
    </form>
</ng-container>

<ng-template #formSingle>
    <h2>Add Player to "{{ data.tournament.name }}"</h2>

    <form
        [formGroup]="form"
    >

        <formly-form
            [form]="form"
            [fields]="fields"
            [options]="options"
            [model]="model"
        ></formly-form>

        <button
            type="submit"
            [disabled]="!form.valid"
            (click)="onSubmit(model, false)"
        >
            ADD
        </button>

        <button
            type="submit"
            [disabled]="!form.valid"
            (click)="onSubmit(model, true)"
        >
            ADD WITH ENTRY
        </button>
    </form>
</ng-template>

