@import "src/styles/colors_texts";

:host {
    display: contents;
}

.bullets {
    display: flex;
    width: 100%;
    justify-content: center;
}

.fa {
    font-size: 12px;
    margin-right: 4px;
}

.bullet {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: $primaryDark;
    margin-right: 4px;
}
