:host {
    display: contents;
}

.bullets {
    display: flex;
    width: 100%;
    justify-content: center;
}

.bullet {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #00437b;
}
