@import "src/styles/colors_texts";

:host {
    display: contents;
}

.bullets {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.fa {
    font-size: 10px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.bullet {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: $primaryDark;
    margin-right: 4px;
}

div.break {
    flex-basis: 100%;
    height: 0;
}
