<h2>
    @if (data.branding === null) {
        Create
    } @else {
        Edit
    }
    Create Branding
</h2>

<form
    [formGroup]="form"
    (ngSubmit)="onSubmit(model)"
>
    <formly-form
        [form]="form"
        [fields]="fields"
        [options]="options"
        [model]="model"
    ></formly-form>

    <h4>Preview</h4>
    <img
        class="preview-image"
        [src]="model.logo"
        onerror="this.src='http:///i.imgur.com/hfM1J8s.png'"
    />

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!form.valid"
    >
        @if (data.branding === null) {
            CREATE
        } @else {
            EDIT
        }
    </button>
</form>

<button
    mat-raised-button
    (click)="cancel()"
>
    CANCEL
</button>
