@import "src/styles/colors";

:host {
    display: contents;
}

.header {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    background: rgb(243, 242, 241);
    box-sizing: border-box;
}

h2 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    color: $primary;
    font-family: sans-serif !important;
}

h2.tourney {
    font-weight: bold;
    text-transform: uppercase;
}

span {
    font-family: 'Pinyon Script', cursive;
    font-size: 5vh;
    margin-right: 12px;
    font-weight: 400;
}

img {
    height: 6vh;
}

.subtitle {
    display: flex;
    align-items: center;

    span {
        font-family: 'Segoe UI';
        font-size: 2vh;
        color: $primary;
        font-weight: bold;
    }
}
