@import "src/styles/colors_texts";

:host {
    display: contents;
}

h1 {
    font-size: 4.37vh;
    font-weight: bold;
    padding: 10px 20px;
    margin-bottom: 0;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #85BB65;

    span {
        color: $primary;
    }
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    color: $primary;

    span:nth-child(2) {
        color: $primaryDark;
    }
}

h2.no-mb {
    margin-bottom: 0 !important;
}

h1 > span,
h2 > span {
    font-size: 16px;

    @media (max-width: 1280px) {
        font-size: 12px;
    }
}

h4 {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        display: flex;
        align-items: center;
    }
}

th, td {
    font-size: 24px;
    text-align: center;
}

* {
    text-align: center;
}

.payout {
    padding: 0 16px;
    box-sizing: border-box;
}

.fa-handshake {
    color: #555;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 12px;
}

.fa-magic {
    font-size: 12px;
}

.fe-edit {
    font-size: 14px !important;
}

span.regular {
    margin-left: 12px;
    opacity: 0.2;
    font-weight: bold !important;
}

p {
    font-size: 2vh;
    color: #00437b;
    margin-left: 1vh;
}
