@import "src/styles/colors_texts";

:host {
    display: contents;
}

h1 {
    font-size: calc(100vw / 40);
    font-weight: bold;
    padding: 0 calc(100vw / 100);
    margin-bottom: 0;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #85BB65;

    span {
        color: $primary;
    }
}

h2 {
    margin-top: 0;
    margin-bottom: calc(100vw / 100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(100vw / 250) calc(100vw / 100);
    color: $primary;

    span:nth-child(2) {
        color: $primaryDark;
        font-size: calc(100vw / 60);
    }
}

h2.no-mb {
    margin-bottom: 0 !important;
}

h1 > span,
h2 > span {
    font-size: calc(100vw / 100);
}

h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;

    span {
        display: flex;
        align-items: center;
    }
}

th, td {
    font-size: 1.2vw;
    text-align: center;
    height: calc(100vw / 54); // 1922 / 32 =
}

p {
    font-size: 1.2vw !important;
    margin-left: 0 !important;
}

* {
    text-align: center;
}

.payout {
    padding: 0 16px;
    box-sizing: border-box;
}

.fa-handshake {
    color: #555;
    font-size: 0.8vh;
    margin-left: 20px;
    margin-right: 12px;
}

.fa-magic {
    font-size: calc(100vw / 166);
}

.fe-edit {
    font-size: calc(100vw / 142) !important;
}

span.regular {
    margin-left: 12px;
    opacity: 0.2;
    font-weight: bold !important;
}

p {
    font-size: 2vh;
    color: #00437b;
    margin-left: 1vh;
}
