<h2>Make Deal</h2>

<div class="flexed">
    <span>
        To distribute:
    </span>
    <div>
        $ {{ toDistribute }}
    </div>
    <span>
        Left:
    </span>
    <div>
        $ {{ toDistribute - total }}
    </div>
</div>

<form
    style="width: 800px"
    (ngSubmit)="onSubmit(model)"
>
    <formly-form
        [form]="form"
        [fields]="fields"
        [options]="options"
        [model]="model"
        (modelChange)="modelChange(model)"
    ></formly-form>

    <h3 [class.red]="total != toDistribute  ">
        Total: {{ total }}
    </h3>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!form.valid || total != toDistribute"
    >
        MAKE DEAL
    </button>
</form>
