<h2><i class="fa fa-handshake"></i> Make Deal</h2>

<div class="flexed">
    <h4>
        To distribute:
    </h4>
    <div class="green">
        $ {{ toDistribute }}
    </div>
    <h4>
        Left:
    </h4>
    <div class="green">
        $ {{ toDistribute - total }}
    </div>
</div>

<form
    class="w-800px"
    (ngSubmit)="onSubmit(model)"
>
    <formly-form
        [form]="form"
        [fields]="fields"
        [options]="options"
        [model]="model"
        (modelChange)="modelChange(model)"
    ></formly-form>

    <h4 class="total"
        [class.red]="total != toDistribute"
    >
        {{ total }}
    </h4>


    <button
        mat-raised-button
        (click)="distributeEvenly($event)"
    >
        <i class="fa fa-balance-scale"></i> Distribute evenly
    </button>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!form.valid || total != toDistribute"
    >
        MAKE DEAL
    </button>
</form>
