h3 {
    color: black;
}

.red {
    color: red;
}

.flexed {
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    span {
        font-size: 20px;
    }

    div {
        font-size: 30px;
        margin-left: 12px;
        margin-right: 36px;
        font-weight: bold;
    }
}

h4 {
    margin: 0;
}

h4.total {
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 36px;
    padding-left: 16px;
}
