<h2>Adapt payout</h2>

<div class="flexed">
    <span>
        To distribute:
    </span>
    <div>
        $ {{ toDistribute }}
    </div>
</div>

<form
    class="w-100 flexed"
    (ngSubmit)="onSubmit()"
>
    @for (payout of model | keyvalue; track payout) {
        <mat-form-field>
            <mat-label>{{ +payout.key + 1 }}</mat-label>
            <input
                matInput
                type="number"
                [ngModel]="model[payout.key].payout"
                (ngModelChange)="modelChange(payout.key, $event)"
                [disabled]="model[payout.key].isDisabled"
                [name]="payout.key"
            />
        </mat-form-field>
    }

    <button
        mat-raised-button
        [disabled]="(model | numberOfKeys) >= playersLeft"
        (click)="addPayoutField()"
    >
        Add Payout Step
    </button>

    <h3 [class.red]="total != data.pricepool  ">
        Total: {{ total | number }}
    </h3>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="(model | numberOfKeys) === 0 || toDistribute !== 0"
    >
        ADAPT PAYOUTS
    </button>
</form>
