<h2>Adapt payout</h2>

<div class="flexed">
    <span>
        To distribute:
    </span>
    <div>
        $ {{ toDistribute }}
    </div>
</div>

<form>
    <formly-form
        [form]="form"
        [fields]="fields"
        [options]="options"
        [model]="model"
        (modelChange)="modelChange(model)"
    ></formly-form>

    <button
        mat-raised-button
        [disabled]="fields.length >= playersLeft"
        (click)="addPayoutField()"
    >
        Add Payout Step
    </button>

    <h3 [class.red]="total != data.pricepool  ">
        Total: {{ total | number }}
    </h3>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!form.valid || toDistribute !== 0"
        (click)="onSubmit(model)"
    >
        ADAPT PAYOUTS
    </button>
</form>
