<app-app-header
    [user]="user$ | async"
></app-app-header>

<a [routerLink]="['/admin/player']">BACK</a>

@if (player$ | async; as player) {
    <div class="admin-header">
        <div class="flex flex-dir-column">
            <h4>Player</h4>
            <h2>
                {{ player.name }}
            </h2>
        </div>

        <div class="admin-header-buttons">
            <button
                mat-raised-button
                color="primary"
                [disabled]="!!player.locked"
                (click)="editPlayer(player)"
            >
                <i class="fa fa-edit fa-ib"></i> EDIT
            </button>

            <button
                mat-raised-button
                color="warn"
                [disabled]="!!player.locked"
                (click)="deletePlayer(player)"
            >
                <i class="fa fa-trash fa-ib"></i> DELETE
            </button>

            @if ((email$ | async) !== player.email) {
                <button
                    mat-raised-button
                    color="accent"
                    [disabled]="!!player.locked"
                    (click)="thatsMe(player)"
                >
                    <i class="fa fa-user fa-ib"></i> THAT'S ME
                </button>
            }

            @if ((email$ | async) === player.email) {
                <button
                    mat-raised-button
                    color="accent"
                    [disabled]="!!player.locked"
                    (click)="thatsNotMe(player)"
                >
                    <i class="fa fa-user fa-ib"></i> THAT'S NOT ME
                </button>
            }

            @if (player.locked) {
                <button
                    mat-raised-button
                    (click)="unlock(player)"
                >
                    <i class="fa fa-lock-open fa-ib"></i> UNLOCK
                </button>
            } @else {
                <button
                    mat-raised-button
                    (click)="lock(player)"
                >
                    <i class="fa fa-lock fa-ib"></i> LOCK
                </button>
            }
        </div>
    </div>

    <h4>Image</h4>
    <app-user-image-round
        [imageUrl]="player.image"
        [size]="78"
    ></app-user-image-round>

    <h4>Email</h4>
    <p>{{ player.email ?? '-' }}</p>
}

