<div
    class="row"
    [class.temp]="t.temp"
>
    <div>
        <i *ngIf="!isExpanded" (click)="isExpanded = true" class="fa fa-chevron-circle-up clickable"></i>
        <i *ngIf="isExpanded" (click)="isExpanded = false" class="fa fa-chevron-circle-down clickable"></i>
        {{ t.date | date:'dd.MM.YYYY' }}
    </div>
    <div>
        <i *ngIf="t.temp" class="fa fa-exclamation-triangle"></i> {{ t.name }}
    </div>
    <div>
        {{ t.location }}
    </div>
    <div>
        <div class="table-actions">
            <i
                class="fa fa-trash"
                (click)="deleteTournament()"
            ></i>

            <i
                class="fa fa-share"
                (click)="openTournament()"
            ></i>
        </div>
    </div>

    <div
        class="lower"
        [class.expanded]="isExpanded"
    >
        <p>dfafs</p>
        <p>dfafs</p>
        <p>dfafs</p>
        <p>dfafs</p>
        <p>dfafs</p>
        <p>dfafs</p>
    </div>
</div>

<!--<tr-->
<!--    class="lower"-->
<!--    [class.temp]="t.temp"-->
<!--&gt;-->
<!--    <td colspan="4">-->
<!--        LALALALA-->
<!--    </td>-->
<!--</tr>-->

<!--<div-->
<!--    class="list-item"-->
<!--    [class.list-item-temp]="t.temp"-->
<!--&gt;-->
<!--    <i-->
<!--        class="fa fa-trash"-->
<!--        (click)="deleteTournament()"-->
<!--    ></i>-->

<!--    <i-->
<!--        class="fa fa-share"-->
<!--        (click)="openTournament()"-->
<!--    ></i>-->

<!--    <div>-->
<!--        <div class="li-pair">-->
<!--            <h4>-->
<!--                Date-->
<!--            </h4>-->
<!--            <span>-->
<!--                {{ t.date | date:'dd.MM.YYYY' }}-->
<!--            </span>-->
<!--        </div>-->

<!--        <div class="li-pair">-->
<!--            <h4>-->
<!--                Name-->
<!--            </h4>-->
<!--            <span>-->
<!--                {{ t.name }}-->
<!--            </span>-->
<!--        </div>-->

<!--        <div class="li-pair">-->
<!--            <h4>-->
<!--                Location-->
<!--            </h4>-->
<!--            <span>-->
<!--                {{ t.location }}-->
<!--            </span>-->
<!--        </div>-->
<!--    </div>-->

<!--    <span class="flex justify-center align-center">-->
<!--    <i *ngIf="!isExpanded" (click)="isExpanded = true" class="fa fa-chevron-circle-up clickable"></i>-->
<!--    <i *ngIf="isExpanded" (click)="isExpanded = false" class="fa fa-chevron-circle-down clickable"></i>-->
<!--    </span>-->

<!--    <span-->
<!--        class="expandable"-->
<!--        [class.expanded]="isExpanded"-->
<!--    >-->

<!--        <div>-->
<!--            <div class="li-pair">-->
<!--                <h4>-->
<!--                    BuyIn-->
<!--                </h4>-->
<!--                <span>-->
<!--                $ {{ +t.buyInAmount | number:'':'de-CH' }}-->
<!--            </span>-->
<!--            </div>-->

<!--            <div class="li-pair">-->
<!--                <h4>-->
<!--                    $ Rebuy / No. of Rebuys-->
<!--                </h4>-->
<!--                <span>-->
<!--                $ {{ t.rebuyAmount | number:'':'de-CH' }} / {{ t.noOfRebuys }}-->
<!--            </span>-->
<!--            </div>-->

<!--            <div class="li-pair">-->
<!--                <h4>-->
<!--                    $ Addon / Chips Addon-->
<!--                </h4>-->
<!--                <span>-->
<!--                $ {{ t.addonAmount | number:'':'de-CH' }} / {{ t.addonStack }}-->
<!--            </span>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div>-->
<!--            <div class="li-pair">-->
<!--                <h4>-->
<!--                    Start Stack-->
<!--                </h4>-->
<!--                <span>-->
<!--                {{ t.startStack | number:'':'de-CH' }}-->
<!--            </span>-->
<!--            </div>-->

<!--            <div class="li-pair">-->
<!--                <h4>-->
<!--                    Payout-->
<!--                </h4>-->
<!--                <span>-->
<!--                {{ payout }}-->
<!--            </span>-->
<!--            </div>-->

<!--            <div class="li-pair">-->
<!--                <h4>-->
<!--                    $ Initial Pricepool-->
<!--                </h4>-->
<!--                <span>-->
<!--                $ {{ t.initialPricePool | number:'':'de-CH' }}-->
<!--            </span>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div>-->
<!--            <div class="li-pair">-->
<!--                <h4>-->
<!--                    Rank Formula-->
<!--                </h4>-->
<!--                <span>-->
<!--                {{ t.rankFormula }}-->
<!--            </span>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div>-->
<!--            <div class="li-pair">-->
<!--                <h4>-->
<!--                    Players <i class="fa fa-plus-circle" (click)="addPlayers()"></i>-->
<!--                </h4>-->
<!--                <span>-->
<!--                <ng-container *ngFor="let p of t.players">-->
<!--                    <div class="player deletable">-->
<!--                        <app-user-image-round-->
<!--                            [imageUrl]="p.image"-->
<!--                        ></app-user-image-round>-->
<!--                        {{ p.name }}-->
<!--                        <i-->
<!--                            class="fa fa-trash"-->
<!--                            (click)="deletePlayerFromTournament(p.id)"-->
<!--                        ></i>-->
<!--                    </div>-->
<!--                </ng-container>-->
<!--            </span>-->
<!--            </div>-->

<!--            <div class="li-pair">-->
<!--                <h4>-->
<!--                    Blinds <i class="fa fa-plus-circle" (click)="addBlinds()"></i>-->
<!--                </h4>-->
<!--                <span>-->
<!--                <ng-container *ngFor="let b of t.structure; let i = index;">-->
<!--                    <div class="blind deletable">-->
<!--                        <span>-->
<!--                             ({{ b.position }})-->
<!--                        </span>-->
<!--                        <span>-->
<!--                            {{ b.duration}}min-->
<!--                        </span>-->
<!--                        <ng-container *ngIf="!b.isPause">-->
<!--                            <span>-->
<!--                                 {{ b.sb }}-->
<!--                            </span>-->
<!--                            <span>-->
<!--                                {{ b.bb }}-->
<!--                            </span>-->
<!--                        </ng-container>-->
<!--                        <ng-container *ngIf="b.isPause">-->
<!--                            <span>-->
<!--                                 PAUSE-->
<!--                            </span>-->
<!--                            <span *ngIf="b.isChipUp">-->
<!--                                (CHIP UP)-->
<!--                            </span>-->
<!--                            <span *ngIf="b.endsRebuy">-->
<!--                                ENDS REBUY-->
<!--                            </span>-->
<!--                        </ng-container>-->
<!--                        <i-->
<!--                            class="fa fa-trash"-->
<!--                            (click)="deleteBlindFromTournament(b.id)"-->
<!--                        ></i>-->
<!--                    </div>-->
<!--                    <div-->
<!--                        *ngIf="canInsertPause[i]"-->
<!--                        class="insert-pause"-->
<!--                    >-->
<!--                        <span (click)="addPause(b.position)">-->
<!--                            <i-->
<!--                                class="fa fa-plus-circle"-->
<!--                            ></i>-->
<!--                            INSERT PAUSE-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </ng-container>-->
<!--            </span>-->
<!--            </div>-->
<!--        </div>-->

<!--    </span>-->
<!--</div>-->
