:host {
    display: contents;
}

.player {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.blind {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    position: relative;

    & > span {
        min-width: 80px;
    }

    .fa-trash {
        position: absolute;
        right: 0;
    }
}

div.insert-pause {
    font-size: 14px;
    padding-left: 20px;

    .fa {
        font-size: 16px;
    }

    span {
        cursor: pointer;
        text-align: center;
        padding: 2px;
        opacity: 0.4;

        &:hover {
            opacity: 1;
            background: white;
        }
    }
}
