<app-app-header
    [user]="user$ | async"
></app-app-header>

<a [routerLink]="['/admin']">BACK</a>

<ng-container *ngIf="tournament$ | async as tournament">
    <div class="admin-header">
        <div class="flex flex-dir-column">
            <h4>Tournament</h4>
            <h2>
                {{ tournament.name }}
            </h2>
        </div>

        <span class="admin-header-buttons">
            <button
                mat-raised-button
                color="primary"
                (click)="editTournament(tournament)"
            >
                <i class="fa fa-edit fa-ib"></i> EDIT
            </button>

            <button
                mat-raised-button
                color="warn"
                (click)="deleteTournament(tournament)"
            >
                <i class="fa fa-trash fa-ib"></i> DELETE
            </button>
        </span>
    </div>

    <mat-tab-group>
        <mat-tab label="Overview">
            <h4>Date</h4>
            <p>{{ tournament.date | date:'dd.MM.YYYY' }}</p>

            <h4>Location</h4>
            <p>{{ tournament.locationName }}</p>

            <h4>Password</h4>
            <p>{{ tournament.password }}</p>

            <h4>Buy-In</h4>
            <p>$ {{ tournament.buyInAmount }}</p>

            <h4>Number of Rebus</h4>
            <p>{{ tournament.noOfRebuys }}</p>

            <h4>With Re-Entry?</h4>
            <p>$ {{ tournament.withReEntry }}</p>

            <h4>Number of Re-eEntries</h4>
            <p>$ {{ tournament.noOfReEntries }}</p>

            <h4>Rebuy Stack</h4>
            <p>$ {{ tournament.rebuyStack }}</p>

            <h4>Rebuy Cost</h4>
            <p>$ {{ tournament.rebuyAmount }}</p>

            <h4>Addon Stack</h4>
            <p>$ {{ tournament.addonStack }}</p>

            <h4>Addon Cost</h4>
            <p>$ {{ tournament.addonAmount }}</p>

            <h4>Initial Pricepool</h4>
            <p>$ {{ tournament.initialPricePool }}</p>
        </mat-tab>

        <mat-tab label="Players">

            <button
                mat-raised-button
                color="primary"
                (click)="addPlayers(tournament)"
            >
                ADD PAYERS
            </button>
            <h2>Players</h2>

            <table class="admin-table">
                <ng-container *ngFor="let player of tournament.players">
                    <tr>
                        <td>
                            <app-user-image-round [imageUrl]="player.image"></app-user-image-round>
                        </td>
                        <td>
                            {{ player.name }}
                        </td>
                        <td>
                            <i
                                class="fa fa-trash"
                                (click)="deletePlayerFromTournament(player.id)"
                            ></i>
                        </td>
                    </tr>
                </ng-container>
            </table>

        </mat-tab>

        <mat-tab label="Blinds">
            <button
                mat-raised-button
                color="primary"
                (click)="addBlinds(tournament)"
            >
                ADD BLINDS
            </button>

            <ng-container *ngFor="let b of tournament.structure; let i = index;">
                <div class="blind deletable">
                        <span>
                             ({{ b.position }})
                        </span>
                    <span>
                            {{ b.duration}}min
                        </span>
                    <ng-container *ngIf="!b.isPause">
                            <span>
                                 {{ b.sb }}
                            </span>
                        <span>
                                {{ b.bb }}
                            </span>
                    </ng-container>
                    <ng-container *ngIf="b.isPause">
                            <span>
                                 PAUSE
                            </span>
                        <span *ngIf="b.isChipUp">
                                (CHIP UP)
                            </span>
                        <span *ngIf="b.endsRebuy">
                                ENDS REBUY
                            </span>
                    </ng-container>
                    <i
                        class="fa fa-trash"
                        (click)="deleteBlindFromTournament(b.id)"
                    ></i>
                </div>

                <!--                *ngIf="canInsertPause[i]"-->

                <div
                    class="insert-pause"
                >
                        <span (click)="addPause(tournament, b.position)">
                            <i
                                class="fa fa-plus-circle"
                            ></i>
                            INSERT PAUSE
                        </span>
                </div>
            </ng-container>


        </mat-tab>
    </mat-tab-group>

</ng-container>

