<div class="connection-request">
    <div class="status">
        @switch (connectionRequest().state) {
            @case (0) {
                <i class="fa fa-hourglass-half"></i>
            }
            @case (1) {
                <i class="fa fa-circle-check"></i>
            }
            @case (2) {
                <i class="fa fa-comment-slash"></i>
            }
        }
    </div>

    @if (connectionRequest().state === 0) {
        <p>
            <strong>{{ connectionRequest().requestEmail === myEmail() ? 'You' : connectionRequest().requestEmail }}</strong>
            requested a connection to
            <strong>{{ connectionRequest().ownerEmail === myEmail() ? 'you' : connectionRequest().ownerEmail }}</strong>
            for player
            <strong>{{ connectionRequest().externalName }}</strong>
        </p>
    }

    @if (connectionRequest().state === 1) {
        <p>
            You are now connected to the player <strong>{{ connectionRequest().externalName }}</strong> of
            <strong>{{ connectionRequest().ownerEmail }}</strong> as
        </p>
    }

    @if (connectionRequest().state === 2) {
        <p>
            <strong>{{ connectionRequest().ownerEmail }}</strong> declined your request for connection to the player
            <strong>{{ connectionRequest().externalName }}</strong>
        </p>
    }

    <div class="actions">
        @if (myEmail() === connectionRequest().requestEmail) {
            <div
                class="action-wrapper hoverable"
                (click)="deleteRequest()"
            >
                <i class="fa fa-trash"></i>
            </div>
        }

        @if (myEmail() === connectionRequest().ownerEmail && connectionRequest().state === 0) {
            <div
                class="action-wrapper hoverable"
                (click)="acceptRequest()"
            >
                <i class="fa fa-check"></i>
            </div>

            <div
                class="action-wrapper hoverable"
                (click)="declineRequest()"
            >
                <i class="fa fa-cancel"></i>
            </div>
        }

    </div>
</div>
