<h2>
    @if (data?.player) {
        <i class="fa fa-edit"></i>
        Edit
    } @else {
        Create
    }
    Player
</h2>

<form
    (ngSubmit)="onSubmit()"
>
    <div class="flex justify-center">
        <app-user-image-round
            [imageUrl]="model.userImage()"
            [size]="WINDOW.innerWidth >= 800 ?  128 : 98"
        ></app-user-image-round>
    </div>

    <mat-form-field>
        <mat-label>Image URL</mat-label>
        <input
            matInput
            [ngModel]="model.userImage()"
            (ngModelChange)="model.userImage.set($event)"
            name="userImage"
        />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Your name</mat-label>
        <input
            matInput
            [ngModel]="model.name()"
            (ngModelChange)="model.name.set($event)"
            name="name"
            [disabled]="data.blockName && data.player !== null && data.player !== undefined"
        />
    </mat-form-field>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!model.isValid()"
    >
        @if (data?.player) {
            EDIT
        } @else {
            CREATE
        }
    </button>

    <button
        mat-raised-button
        (click)="closeDialog($event)"
    >
        CANCEL
    </button>
</form>

