
.li-pair {
    display: flex;
    flex-direction: column;

    h4 {
        font-size: 14px;
        margin-bottom: 8px;
        margin-top: 0;
        width: fit-content;
    }

    h4 .fa {
        margin-left: 4px;
    }

    span:last-child {
        font-size: 20px;
    }
}

.list-item {
    background: azure;
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
    position: relative;
    border: solid 2px darkslategrey;
    border-radius: 20px;
}

.list-item-3rd {
    width: 32%;
    flex: 0 0 32%;
    margin-right: 1%;
    flex-direction: row;
    align-items: center;

    .li-pair {
        margin-bottom: 0 !important;
    }
}

.list-item > div {
    margin-bottom: 24px;
}

.list-item > div,
.list-item > span > div {
    display: flex;

    .li-pair {
        flex: 0 0 33%;
        width: 33%;
    }
}

h4 {
    display: flex;
    align-items: center;
}


/* NEW */

div.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 12px;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    h2 {
        margin-top: 0;
        font-size: 32px;

        @media (max-width: 800px) {
            font-size: 24px;
        }
    }

    h4 {
        color: #999;
        text-transform: uppercase;
    }
}

.admin-header-buttons {
    button {
        margin-left: 8px;

        @media (max-width: 800px) {
            margin-left: 0;
            margin-bottom: 8px;
        }
    }
}


table.admin-table {
    th, td {
        text-align: left;
    }

    tr {
        border-bottom: solid 1px rgba(darkslategray, 0.5);
    }

    tr.temp {
        background: linen;
    }

    tr td:last-child,
    tr th:last-child {
        text-align: right !important;
    }

    tr:hover {
        background: aliceblue;
    }

    .fa {
        font-size: 18px;
        margin-right: 8px;
    }

    .fa:not(.fa-lock) {
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}

.table-actions {
    display: flex;
    justify-content: flex-end;

    .fa {
        font-size: 18px;
        margin-left: 8px;
        margin-right: 0 !important;
    }
}


div.date {
    background: #006dc7;
    color: #fff;
    font-weight: bold;
    font-weight: 20px;
    padding: 12px 24px;
    border-radius: 12px;
}

app-admin {
    .blind {
        background: #eee;
        padding: 8px 20px;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > span:first-child {
            display: flex;
            gap: 8px;
        }

        .fa {
            font-size: 16px !important;
        }
    }

    .insert-pause {
        padding: 8px 20px;
        margin-bottom: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        opacity: 0.5;

        .fa {
            font-size: 16px !important;
            margin-right: 12px;
        }

        &:hover {
            background: #eaeaea;
        }
    }

    .blind.pause {
        background: #ffcccb;
    }
}

.admin-table-filter {
    background: aliceblue;
    margin-bottom: 20px;
}

.admin-table-filter-row {
    padding: 12px;
}

.admin-table-filter strong {
    display: block;
}

tr.blind-pause {
    background: #f5f5f5;
}

.admin-body.admin-body-flexed {
    display: flex;
    flex-wrap: wrap;
}

.admin-body.admin-body-flexed > span {
    margin-right: 20px;
    margin-top: 24px;
    background: aliceblue;
    padding: 12px;
    flex: 0 0 25%;
    width: 25%;
    box-sizing: border-box;
}

.admin-body.admin-body-flexed > span > h4 {
    margin-top: 0;
}

.admin-body.admin-body-flexed > span > p {
    margin-bottom: 0;
}

.admin-body.admin-body-flexed > span:last-child {
    border-right: none;
}
