.seat-open-animation,
.winner-animation {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 164px;
    font-weight: 900;
    width: 100%;
    height: 100%;
    background: rgba(white, 0.8);
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 99;

    .word.back {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;

        .fa-money-bill-1-wave {
            color: #85BB65;
            font-size: 50vh !important;
            opacity: 0.4;
        }

        .fa-skull {
            font-size: 50vh !important;
            opacity: 0.35;
        }

        .fa-burst {
            font-size: 60vh !important;
            opacity: 0.6;
        }

        .fa-circle {
            font-size: 32vh !important;
            opacity: 0.35;
        }
    }

    .word.green {
        background: #85BB65;
        color: white;
        padding: 20px 60px;
        border-radius: 24px;
    }

    .gray {
        color: #777;
        font-size: 100px;
    }

    .double-icon {
        position: relative;
        height: 164px;

        .fa {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .fa-burst {
            font-size: 164px !important;
            color: lightblue;
            z-index: 55;
        }

        .fa-circle {
            font-size: 64px !important;
            color: mediumblue;
            z-index: 44;
        }
    }

    .fa-money-bill-wave {
        color: #85BB65;
        font-size: 132px !important;
    }

    .fa-skull {
        font-size: 164px !important;
        fill: darkred;
    }
}

.seat-open-animation.animate {
    display: flex;
    //  animation: fadeInOut 5s linear 1 forwards;
    flex-direction: column;
}

.winner-animation.animate {
    display: flex;
    animation: fadeInOut 60s linear 1 forwards;
    flex-direction: column;
}

@keyframes fadeInOut {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: flex;
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    99% {
        display: flex;
        opacity: 0;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

#itm-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: fadeInOut 5s linear 1 forwards;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 999999;
}

#money div {
    position: absolute;
    top: -160px;
    animation-name: drop, bill1;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in;
}

#money2 div {
    position: absolute;
    top: -200px;
    animation-name: drop, bill2;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in;
}

.bill {
    background-image: url('../assets/100dollarok.jpg');
    background-size: contain;
    height: 21px;
    width: 51px;
    position: absolute;
}


@keyframes drop {
    from {
        top: -160px;
        opacity: 1;
    }
    to {
        top: 80vh;
        opacity: 0;
    }
}

@keyframes bill1 {
    0% {
        transform: /*rotate(-180deg)*/
            translate(0, 0) rotateX(-180deg) rotateY(-90deg);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    10% {
        border-bottom-right-radius: 0;
        border-top-right-radius: 3px;
    }
    15% {
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 60px;
    }
    80% {
        transform: /*rotate(180deg)*/
            translate(10px, 95px) rotateX(180deg) rotateY(180deg);
        border-bottom-left-radius: 50px;
    }
    90% {
        border-top-left-radius: 60px;
        border-top-right-radius: 3px;
    }
    100% {
        border-top-left-radius: 10px;
    }
}

@keyframes bill2 {
    0% {
        transform: translate(0, 0) rotateX(-150deg) rotateY(-70deg);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    10% {
        border-bottom-right-radius: 0;
        border-top-right-radius: 3px;
    }
    15% {
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 60px;
    }
    70% {
        transform: translate(20px, 110px) rotateX(150deg) rotateY(190deg);
        border-bottom-left-radius: 50px;
    }
    90% {
        border-top-left-radius: 60px;
        border-top-right-radius: 3px;
    }
    100% {
        border-top-left-radius: 10px;
    }
}

//@keyframes flip {
//    0% {
//        transform: rotateX(-180deg);
//    }
//    100% {
//        transform: rotateX(180deg);
//    }
//}

.fa-window-close {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
}
