$background: #9fb8ad;

$primary: #006dc7;
$primaryDark: #00437b;

$secondary: #3f403f;

$borderColor: #fafafa;

$font: #eee;

.overview {
    h1,
    h2,
    h3,
        // h4,
    p {
        color: white;
        margin: 0;
    }
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    margin-bottom: 12px;
    color: $primaryDark;

    @media (max-width: 1280px) {
        font-size: 14px;
    }
}

h3.highlighted {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background: $primary;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    box-sizing: border-box;
    border-bottom: solid 2px $borderColor;
    font-size: 3vh;

    .fa {
        color: white;
        margin-left: 2vw;
    }
}

h2.sliding-panel-title {
    font-size: 3vh;
}

.info-panel {
    h3 {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        left: 0;
        background: $primary;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: solid 2px $borderColor;

        .mdc-fab {
            margin-left: 12px;
        }
    }
}

.info-panel:not(.simple) h3 {
    position: fixed;
}

.regular {
    font-weight: normal !important;
}

.bold {
    font-weight: bold;
}

p.big {
    font-size: 4.5vh;
    color: $primary;
    font-weight: bold;

    @media (max-width: 1280px) {
        font-size: 4.8vh;
    }
}

span.small {
    font-size: 2.62vh;
    transform: translateY(-30%);
    color: rgba($primary, 0.5);

    @media (max-width: 1280px) {
        font-size: 1.8vh;
    }
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.green {
    color: #85BB65;
}

.gray {
    color: #777;
}

h4 .fa {
    font-size: 20px !important;
}

h4 .fa.adjusted {
    font-size: 18px !important;
}

h4 .fa.small {
    font-size: 18px !important;
}

h4 .fa-exclamation-triangle {
    font-size: 26px !important;
}

.fa-exclamation-triangle {
    color: orangered;
}

.mdc-fab {
    background: white !important;

    .fa {
        margin: 0 !important;
        font-size: 14px !important;
    }
}

.mdc-fab--mini {
    width: 24px !important;
    height: 24px !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
