$background: #9fb8ad;

$primary: #006dc7;
$primaryDark: #00437b;

$secondary: #3f403f;

$borderColor: #fafafa;

$font: #eee;

h1,
h2,
h3,
h4,
p {
    color: white;
    margin: 0;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    margin-bottom: 12px;
    color: $primaryDark;
}

h3.highlighted {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background: $primary;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    box-sizing: border-box;
    border-bottom: solid 2px $borderColor;

    .fa {
        color: white;
        margin-left: 2vw;
    }
}

.info-panel {
    h3 {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        position: fixed;
        top: 0;
        left: 0;
        background: $primary;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: solid 2px $borderColor;

        .mdc-fab {
            margin-left: 12px;
        }
    }
}

.regular {
    font-weight: normal !important;
}

.bold {
    font-weight: bold;
}

p.big {
    font-size: 60px;
    color: $primary;
    font-weight: bold;
}

span.small {
    font-size: 24px;
    transform: translateY(-30%);
    color: rgba($primary, 0.5);
}

.stats-container h4 {
    margin-bottom: 0;
}

.text-align-right {
    text-align: right;
}

.green {
    color: green;
}

.gray {
    color: #777;
}

h4 .fa {
    font-size: 20px !important;
}

h4 .fa.adjusted {
    font-size: 18px !important;
}

h4 .fa-exclamation-triangle {
    font-size: 26px !important;
}

.fa-exclamation-triangle {
    color: orangered;
}

.mdc-fab {
    background: white !important;

    .fa {
        margin: 0 !important;
        font-size: 14px !important;
    }
}

.mdc-fab--mini {
    width: 24px !important;
    height: 24px !important;
}
