@import "src/styles/colors_texts";

button {
    background: white;
    color: $primary;
    border: none;
    font-weight: bold;
    padding: 4px 12px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.4;
}

button:not(:disabled):hover {
    opacity: 0.7;
}

.expandable {
    max-height: 0;
    overflow: hidden;
    margin-bottom: 0 !important;

    &.expanded {
        max-height: 100vh;
    }
}

.rotate-180 {
    transform: rotate(180deg);
    transform-origin: center;
}

.sub-group {
    display: block;
    margin-bottom: 20px;

    mat-form-field {
        padding-left: 32px;
        border-left: solid 2px #ccc;
        box-sizing: border-box;
    }
}

span.formula {
    font-size: 32px;
    margin: auto;

}

.clickable {
    cursor: pointer;

    &:hover {
        opacity: 0.7;

        svg {
            fill: darkred;
        }
    }
}

.position div {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: $primary;
    color: white;
    font-weight: bold;
    font-size: 1.31vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.position-big div {
    font-size: 2.18vh;
    width: 32px;
    height: 32px;
    border-radius: 32px;

    @media (max-width: 1100px) {
        font-size: 1.7vh;
        width: 24px;
        height: 24px;
        border-radius: 24px;
    }
}

.position-big.fa-pause-circle {
    font-size: 3.93vh;
}

.indicator {
    font-size: 3.5vh;
    text-align: center;
    color: $primary;

    @media (max-width: 1100px) {
        font-size: 2.5vh;
    }
}

.pause {
    opacity: 0.7;
}

.duration {
    text-align: right;
    flex-grow: 1;
}

.rank {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: $primary;
    color: white;
    font-size: 1.31vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.dark-red-opaque {
    color: darkred !important;
    opacity: 0.6;
}

.talign-center {
    text-align: center;
    padding: 4px;
    font-size: 2.18vh;

    @media (max-width: 1100px) {
        font-size: 1.6vh;
    }
}

.talign-center-big {
    font-size: 4.37vh;
    font-weight: bold;

    @media (max-width: 1100px) {
        font-size: 3vh;
    }
}

.opac8 {
    opacity: 0.6;
}

.l-duration {
    font-size: 2.62vh;
    font-weight: bold;
    opacity: 0.5;

    @media (max-width: 1100px) {
        font-size: 1.9vh;
    }
}

.fa-ellipsis-h.big {
    font-size: 7vh;
    color: #006dc7;
    margin: 24px;
}

span.running {
    display: block;
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    border-radius: 24px;
    animation: live 3s infinite;
    margin-left: 20px;
    margin-right: 8px;
}

span.running.small {
    width: 16px;
    height: 16px;
    flex: 0 0 16px;
    border-radius: 16px;
    margin-top: 10px;
}

@keyframes live {
    0% {
        background-color: #85BB65;
    }
    50% {
        background-color: rgba(#85BB65, 0.2);
    }
    100% {
        background-color: #85BB65;
    }
}
