@import "src/styles/colors_texts";

.fa {
    width: fit-content;
    font-size: 24px;
}

.fa-trash {
    color: red;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.fa-edit {
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.fa-share {
    color: $primaryDark;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.fa-chevron-circle-up {
    color: $secondary;
    opacity: 0.4;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.fa-plus-circle {
    color: $primaryDark;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

span.relative-icon {
    position: relative;

    i:not(.absolute-icon) {
        transform: translateY(-6px);
    }

    i.absolute-icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -8px;
        font-size: 20px;
        color: #888;
    }
}

.fa-skull {
    color: red !important;
}
