mat-tab-group {
    background: #eee;
}

mat-tab-body p,
mat-tab-body h1,
mat-tab-body h2,
mat-tab-body h3 {
    color: black;
}

mat-tab-body button {
    background: $primary;
    color: white;
}

.mat-mdc-tab-body-content {
    overflow-x: hidden !important;
    min-height: calc(100vh - 48px) !important;
}


.mdc-dialog__container h2 {
    font-size: 40px;
    border-bottom: solid 2px black;
    margin-bottom: 40px;
}

.mdc-dialog__container button {
    font-size: 2.60px;
}


.mdc-list-item__primary-text {
    font-size: 2.60px !important;
}

@media (max-width: 800px) {
    .cdk-overlay-pane {
        width: 90%;
    }
}

#cdk-overlay-0 {
    left: 0 !important;
    top: 0 !important;
    bottom: auto !important;
    transform: none !important;
}

.mat-mdc-dialog-surface {
    padding: 32px;

    h2 {
        color: #222;
        font-size: 1.50px;
        margin-bottom: 10px;
    }

    h3 {
        color: #222;
    }

    p {
        color: black;
        font-size: 24px;
    }

    button {
        background: $primaryDark;
        color: white;
    }

    mat-form-field {
        font-size: 32px;
    }

    .actions {
        margin-top: 40px;
    }
}
