@import "src/styles/colors_texts";

mat-tab-group {
    // background: #eee;
}

mat-tab-body p,
mat-tab-body h1,
mat-tab-body h2,
mat-tab-body h3 {
    color: black;
}

mat-tab-body button {
    background: $primary;
    color: white;
}

.mat-mdc-tab-body-content {
    overflow-x: hidden !important;
    min-height: calc(100vh - 48px) !important;
}

mat-dialog-container:not(#draw) {
    .mdc-dialog__container {
        width: 700px; // TODO adapt for table draw
    }

    .mdc-dialog__container button {
        font-size: 26px;
    }
}

mat-dialog-container#draw {
    width: 80vw;
    min-height: 80vh;
}


.mdc-list-item__primary-text {
    font-size: 20px !important;
}

@media (max-width: 800px) {
    .cdk-overlay-pane {
        width: 90%;
    }
}

.mat-mdc-dialog-surface {
    padding: 32px;

    @media (max-width: 800px) {
        padding: 20px;
    }

    h2 {
        color: #222 !important;
        margin-bottom: 20px;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: solid 2px black;

        @media (max-width: 800px) {
            margin-bottom: 12px;
        }
    }

    h3 {
        color: #222;
        margin-top: 20px;
        border-bottom: solid 1px $primaryDark;
        padding-top: 10px;

        @media (max-width: 800px) {
            margin-top: 12px;
        }
    }

    button:not(.mat-ripple) {
        //color: white;
        padding: 12px 30px;
        margin: auto;
        display: block !important;
        height: fit-content !important;
        width: 100% !important;

        @media (max-width: 800px) {
            padding: 6px 16px;
            font-size: 14px !important;
        }
    }

    .actions {
        margin-top: 40px;

        @media (max-width: 800px) {
            margin-top: 20px;
        }
    }
}

.timer-dialog {
    h2 {
        font-size: 32px;

        @media (max-width: 800px) {
            font-size: 20px;
        }
    }

    h3 {
        font-size: 20px;

        @media (max-width: 800px) {
            font-size: 14px;
        }
    }

    p {
        color: black;
        font-size: 24px;

        @media (max-width: 800px) {
            font-size: 16px;
        }
    }

    mat-form-field {
        font-size: 32px;

        @media (max-width: 800px) {
            font-size: 16px;
        }
    }

    formly-field-mat-checkbox label,
    mat-checkbox label {
        font-size: 24px;

        @media (max-width: 800px) {
            font-size: 14px;
        }
    }
}

button.main {
    width: 60px !important;
    height: 60px !important;
    border-radius: 60px;
    display: flex !important;
    justify-content: center;
    align-items: center;

    @media (max-width: 800px) {
        width: 160px;
        height: 160px;
        border-radius: 160px;
    }

    .fa {
        font-size: 30px;

        @media (max-width: 800px) {
            font-size: 80px;
        }
    }
}

.mat-mdc-raised-button[color="primary"]:not(:disabled) {
    background: $primaryDark !important;
}

button.round {
    padding: 0 !important;
    width: 24px !important;
    min-width: 24px !important;
    height: 24px !important;
    border-radius: 24px !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa {
        font-size: 16px;
    }
}

h3 > button.round {
    margin-left: 12px;
}

.mat-sidenav {
    overflow: hidden;
    min-height: 50vh !important;
}

.mat-drawer-inner-container {
    overflow: hidden !important;
    min-height: 50vh !important;
}

.mat-drawer-content {
    overflow: hidden;
    min-height: 50vh !important;
}

.cdk-overlay-pane.menu-dialog {
    min-width: 900px !important;
}

@media (max-width: 800px) {
    .mat-mdc-dialog-surface,
    .mdc-dialog__surface {
        padding: 12px !important;
    }
}


a.link-active {
    font-weight: bold;
    color: #00437b !important;
}

a.link-active > span {
    color: #00437b !important;
}
