@import "src/styles/colors_texts";

mat-tab-group {
    background: #eee;
}

mat-tab-body p,
mat-tab-body h1,
mat-tab-body h2,
mat-tab-body h3 {
    color: black;
}

mat-tab-body button {
    background: $primary;
    color: white;
}

.mat-mdc-tab-body-content {
    overflow-x: hidden !important;
    min-height: calc(100vh - 48px) !important;
}

.mdc-dialog__container {
    width: 700px;
}

.mdc-dialog__container button {
    font-size: 26px;
}


.mdc-list-item__primary-text {
    font-size: 26px !important;
}

@media (max-width: 800px) {
    .cdk-overlay-pane {
        width: 90%;
    }
}

.mat-mdc-dialog-surface {
    padding: 32px;

    h2 {
        color: #222 !important;
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: solid 2px black;
    }

    h3 {
        color: #222;
        font-size: 20px;
        margin-top: 20px;
        border-bottom: solid 1px $primaryDark;
        padding-top: 10px;
    }

    p {
        color: black;
        font-size: 24px;
    }

    button {
        background: $primaryDark;
        color: white;
        padding: 12px 30px;
        margin: auto;
        display: block !important;
        height: fit-content !important;
        width: 100% !important;
    }

    mat-form-field {
        font-size: 32px;
    }

    .actions {
        margin-top: 40px;
    }
}

button.main {
    width: 60px !important;
    height: 60px !important;
    border-radius: 60px;
    display: flex !important;
    justify-content: center;
    align-items: center;

    @media (max-width: 800px) {
        width: 160px;
        height: 160px;
        border-radius: 160px;
    }

    .fa {
        font-size: 30px;

        @media (max-width: 800px) {
            font-size: 80px;
        }
    }
}

button.main {
    .fa-clock-o,
    .fa-user,
    .fa-window-maximize,
    .fa-times-rectangle,
    .fa-address-card,
    .fa-gears {
        color: black;
    }

    .fa-database,
    .fa-money,
    .fa-play,
    .fa-chevron-circle-right,
    .fa-chevron-circle-left {
        color: green;
    }

    .fa-skull {
        color: red;

        svg {
            fill: red;
        }
    }

    .fa-toggle-on,
    .fa-toggle-off {
        color: $primaryDark;
    }

}
