@import "src/styles/_colors_texts.scss";

table {
    width: 100%;
    border-collapse: collapse !important;
}

table td,
table th {
    vertical-align: middle;
}

table tr {
    border-bottom: solid 1px rgba($primaryDark, 0.3);
}

table tr:last-child {
    border-bottom: none !important;
}

table tr td,
table tr th {
    padding: 6px 12px;
    color: $primaryDark;
    text-align: left;
}

table tr td.m-40,
table tr th.m-40 {
    width: 40px;
    box-sizing: border-box;
}

table tr td.m-80,
table tr th.m-80 {
    width: 80px;
    box-sizing: border-box;
}

th.center,
td.center {
    text-align: center !important;
}

th:not(.center) {
    text-align: left !important;
}

table .finished {
    opacity: 0.3;
}

td.small-gray {
    font-size: 14px;
    color: #666;
}

span.tbd,
span.rank {
    font-weight: bold;
    margin-right: 4px;
}

span.tbd {
    font-size: 12px;
}

span.flex-td {
    display: flex;
    align-items: center;
}

.tbd {
    width: 40px;
}

mat-tab-body table th,
mat-tab-body table td {
    padding: 8px 20px;
    text-align: center;
}

.scrollable-dialog-table-wrapper {
    max-height: 40vh;
    overflow-y: auto;
}

@media (max-width: 800px) {
    table tr td, table tr th {
        padding: 0 8px;
    }
}
