<h2>
    <i class="fa fa-user"></i>
    Connect to other user
</h2>

<form
    (ngSubmit)="onSubmit()"
>
    <p>
        In order to connect to another user to another user, just provide his email address and your name.
    </p>

    <mat-form-field>
        <mat-label>Email of tournament owner</mat-label>
        <input matInput [ngModel]="model.mailOwner()" (ngModelChange)="model.mailOwner.set($event)" name="mailOwner"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Your name</mat-label>
        <input matInput [ngModel]="model.name()" (ngModelChange)="model.name.set($event)" name="name"/>
    </mat-form-field>


    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!model.isValid()"
    >
        CONNECT
    </button>

    <button mat-raised-button (click)="closeDialog($event)">CLOSE</button>
</form>
