@import '../../../../colors';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  flex-direction: column;
  background: $primary;
}

h2 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  color: white;
  font-family: sans-serif !important;
}

span {
  font-family: 'Pinyon Script', cursive;
  font-size: 5vh;
  margin-right: 12px;
  font-weight: 400;
}

.subtitle {
  font-family: sans-serif !important;
  font-size: 3vh;
  color: white;
  font-weight: 400;
}
