<h2>
    <i class="fa fa-edit"></i>
    Edit Player
</h2>

<form
    (ngSubmit)="onSubmit()"
>
    <div class="flex justify-center">
        <app-user-image-round
            [imageUrl]="model.userImage()"
            [size]="128"
        ></app-user-image-round>
    </div>

    <mat-form-field>
        <mat-label>Email of tournament owner</mat-label>
        <input matInput [ngModel]="model.userImage()" (ngModelChange)="model.userImage.set($event)" name="userImage"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Your name</mat-label>
        <input matInput [ngModel]="model.name()" (ngModelChange)="model.name.set($event)" name="name"/>
    </mat-form-field>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!model.isValid()"
    >
        UPDATE PLAYER INFOS
    </button>

    <button mat-raised-button (click)="closeDialog($event)">CLOSE</button>
</form>
