<h2>Seat open - Rank {{ rank }}</h2>

<form
    [formGroup]="form"
    (ngSubmit)="onSubmit(model)"
>
    <formly-form
        [form]="form"
        [fields]="fields"
        [options]="options"
        [model]="model"
    ></formly-form>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!form.valid"
    >
        LEAVE TOURNAMENT
    </button>
</form>


<h3>Seat Opens</h3>

<ng-container *ngIf="conductedSeatOpens && conductedSeatOpens.length > 0; else noSeatOpens;">
    <div class="scrollable-dialog-table-wrapper">
        <table class="dialog-table">
            <ng-container *ngFor="let e of conductedSeatOpens; let i = index">
                <tr>
                    <td class="small-gray w-120px">
                        {{ e.time | date:'d.M.yy, hh:mm:ss' }}
                    </td>
                    <td class="w-5">
                        <span class="rank">
                            {{ e.rank }}
                        </span>
                    </td>
                    <td>
                        <span class="flex-td">
                            <app-user-image-round
                                [imageUrl]="e.image"
                            ></app-user-image-round>
                        <span>{{ e.name }}</span>
                    </span>
                    </td>
                    <td>
                        <i
                            *ngIf="i === 0"
                            class="fa fa-trash"
                            (click)="removeSeatOpen(e.playerId, e.name)"
                        ></i>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>
</ng-container>

<ng-template #noSeatOpens>
    No Seat Opens yet
</ng-template>


<h3>Eliminations</h3>

<ng-container *ngIf="conductedEliminations && conductedEliminations.length > 0; else noEliminations;">
    <div class="scrollable-dialog-table-wrapper">
        <table class="dialog-table">
            <ng-container *ngFor="let e of conductedEliminations; let i = index">
                <tr>
                    <td class="small-gray w-120px">
                        {{ e.time | date:'d.M.yy, hh:mm:ss' }}
                    </td>
                    <td>
                        <span class="flex-td">
                            <app-user-image-round
                                [imageUrl]="e.eliminatorImage"
                            ></app-user-image-round>
                            <span>{{ e.eliminatorName }}</span>
                        </span>
                    </td>
                    <td>
                        eliminated
                    </td>
                    <td>
                        <span class="flex-td">
                            <app-user-image-round
                                [imageUrl]="e.eliminatedImage"
                            ></app-user-image-round>
                            <span>{{ e.eliminatedName }}</span>
                        </span>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>
</ng-container>

<ng-template #noEliminations>
    No Eliminations yet
</ng-template>

