<h2><i class="fa fa-skull"></i> Seat open - Rank {{ rank() }}</h2>

<form
    (ngSubmit)="onSubmit()"
>
    <mat-form-field class="w-100">
        <mat-label>Player *</mat-label>
        <mat-select
            name="eliminated"
            (selectionChange)="this.model.playerId.set($event.value)"
        >
            @for (player of playersToEliminate(); track player.value) {
                <mat-option [value]="player.value">
                    {{ player.label }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
        <mat-label>Eliminator *</mat-label>
        <mat-select
            name="eliminator"
            (selectionChange)="this.model.eliminatedBy.set($event.value)"
        >
            @for (player of eliminators(); track player.value) {
                <mat-option [value]="player.value">
                    {{ player.label }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>

<!--    <formly-form-->
<!--        [form]="form"-->
<!--        [fields]="fields"-->
<!--        [options]="options"-->
<!--        [model]="model"-->
<!--    ></formly-form>-->

<!--    <h1>is {{ isLoading }}</h1>-->

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!model.isValid() || isLoadingAdd"
    >
        <ng-container *ngIf="!isLoadingAdd">
            LEAVE TOURNAMENT
        </ng-container>
        <ng-container *ngIf="isLoadingAdd">
            <i class="fa fa-spinner fa-spin"></i>
        </ng-container>
    </button>

    <button
        mat-raised-button
        (click)="closeDialog($event)"
    >
        CANCEL
    </button>

    @if (isLoading) {
        <div class="loading-wrapper">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    }

</form>


<h3>Eliminated players</h3>

<ng-container *ngIf="conductedFinishes().length > 0; else noSeatOpens;">
    <div class="scrollable-dialog-table-wrapper">
        <table class="dialog-table">
            <ng-container *ngFor="let e of conductedFinishes(); let i = index">
                <tr>
                    <td class="small-gray w-120px">
                        {{ e.time | date:'d.M.yy, hh:mm:ss' }}
                    </td>
                    <td class="w-5">
                        <span class="rank">
                            {{ e.rank }}
                        </span>
                    </td>
                    <td>
                        <span class="flex-td">
                            <app-user-image-round
                                [imageUrl]="e.image"
                            ></app-user-image-round>
                        <span>{{ e.name }}</span>
                    </span>
                    </td>
                    <td>
                        <i
                            *ngIf="i === 0 && !isLoadingRemove"
                            class="fa fa-trash"
                            (click)="removeSeatOpen(e.playerId, e.name)"
                        ></i>

                        <i
                            *ngIf="i === 0 && isLoadingRemove"
                            class="fa fa-spinner fa-spin"
                        ></i>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>
</ng-container>

<ng-template #noSeatOpens>
    No Seat Opens yet
</ng-template>


<h3>Eliminations</h3>

<ng-container *ngIf="conductedEliminations().length > 0; else noEliminations;">
    <div class="scrollable-dialog-table-wrapper">
        <table class="dialog-table">
            <ng-container *ngFor="let e of conductedEliminations(); let i = index">
                <tr>
                    <td class="small-gray w-120px">
                        {{ e.time | date:'d.M.yy, hh:mm:ss' }}
                    </td>
                    <td>
                        <span class="flex-td">
                            <app-user-image-round
                                [imageUrl]="e.eliminatorImage"
                            ></app-user-image-round>
                            <span>{{ e.eliminatorName }}</span>
                        </span>
                    </td>
                    <td>
                        eliminated
                    </td>
                    <td>
                        <span class="flex-td">
                            <app-user-image-round
                                [imageUrl]="e.eliminatedImage"
                            ></app-user-image-round>
                            <span>{{ e.eliminatedName }}</span>
                        </span>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>
</ng-container>

<ng-template #noEliminations>
    No Eliminations yet
</ng-template>

