<app-app-header
    [user]="user$ | async"
></app-app-header>

<a [routerLink]="['/admin/blind-level']">BACK</a>


@if (blindLevel$ | async; as blindLevel) {
    <div class="admin-header">
        <div class="flex flex-dir-column">
            <h4>Blind Level</h4>
            <h2>
                @if (blindLevel.isPause) {
                    {{ blindLevel.sb | number:'1.0-0' }} /
                    {{ blindLevel.bb | number:'1.0-0' }}
                } @else {
                    PAUSE
                }

                - {{ blindLevel.duration | number:'1.0-0' }} min
            </h2>
        </div>

        <div class="admin-header-buttons">
            <button
                mat-raised-button
                color="primary"
                (click)="editBlindLevel(blindLevel)"
            >
                <i class="fa fa-edit fa-ib"></i> EDIT
            </button>

            <button
                mat-raised-button
                color="warn"
                (click)="deleteBlindLevel(blindLevel)"
            >
                <i class="fa fa-trash fa-ib"></i> DELETE
            </button>
        </div>
    </div>

    <div class="admin-body admin-body-flexed">
        @if (!blindLevel.isPause) {
            <span>
                <h4>Small Blind</h4>
                <p>
                    {{ blindLevel.sb | number:'1.0-0' }}
                </p>
            </span>

            <span>
                <h4>Big Blind</h4>
                <p>
                    {{ blindLevel.bb | number:'1.0-0' }}
                </p>
            </span>
        }

        @if (blindLevel.isPause) {
            <span>
                <h4>Pause</h4>
                <p>
                    {{ blindLevel.duration | number:'1.0-0' }} min
                </p>
            </span>

            <span>
                <h4>is Chip-Up</h4>
                <p>
                    @if (blindLevel.isChipUp) {
                        <i class="fa fa-check"></i>
                    } @else {
                        <ng-container *ngTemplateOutlet="times"></ng-container>
                    }
                </p>
            </span>

            <span>
                <h4>ends Rebuy</h4>
                <p>
                    @if (blindLevel.endsRebuy) {
                        <i class="fa fa-check"></i>
                    } @else {
                        <ng-container *ngTemplateOutlet="times"></ng-container>
                    }
                </p>
            </span>
        }
    </div>
}

<ng-template #times>
    <i class="fa fa-times"></i>
</ng-template>
