@import "src/styles/colors_texts";

:host {
    display: contents;
}

div {
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}

div.b-live {
    animation: live 3s infinite;
}

div.b-regular {
    border-color: $primary;
    border-style: solid;
}

div.b-my-user {
    border-color: greenyellow;
    border-style: solid;
}

div.b-black {
    border-color: #666;
    border-style: solid;
}

@keyframes live {
    0% {
        border-color: green;
        border-style: solid;
    }
    50% {
        border-color: $primary;
        border-style: solid;
    }
    100% {
        border-color: green;
        border-style: solid;
    }
}
