<form
    [formGroup]="form"
    (ngSubmit)="onSubmit(model)"
>
    <h2>Create Tournament</h2>

    <formly-form
        [form]="form"
        [fields]="fields"
        [options]="options"
        [model]="model"
    ></formly-form>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!form.valid"
    >
        CREATE
    </button>
</form>

<mat-stepper linear #stepper>
    <mat-step>
        <h1>dadsfasdfas</h1>
    </mat-step>
    <mat-step [editable]="false">
        <h1>dfasdfas</h1>
    </mat-step>
    <mat-step [editable]="false">
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>
