<h2>
    <ng-container *ngIf="!data?.tournament">Create</ng-container>
    <ng-container *ngIf="data?.tournament">Edit</ng-container>
    Tournament
</h2>

<form
    *ngIf="true; else createTournament;"
    [formGroup]="form"
    (ngSubmit)="onSubmit(model)"
>
    <formly-form
        [form]="form"
        [fields]="fields"
        [options]="options"
        [model]="model"
    ></formly-form>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!form.valid"
    >
        <ng-container *ngIf="!data?.tournament">CREATE</ng-container>
        <ng-container *ngIf="data?.tournament">EDIT</ng-container>
    </button>
</form>

<ng-template #createTournament>
    <mat-stepper linear #stepper>
        <mat-step>
            <h1>dadsfasdfas</h1>
        </mat-step>
        <mat-step [editable]="false">
            <h1>dfasdfas</h1>
        </mat-step>
        <mat-step [editable]="false">
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</ng-template>
