<h2>
    <ng-container *ngIf="!data?.tournament">Create</ng-container>
    <ng-container *ngIf="data?.tournament">Edit</ng-container>
    Tournament
</h2>

<form
    [formGroup]="form"
    (ngSubmit)="onSubmit(model)"
>
    <formly-form
        [form]="form"
        [fields]="fields"
        [options]="options"
        [model]="model"
    ></formly-form>

    <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
    >
        <ng-container *ngIf="!data?.tournament">CREATE</ng-container>
        <ng-container *ngIf="data?.tournament">EDIT</ng-container>
    </button>
</form>

<button
    mat-raised-button
    (click)="cancel()"
>
    CANCEL
</button>
