<div class="player-overview">
 
  <h2>Players left</h2>

  <circle-progress
    [percent]="percentageIn"
    [radius]="150"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#475841'"
    [innerStrokeColor]="'#3f403f'"
    [animation]="true"
    [title]="text"
    [titleFontWeight]="'bold'"
    [showSubtitle]="false"
    [subtitleColor]="'#eee'"
    [showUnits]="false"
    [animationDuration]="300"
    [titleFontSize]="'7vh'"
    [subtitleFontSize]="'20px'"
    [renderOnClick]="false"
  ></circle-progress>

</div>
