@import "src/styles/colors";

:host {
    display: contents;
}

table {
    width: 100%;
}

h1 {
    font-size: 6.4vh;
    background: #eee;
    color: #00437b;
    font-weight: bold;
    padding: 1vh 2vh;
    margin-top: 2vh;
    margin-bottom: 0;
    text-align: right;
}

h2 {
    margin-top: 0;
    background: #ccc;
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    color: #eee;

    span:nth-child(2) {
        color: #00437b;
    }
}

h2.no-mb {
    margin-bottom: 0 !important;
    border-bottom: solid #666 1px;
}

h4 {
    display: flex;
    align-items: center;

    span {
        display: flex;
        align-items: center;
        margin-left: 16px;
        font-size: 1.4vh;

        * {
            font-size: 1.5vh;
            margin-right: 8px;
        }
    }
}

th, td {
    font-size: 4vh;
    text-align: center;
}

* {
    text-align: center;
}

div.pricepool,
div.payout {
    width: 90%;
}

.rank {
    width: 3vh;
    height: 3vh;
    border-radius: 3vh;
    background: #006dc7;
    color: white;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.percentage {
    color: #777;
    font-size: 3vh;
}

.player {
    display: flex;
    align-items: center;
    font-size: 2.5vh;
}

.price {
    font-weight: bold;
    text-align: right;
    color: green;
}

.opaque {
    opacity: 0.4;

    .price {
        color: #00437b;
    }
}

.deduction {
    color: darkred !important;
    opacity: 0.6;
}

.initial {
    opacity: 0.6;
}

.payouts {
    overflow-y: auto;
    height: 25vh;
    display: block;
    padding-right: 20px;
}

.fa-handshake-o {
    color: #555;
    font-size: 1.8vh;
    margin-left: 12px;
}

td.td-flex {
    display: flex;
    align-items: center;
}
