<h3>
    Pricepool & Pay-Out
</h3>

<div class="pricepool">
    <h4>
        Pricepool
    </h4>
    <h1>
        {{  totalPricePool | number:'':'de-CH' }} $
    </h1>
    <h2
        *ngIf="deduction > 0"
        class="no-mb"
    >
        <span>
            total price pool
        </span>
        <span class="deduction">
            {{ +deduction + +totalPricePool  | number:'':'de-CH' }} $
        </span>
    </h2>
    <h2
        *ngIf="initialPricePool > 0"
        [class.no-mb]="initialPricePool > 0 && deduction > 0"
        class="no-mb"
    >
        <span>
            initial pricepool
        </span>
        <span class="initial">
            {{ initialPricePool | number:'':'de-CH' }} $
        </span>
    </h2>
    <h2
        *ngIf="deduction > 0"
    >
        <span>
            added to final pot
        </span>
        <span class="deduction">
            {{ deduction  | number:'':'de-CH' }} $
        </span>
    </h2>
</div>

<div class="payout">
    <h4>
        Payout structrue
        <ng-container *ngIf="wasDealMade">
            <span><i class="fa fa-exclamation-triangle"></i> DEAL WAS MADE</span>
        </ng-container>
    </h4>

    <div class="payouts">
        <div id="topd"></div>
        <table cellspacing="0" cellpadding="0">


            <ng-container *ngFor="let e of payouts">
                <tr [class.opaque]="!e.name">
                    <td>
                        <span class="td-flex">
                            <div class="rank">
                                {{ e.rank | number:'1.0-1' }}
                            </div>

                            <ng-container *ngIf="e.dealMade">
                                <i class="fa fa-handshake-o"></i>
                            </ng-container>
                        </span>
                    </td>
                    <td class="percentage">
                        {{ e.percentage }}
                    </td>
                    <td>
                        <div
                            *ngIf="e.name"
                            class="player"
                        >
                            <app-user-image-round
                                [imageUrl]="e.image ? e.image : ''"
                            ></app-user-image-round>
                            {{ e.name }}
                        </div>
                    </td>
                    <td class="price">
                        {{ e.price | number:'':'de-CH' }} $
                    </td>
                </tr>
            </ng-container>
        </table>
        <div id="bottomd"></div>
    </div>

</div>
