.series-page {
    background: white;
    padding: 32px;
}

.series-page * {
    color: #011627;
}

hr {
    border-color: #666;
}

h1 {
    text-align: center;
    margin-top: 32px;

    @media (max-width: 800px) {
        font-size: 16px;
        width: 100%;
    }
}

.series-content {
    max-width: 1000px;
    margin: auto;
    padding-top: 32px;

    @media (max-width: 800px) {
        padding-top: 10px;
    }
}

.series-content-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    & > div.li-wide {
        width: 100%;
        flex: 0 0 100%;
        background: aliceblue;
        padding: 12px;
        box-sizing: border-box;

        * {
            display: block;
            width: 100%;
            text-align: center;
            color: #222;
        }

        h4 {
            margin-top: 0;
            color: #222;
        }

        span {
            margin-bottom: 0;
            color: #222;
            font-weight: bold;
        }
    }

    & > div.li-pair {
        width: 24%;
        flex: 0 0 24%;
        margin-bottom: 40px;
        background: aliceblue;
        padding: 12px;
        box-sizing: border-box;
        border: solid 2px darkslategray;
        border-radius: 12px;

        h4 {
            display: block;
            text-align: center;
            width: 100%;
            font-size: 18px;
            margin-top: 0;
            color: #222;
            font-weight: normal;
        }

        span {
            text-align: center;
            font-size: 32px;
            margin-bottom: 0;
            color: #222;
            font-weight: bold;

            &.smaller {
                font-size: 20px;
                font-weight: normal;

                span {
                    font-size: 18px;
                    font-weight: normal;
                }
            }
        }

        @media (max-width: 800px) {
            width: 48%;
            flex: 0 0 48%;
            margin-bottom: 2%;

            h4 {
                font-size: 12px;
            }

            span {
                font-size: 20px;
            }
        }
    }

}

.table-wrapper {
    overflow-x: auto;
    width: 100%;
}

table * {
    text-align: left;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.leaderboard {
    background: white;
}

.leaderboard table {
    min-width: 600px;
}

.leaderboard th:first-child,
.leaderboard td:first-child {
    width: 32px !important;
}

.tournament {
    margin-bottom: 32px;
    padding-bottom: 20px;
    border: solid 2px darkslategray;
    box-sizing: border-box;
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background: aliceblue;

    * {
        background: aliceblue;
    }
}

.tournament table {
    min-width: 600px;
}

.tournament h5 {
    margin-bottom: 12px;
    text-align: center;
}

.tournament span > p {
    font-size: 24px;
    text-align: center;
}

.tournament p {
    margin-bottom: 12px;
}

.tournament .header {
    margin-top: 12px;
    margin-bottom: 20px;

    & > div {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    h4 {
        text-align: center;
        display: block;
    }
}


table {
    border-spacing: 1px;
}

.t-center {
    text-align: center !important;
}

.t-right {
    text-align: right !important;
    padding-right: 8px;
}

.t-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-handshake-o {
    color: #555;
    font-size: 14px;
    margin-left: 12px;
}

td {
    padding-top: 4px;
    padding-bottom: 4px;
}

tr th:first-child,
tr td:first-child {
    padding-left: 12px;
    box-sizing: border-box;
    position: sticky;
    left: 0;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: -1px;
        border-bottom: 1px solid rgba(0, 67, 123, 0.3);
        pointer-events: none;
    }
}

tr th:last-child,
tr td:last-child {
    padding-right: 12px;
}

th, td {
    background: white;
    box-sizing: border-box;
}

.legend-wrapper {
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.legend {
    width: 32px;
    height: 32px;
    background: #e8fbe8;
    margin-right: 12px;
    border: solid 1px #555;
}

@media (max-width: 800px) {
    table * {
        font-size: 14px;
    }

    table app-user-image-round {
        display: none;
    }

    .series-page {
        padding: 10px;
    }

    *:not(.leaderboard) {
        table tr td:first-child {
            width: 84px;
        }
    }
}

.tournament .header div span {
    box-sizing: border-box;
    border: solid 1px darkslategray;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
    margin-left: 2px;
    margin-right: 2px;
}

.tournament .header div span p {
    margin-top: 0;
    margin-bottom: 8px;

    @media (max-width: 700px) {
        font-size: 20px;
    }
}

.tournament .header div span h5 {
    margin-top: 0;
    margin-bottom: 0;
}

span.running {
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    border-radius: 24px;
    animation: live 3s infinite;
    margin-left: 20px;
    margin-right: 8px;
}

@keyframes live {
    0% {
        background-color: green;
    }
    50% {
        background-color: rgba(green, 0.2);
    }
    100% {
        background-color: green;
    }
}

.spaced .li-pair > h4 {
    text-align: left !important;
    font-weight: bold !important;
    margin-bottom: 12px !important;
}

.spaced .li-pair > span {
    display: flex;
    justify-content: space-between;

    span {
        display: flex;
        align-items: center;

        app-user-image-round {
            display: inline-block;
            margin-left: 4px;
        }
    }

    strong {
        margin-right: 4px;
    }
}

@media (max-width: 800px) {
    .spaced .li-pair {
        width: 100% !important;
        flex: 0 0 100% !important;
        margin-bottom: 2%;
    }
}

.green {
    color: green !important;
}

.li-wide {
    box-sizing: border-box;
    border: solid 2px darkslategray;
    border-radius: 12px;
}

@media (max-width: 700px) {
    .tournament th {
        max-width: 100px;
        width: 100px;
    }

    .tournament .header span p {
        font-size: 18px !important;
    }

    .spaced .li-pair h4 {
        font-size: 16px !important;
    }
}
