<div class="admin-header">
    <h2>Players</h2>

    <button
        mat-raised-button
        color="primary"
        (click)="createPlayer()"
    >
        <i class="fa fa-user-plus fa-ib"></i> CREATE PLAYER
    </button>
</div>

<div class="table-wrapper">
    <table class="admin-table">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>

        @for (player of players$ | async; track player.id) {
            <a class="contents" [routerLink]="['/admin/player', player.id]">
                <tr>
                    <td>
                        <app-user-image-round
                            [imageUrl]="player.image"
                            [size]="40"
                        ></app-user-image-round>
                    </td>
                    <td>
                        {{ player.name }}
                    </td>
                    <td>
                        {{ player.email }}
                    </td>
                    <td>
                        <div class="table-actions">
                            @if (!player.locked) {
                                <i
                                    class="fa fa-trash"
                                    (click)="deletePlayer(player, $event)"
                                ></i>
                            } @else {
                                <i class="fa fa-lock"></i>
                            }
                        </div>
                    </td>
                </tr>
            </a>
        }
    </table>
</div>
