<app-app-header
    [user]="user$ | async"
></app-app-header>

<ng-container *ngIf="isAuthenticated$ | async; else pleaseLogin;">
    <div class="page-with-header wide">
        <div class="page-header flex align-center">
            <i
                class="fa fa-bars"
                [class.open]="isOpen()"
                (click)="toggleSidenav()"
            ></i>

            <h1>Admin</h1>
        </div>

        <mat-sidenav-container class="example-container">
            <mat-sidenav
                mode="side"
                [opened]="isOpen()"
            >
                <div class="admin-menu-container">
                    <a
                        [routerLink]="['tournament']"
                        mat-menu-item
                    >
                        Tournaments
                    </a>
                    <a
                        *ngIf="(isAdmin$ | async) || (isPro$ | async)"
                        [routerLink]="['series']"
                        mat-menu-item
                    >
                        Series
                    </a>
                    <a
                        *ngIf="(isAdmin$ | async) || (isPro$ | async)"
                        [routerLink]="['player']"
                        mat-menu-item
                    >
                        Players
                    </a>
                    <a
                        [routerLink]="['blind-level']"
                        mat-menu-item
                    >
                        Blind Levels
                    </a>
                    <a
                        [routerLink]="['blind-structure']"
                        mat-menu-item
                    >
                        Blind Structures
                    </a>
                    <a
                        [routerLink]="['location']"
                        mat-menu-item
                    >
                        Locations
                    </a>
                    <a
                        *ngIf="(isAdmin$ | async) || (isPro$ | async)"
                        [routerLink]="['branding']"
                        mat-menu-item
                    >
                        Branding
                    </a>
                </div>
            </mat-sidenav>
            <mat-sidenav-content>
                <div class="admin-content">
                    <router-outlet></router-outlet>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>

    </div>
</ng-container>

<ng-template #pleaseLogin>
    <h1 style="margin-top: 100px">You are not logged in!</h1>
</ng-template>
