<header>
    <mat-toolbar>
        <span>
            <p *ngIf="user">
                Hello {{ user.name }}
            </p>
        </span>

        <span class="links">
            <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
            <a *ngIf="isAuthenticated$ | async" [routerLink]="['/admin']" routerLinkActive="active">Admin</a>
        </span>

        <span>
            <button
                *ngIf="isAuthenticated$ | async; else loginButton"
                mat-raised-button
                color="accent"
                (click)="logout()"
            >
                logout
            </button>

            <ng-template #loginButton>
                <button
                    mat-raised-button
                    color="accent"
                    (click)="login()"
                >
                    login
                </button>
            </ng-template>
        </span>
    </mat-toolbar>

</header>

<!--<header>-->
<!--    <span>-->
<!--        <p *ngIf="user">-->
<!--            Hello {{ user.name }}-->
<!--        </p>-->
<!--    </spa   n>-->

<!--    <span class="links">-->
<!--        <a [routerLink]="['/home']" routerLinkActive="active">Home</a>-->
<!--        <a *ngIf="isAuthenticated$ | async" [routerLink]="['/admin']" routerLinkActive="active">Admin</a>-->
<!--    </span>-->

<!--    <span>-->
<!--        <button *ngIf="isAuthenticated$ | async; else loginButton" mat-raised-button (click)="logout()">logout</button>-->

<!--        <ng-template #loginButton>-->
<!--            <button mat-raised-button (click)="login()">login</button>-->
<!--        </ng-template>-->
<!--    </span>-->

<!--</header>-->
