<header>
    <mat-toolbar>
        <span class="username">
            @if (user()) {
                <p>
                    Hello {{ user()?.name }}
                </p>
            }
        </span>

        <span class="links">
            <a [routerLink]="['/home']" routerLinkActive="active">Home</a>

            @if (isAuthenticated$ | async) {
                <a [routerLink]="['/admin']" routerLinkActive="active">Admin</a>
            }
        </span>

        <span>
            @if (isAuthenticated$ | async) {
                <button
                    mat-raised-button
                    color="accent"
                    (click)="logout()"
                >
                    logout
                </button>
            } @else {
                <button
                    mat-raised-button
                    color="accent"
                    (click)="login()"
                >
                    login
                </button>
            }
        </span>
    </mat-toolbar>

</header>
