mat-toolbar {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    height: 64px;
    position: fixed;
    left: 0;
    top: 0;
    background: #00437b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    box-sizing: border-box;
    z-index: 99999;
}

mat-toolbar {
    background: transparent !important;
}

header > mat-toolbar > span {
    display: flex;
    align-items: center;
}

header > mat-toolbar > span.links {
    justify-content: flex-start;
}

header > mat-toolbar > span.links a {
    display: block;
    margin: 0 20px;
    color: white;
}

header > mat-toolbar > span.links a.active {
    font-weight: bold;
}

header > mat-toolbar p {
    color: #fff;
}


