:host {
    display: contents;
}

div {
    width: 90%;
}

table {
    width: 100%;
}

th, td {
    font-size: 2vh;
    text-align: center;
}

td .flextd {
    display: flex;
    align-items: center;
}

tr.finished {
    opacity: 0.3;
}

.fa-skull {
    margin-left: 12px;
    font-size: 16px;
}

.player-details {
    overflow-y: auto;
    max-height: 50.5vh;
}
