.user {
    margin: auto;
    margin-bottom: 40px;
    padding: 12px 36px 12px 12px;
    border: solid 4px rgba(#00437b, 0.7);
    border-radius: 12px;
    width: fit-content;

    h3 {
        font-size: 32px !important;
        margin: 0;
        padding: 0;
        margin-left: 12px;
    }
}
