<h2>
    <i class="fa fa-user"></i>
    Is this you?
</h2>

<div class="user">
    <app-user-with-image
        [name]="data.player.name"
        [image]="data.player.image"
        [size]="64"
    ></app-user-with-image>
</div>

<form
    (ngSubmit)="onSubmit()"
>
    <button
        mat-raised-button
        color="primary"
        type="submit"
    >
        @if (data.itsMe) {
            YES, that's me!
        } @else {
            No, that's not me!
        }
    </button>

    <button
        mat-raised-button
        color="warn"
        (click)="closeDialog($event)"
    >
        @if (data.itsMe) {
            No
        } @else {
            Cancel
        }
    </button>
</form>
