:host {
    display: contents;
}

.chips-overview {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
