<div class="inner-container">
    <h3>
        Player Details
    </h3>

    <div class="overflow-y-auto">
        <div id="topp"></div>

        <table>
            <tr>
                <th>Name</th>
                <th class="center">Entries</th>
                <th class="center">Rebuys</th>
                <th class="center">Addons</th>
                <th class="center">Eliminations</th>
            </tr>
            <ng-container *ngFor="let e of combination">
                <tr [class.finished]="e.isFinished">
                    <td>
                    <span class="flex-td">

                        <ng-container *ngIf="e.rank; else tbd">
                            <span class="tbd">({{ e.rank | number }})</span>
                        </ng-container>
                        <ng-template #tbd>
                            <span class="tbd">(TBD)</span>
                        </ng-template>

                        <app-user-image-round
                            *ngIf="!e.isFinished"
                            [imageUrl]="e.image"
                        ></app-user-image-round>

                        <ng-container *ngIf="e.isFinished">
                            <i
                                *ngIf="e.isLastFinished; else skull"
                                class="fa fa-skull clickable w-32 mr-1"
                            ></i>
                        </ng-container>
                        <ng-template #skull>
                            <i class="fa fa-skull w-32 mr-1"></i>
                        </ng-template>

                        <span>{{ e.name }}</span>
                    </span>
                    </td>
                    <td class="center">
                        <app-bullets [number]="e.reEntries"></app-bullets>
                    </td>
                    <td class="center">
                        <app-bullets [number]="e.rebuys"></app-bullets>
                    </td>
                    <td class="center">
                        <app-bullets [number]="e.addons"></app-bullets>
                    </td>
                    <td class="center">
                        <app-bullets
                            [number]="e.eliminations"
                            bulletClass="fa-skull"
                        ></app-bullets>
                    </td>
                </tr>
            </ng-container>
        </table>
        <div id="bottomp"></div>
    </div>

</div>
