<div class="inner-container">
    <h3>
        Player Details
    </h3>

    <div class="overflow-y-auto background-panel">
        <div id="topp"></div>

        <table>
            <tr>
                <th><small>Name</small></th>
                <th class="center"><small>Entries</small></th>

                @if (withRebuy()) {
                    <th class="center"><small>Rebuys</small></th>
                }

                @if (withAddon()) {
                    <th class="center"><small>Addons</small></th>
                }

                <th class="center"><small>Eliminations</small></th>
            </tr>

            @for (e of combination(); track e) {
                <tr [class.finished]="e.isFinished">
                    <td>
                    <span class="flex-td">
                        @if (e.rank) {
                            <span class="tbd">({{ e.rank | number }})</span>
                        } @else {
                            <span class="tbd">(TBD)</span>
                        }

                        @if (!e.isFinished) {
                            <app-user-image-round [imageUrl]="e.image"></app-user-image-round>
                        } @else {
                            @if (e.isLastFinished) {
                                <i class="fa fa-skull clickable w-32 mr-1"></i>
                            } @else {
                                <i class="fa fa-skull w-32 mr-1"></i>
                            }
                        }

                        <span>{{ e.name }}</span>
                    </span>
                    </td>
                    <td class="center">
                        <app-bullets [number]="e.reEntries"></app-bullets>
                    </td>

                    @if (withRebuy()) {
                        <td class="center">
                            <app-bullets [number]="e.rebuys"></app-bullets>
                        </td>
                    }

                    @if (withAddon()) {
                        <td class="center">
                            <app-bullets [number]="e.addons"></app-bullets>
                        </td>
                    }

                    <td class="center">
                        <app-bullets
                            [number]="e.eliminations"
                            bulletClass="fa-skull"
                        ></app-bullets>
                    </td>
                </tr>
            }
        </table>
        <div id="bottomp"></div>
    </div>

</div>
