<div
    *ngIf="overallRanking"
    class="table-wrapper"
>
    <table>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th class="t-right">Points</th>
            <th *ngIf="full" class="t-center">&#x2205; Rank</th>
            <th *ngIf="full" class="t-center">Played</th>
            <th *ngIf="full" class="t-center">ITM (%)</th>
            <th *ngIf="full" class="t-center">Rebuys / Addons</th>
            <th *ngIf="full" class="t-right">Price</th>
        </tr>
        <ng-container *ngFor="let e of overallRanking; let i = index">
            <tr [class.finalist]="i < series.finalists">
                <td>
                    {{ i + 1 }}.
                </td>
                <td>
                    <span class="flex-td">
                        <app-user-image-round
                            [imageUrl]="e.image"
                        ></app-user-image-round>
                        {{ e.name }}
                    </span>
                </td>
                <td class="t-right">
                    <div class="flex justify-center align-center">
                        <strong>
                            {{ e.points | number:'1.1-1' }}
                            <ng-container *ngIf="e.isTemp">(+)</ng-container>
                        </strong>
                        <span *ngIf="e.isTemp" class="running small"></span>
                    </div>
                </td>
                <td *ngIf="full" class="t-center">
                    {{ e.rank / e.tournaments | number:'1.1-1' }}
                </td>
                <td *ngIf="full" class="t-center">
                    {{ e.tournaments }}
                </td>
                <td *ngIf="full" class="t-center">
                    {{ e.itm }} ({{ e.itm / e.tournaments * 100 | number:'1.0-0' }}%)
                </td>
                <td *ngIf="full" class="t-center">
                    {{ e.rebuysAddons }}
                </td>
                <td *ngIf="full" class="t-right">
                    <span
                        [class.green]="e.price > 0"
                        [class.bold]="e.price > 0"
                    >
                        $ {{ e.price | number:'':'de-CH' }}
                    </span>
                </td>
            </tr>
        </ng-container>
    </table>

</div>
