:host {
    display: contents;
}

tr th,
tr td {
    color: black;
}

tr th:not(.t-rank),
tr td:not(.t-rank) {
    min-width: 80px;
}

tr.finalist th,
tr.finalist td {
    background: #e8fbe8;
}

tr.disqualified th,
tr.disqualified td {
    //opacity: 0.3;
    background: white;
    color: #BBBBBB;
}


td {
    padding-top: 4px;
    padding-bottom: 4px;
}

tr th:first-child,
tr td:first-child,
tr th:nth-child(2),
tr td:nth-child(2) {
    padding-left: 12px;
    box-sizing: border-box;
    position: sticky;
    left: 0;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: -1px;
        border-bottom: 1px solid rgba(0, 67, 123, 0.3);
        pointer-events: none;
    }
}

tr th:last-child,
tr td:last-child {
    padding-right: 12px;
}

th, td {
    background: white;
    box-sizing: border-box;
}

.t-right {
    text-align: right !important;
    padding-right: 8px;
}


.fa-edit {
    font-size: 18px;
    margin-left: 10px;
}

.fa-hourglass-2 {
    font-size: 14px;
    color: #999999;
}

@media (max-width: 800px) {
    table * {
        font-size: 14px;
    }

    table app-user-image-round {
        display: none;
    }

    .series-page {
        padding: 10px !important;
    }

    *:not(.leaderboard) {
        table tr td:first-child {
            width: 84px;
        }
    }
}
