<h2>
    <i class="fa fa-link"></i>
    Map connection request
</h2>

<p>
    <strong>{{ data.request.requestEmail }}</strong> requested a connection for the
    player <strong>{{ data.request.externalName }}</strong>.
</p>

<p>
    Please map the correct player:
</p>

<form
    (ngSubmit)="confirm()"
>

    <mat-form-field *ngIf="model">
        <mat-label>Player</mat-label>
        <mat-select
            [ngModel]="model()"
            (selectionChange)="selectPlayer($event.value)"
            name="model"
        >
            <ng-container *ngFor="let p of allMappablePlayers">
                <mat-option [value]="p">
                    {{ p.name }}
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>

    <button
        mat-raised-button color="primary"
        type="submit"
    >
        CONNECT
    </button>

    <button mat-raised-button (click)="closeDialog($event)">CLOSE</button>
</form>
