<app-app-header
    [user]="user$ | async"
></app-app-header>

<a [routerLink]="['/admin']">BACK</a>

@if (tournament$ | async; as tournament) {
    <div class="admin-header">
        <div class="flex flex-dir-column">
            <h4>Tournament</h4>
            <h2>
                {{ tournament.name }}
            </h2>
        </div>

        <span class="admin-header-buttons">
            <button
                mat-raised-button
                color="primary"
                [disabled]="!!tournament.locked"
                (click)="editTournament(tournament)"
            >
                <i class="fa fa-edit fa-ib"></i> EDIT
            </button>

            <button
                mat-raised-button
                color="warn"
                [disabled]="!!tournament.locked"
                (click)="deleteTournament(tournament)"
            >
                <i class="fa fa-trash fa-ib"></i> DELETE
            </button>

            <button
                mat-raised-button
                color="accent"
                (click)="copyTournament(tournament)"
            >
                <i class="fa fa-copy fa-ib"></i> COPY
            </button>

            <button
                mat-raised-button
                color="accent"
                (click)="openTournament(tournament.id)"
            >
                <i class="fa fa-share fa-ib"></i> OPEN
            </button>

            @if (tournament.locked) {
                <button
                    mat-raised-button
                    (click)="unlock(tournament)"
                >
                    <i class="fa fa-lock-open fa-ib"></i> UNLOCK
                </button>
            } @else {
                <button
                    mat-raised-button
                    (click)="lock(tournament)"
                >
                    <i class="fa fa-lock fa-ib"></i> LOCK
                </button>
            }
        </span>
    </div>

    <mat-tab-group>
        <mat-tab label="Overview">

            <div class="admin-body admin-body-flexed">
                <span>
                    <h4>Date</h4>
                    <p>{{ tournament.date | date:'dd.MM.YYYY' }}</p>
                </span>

                <span>
                    <h4>Location</h4>
                    <p>{{ tournament.locationName }}</p>
                </span>

                <span>
                    <h4>Password</h4>
                    <p>{{ tournament.password }}</p>
                </span>

                <span>
                    <h4>Buy-In</h4>
                    <p>$ {{ tournament.buyInAmount }}</p>
                </span>

                <span>
                    <h4>Number of Rebus</h4>
                    <p>{{ tournament.noOfRebuys }}</p>
                </span>

                <span>
                    <h4>With Re-Entry?</h4>
                    <p>{{ tournament.withReEntry }}</p>
                </span>

                <span>
                    <h4>Number of Re-eEntries</h4>
                    <p>$ {{ tournament.noOfReEntries }}</p>
                </span>

                <span>
                    <h4>Rebuy Stack</h4>
                    <p>$ {{ tournament.rebuyStack }}</p>
                </span>

                <span>
                    <h4>Rebuy Cost</h4>
                    <p>$ {{ tournament.rebuyAmount }}</p>
                </span>

                <span>
                    <h4>Addon Stack</h4>
                    <p>$ {{ tournament.addonStack }}</p>
                </span>

                <span>
                    <h4>Addon Cost</h4>
                    <p>$ {{ tournament.addonAmount }}</p>
                </span>

                <span>
                    <h4>with Bounty</h4>
                    <p>{{ tournament.withBounty }}</p>
                </span>

                <span>
                    <h4>Bounty Amount</h4>
                    <p>$ {{ tournament.bountyAmount }}</p>
                </span>

                <span>
                    <h4>Initial Pricepool</h4>
                    <p>$ {{ tournament.initialPricePool }}</p>
                </span>


            </div>
        </mat-tab>

        <mat-tab label="Players">
            <!-- extract -->
            <div class="admin-header">
                <h2>Players</h2>

                <span class="admin-header-buttons">
                            <button
                                mat-raised-button
                                color="primary"
                                [disabled]="!!tournament.locked"
                                (click)="addPlayers(tournament)"
                            >
                                <i class="fa fa-user-plus fa-ib"></i> ADD PAYERS
                            </button>
                        </span>
            </div>

            <table class="admin-table">
                @for (player of tournament.players; track player.id) {
                    <tr>
                        <td>
                            <app-user-with-image
                                [name]="player.name"
                                [image]="player.image"
                            ></app-user-with-image>
                        <td>
                            @if (!tournament.locked) {
                                <i
                                    class="fa fa-trash"
                                    (click)="deletePlayerFromTournament(player.id)"
                                ></i>
                            }
                        </td>
                    </tr>
                }
            </table>
        </mat-tab>

        <mat-tab label="Blinds">
            <div class="admin-header">
                <h2>Blinds</h2>

                <span class="admin-header-buttons">
                    <button
                        mat-raised-button
                        color="primary"
                        [disabled]="!!tournament.locked"
                        (click)="addBlinds(tournament)"
                    >
                        <i class="fa fa-tasks fa-ib"></i> ADD BLINDS
                    </button>

                    @if (tournament.structure.length > 0) {
                        <button
                            mat-raised-button
                            color="accent"
                            (click)="saveAsBlindStructure(tournament.structure)"
                        >
                            <i class="fa fa-save fa-ib"></i> SAVE AS BLIND STRUCTURE
                        </button>
                    } @else {
                        <button
                            mat-raised-button
                            color="accent"
                            (click)="assignBlindStructrue(tournament)"
                        >
                            <i class="fa fa-cloud-arrow-up fa-ib"></i> ASSIGN EXISTING BLIND STRUCTURE
                        </button>
                    }
                </span>
            </div>

            <div class="m-800">
                <app-blind-structure-view
                    [structure]="tournament.structure"
                    [locked]="tournament.locked"
                    (addPause)="addPause(tournament, $event)"
                    (deleteBlind)="deleteBlindFromTournament($event)"
                    (update)="updateBlindStructure($event, tournament.id)"
                ></app-blind-structure-view>

            </div>
        </mat-tab>
    </mat-tab-group>
}
