<div
    id="allLevels"
    class="inner-container"
    #allLevels
>
    <h3>
        Blind Levels

        <button
            *ngIf="!isSimpleTournament"
            class="round"
            mat-raised-button
            matTooltip="Add Blind Level"
            (click)="addBlind.emit()"
        >
            <i
                class="fa fa-plus-circle"
            ></i>
        </button>

    </h3>

    <h1>{{ currentLevelIndex }}</h1>

    <div class="overflow-y-auto">
        <div id="top"></div>

        <table class="blinds-table">
            <tbody>
                <ng-container *ngFor="let level of levelsToShow; let i = index;">
                    <tr
                        *ngIf="i > currentLevelIndex - 3 && i < currentLevelIndex + 4"
                        [class.bold]="i === currentLevelIndex"
                        [class.opaque]="i < currentLevelIndex"
                    >
                        <td class="m-40">
                            <div class="indicator">
                                <ng-container *ngIf="i === currentLevelIndex">
                                    ►
                                </ng-container>
                            </div>
                        </td>
                        <td class="m-40">
                            <div
                                *ngIf="!level.isPause; else pauseIcon;"
                                class="w-5 position position-big"
                            >
                                <div>
                                    <span>
                                        {{ level.id }}
                                    </span>
                                </div>
                            </div>

                            <ng-template #pauseIcon>
                                <i class="fa fa-pause-circle position-big"></i>
                            </ng-template>
                        </td>
                        <td>
                            <div>
                                <ng-container *ngIf="!level.isPause; else pause">
                                    <div class="talign-center talign-center-big">
                                        <span [innerHTML]="level | blindLevelText:!!showCondensed:false"></span>
                                        <ng-container *ngIf="level.ante > 0">
                                            / {{ level.ante | number }}
                                        </ng-container>
                                        <ng-container *ngIf="level.btnAnte > 0">
                                            / {{ level.ante | number }} (BA)
                                        </ng-container>
                                    </div>

                                    <div
                                        *ngIf="level.isPause"
                                        class="talign-center opac8"
                                    >
                                        {{ level.duration }} min
                                    </div>
                                </ng-container>

                                <ng-template #pause>
                                    <div class="talign-center pause">
                                        PAUSE - {{ level.isChipUp ? 'CHIP UP' : ''}}
                                        <ng-container *ngIf="level.endsRebuy">
                                            (ENDS REBUY)
                                        </ng-container>
                                    </div>

                                    <div class="talign-center opac8">
                                        {{ level.duration }} min
                                    </div>
                                </ng-template>
                            </div>
                        </td>
                    </tr>
                </ng-container>

            </tbody>
        </table>

        <div id="bottom"></div>
    </div>
</div>

