<div
    id="allLevels"
    class="inner-container"
    #allLevels
>
    <h3>
        Blind Levels
        <i
            *ngIf="!isSimpleTournament"
            class="fa fa-plus-circle"
            (click)="addBlind.emit()"
        ></i>
    </h3>

    <div class="overflow-y-auto">
        <div id="top"></div>
        <table class="blinds-table">
            <thead>
                <tr>
                    <th colspan="2">
                        Level
                    </th>
                    <th>
                        Duration
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let level of levelsToShow; let i = index;">
                    <tr
                        [class.bold]="i === currentLevelIndex"
                        [class.opaque]="i < currentLevelIndex"
                    >
                        <td>
                            <div class="indicator">
                                <ng-container *ngIf="i === currentLevelIndex">
                                    ►
                                </ng-container>
                            </div>
                        </td>
                        <td>
                            <div class="w-5 position" *ngIf="!level.isPause">
                                <div>
                                    <span>
                                        {{ level.id }}
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="flex justify-between align-center">
                                <ng-container *ngIf="!level.isPause; else pause">
                                    <div class="level">
                                        {{ level.sb | number }} /
                                        {{ level.bb | number }}
                                        <ng-container *ngIf="level.ante > 0">
                                            / {{ level.ante | number }}
                                        </ng-container>
                                        <ng-container *ngIf="level.btnAnte > 0">
                                            / {{ level.ante | number }} (BA)
                                        </ng-container>
                                    </div>
                                    <div class="duration">
                                        {{ level.duration }} min
                                    </div>
                                </ng-container>

                                <ng-template #pause>
                                    <div class="level pause">
                                        PAUSE - {{ level.isChipUp ? 'CHIP UP' : ''}}
                                        <ng-container *ngIf="level.endsRebuy">
                                            (ENDS REBUY)
                                        </ng-container>
                                    </div>
                                    <div class="duration pause">
                                        {{ level.duration }} min
                                    </div>
                                </ng-template>
                            </div>
                        </td>
                    </tr>
                    <!--            <div-->
                    <!--                class="level-wrapper"-->
                    <!--                [class.bold]="i === currentLevelIndex"-->
                    <!--                [class.opaque]="i < currentLevelIndex"-->
                    <!--            >-->
                    <!--                <div class="position" *ngIf="!level.isPause">-->
                    <!--                    <div>-->
                    <!--                        <span>-->
                    <!--                            {{ level.id }}-->
                    <!--                        </span>-->
                    <!--                    </div>-->
                    <!--                </div>-->

                    <!--                <div class="indicator">-->
                    <!--                    <ng-container *ngIf="i === currentLevelIndex">-->
                    <!--                        ►-->
                    <!--                    </ng-container>-->
                    <!--                </div>-->

                    <!--                <ng-container *ngIf="!level.isPause; else pause">-->
                    <!--                    <div class="level">-->
                    <!--                        {{ level.sb | number }} /-->
                    <!--                        {{ level.bb | number }}-->
                    <!--                        <ng-container *ngIf="level.ante > 0">-->
                    <!--                            / {{ level.ante | number }}-->
                    <!--                        </ng-container>-->
                    <!--                        <ng-container *ngIf="level.btnAnte > 0">-->
                    <!--                            / {{ level.ante | number }} (BA)-->
                    <!--                        </ng-container>-->
                    <!--                    </div>-->
                    <!--                    <div class="duration">-->
                    <!--                        {{ level.duration }} min-->
                    <!--                    </div>-->
                    <!--                </ng-container>-->

                    <!--                <ng-template #pause>-->
                    <!--                    <div class="level pause">-->
                    <!--                        {{ level.isChipUp ? 'CHIP UP' : 'PAUSE'}}-->
                    <!--                        <ng-container *ngIf="level.endsRebuy">-->
                    <!--                            (ENDS REBUY)-->
                    <!--                        </ng-container>-->
                    <!--                    </div>-->
                    <!--                    <div class="duration pause">-->
                    <!--                        {{ level.duration }} min-->
                    <!--                    </div>-->
                    <!--                </ng-template>-->
                    <!--            </div>-->
                </ng-container>

            </tbody>
        </table>
        <div id="bottom"></div>
    </div>
</div>

