:host {
    display: contents;
}

.tournament {
    margin-bottom: 32px;
    padding-bottom: 20px;
    border: solid 2px darkslategray;
    box-sizing: border-box;
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background: aliceblue;

    * {
        background: aliceblue;
    }
}

.tournament table {
    min-width: 600px;
}

.tournament h5 {
    margin-bottom: 12px;
    text-align: center;
}

.tournament span > p {
    font-size: 24px;
    text-align: center;
}

.tournament p {
    margin-bottom: 12px;
}

.tournament .header {
    margin-top: 12px;
    margin-bottom: 20px;

    & > div {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    h4 {
        text-align: center;
        display: block;
    }
}


@media (max-width: 800px) {
    table * {
        font-size: 14px;
    }
}

.time {
    margin-right: 12px;
}

.cd-title-info {
    width: 430px;
}

.countdown {
    width: 400px;
    position: relative;
    background: #ddd !important;
    height: 6px;
    border-radius: 6px;
}

.cd-content {
    position: absolute;
    top: 0;
    right: 0;
    height: 6px;
    border-radius: 6px;
    background: #006dc7 !important;
}

.cd-title-info small {
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px;
}
