@if (tournament()) {
    <div class="tournament">
        <div class="header">
            <h5>
                {{ tournament().tournament.date | date }}
            </h5>
            <h4>
                {{ tournament().tournament.name }}
            </h4>

            @if (tournament().playersAlive.length > 0) {
                <h5 class="flex justify-center align-center">
                    <span class="running"></span>
                    RUNNING!
                </h5>
            }

            <div>
                <span>
                    <p>
                        <strong class="green">
                            $ {{ tournament().pricePool - tournament().contribution | number:'1.0-0' }}
                        </strong>
                    </p>
                    <h5>
                        Effective price pool
                    </h5>
                </span>

                @if (tournament().contribution > 0) {
                    <span>
                        <p>
                            @if (tournament().withBounty) {
                                $ {{ +tournament().pricePool + bountyPool() | number:'1.0-0' }}

                            } @else {
                                $ {{ tournament().pricePool | number:'1.0-0' }}
                            }
                        </p>
                        <h5>
                            Total price pool
                        </h5>
                    </span>

                    <span>
                        <p>
                            $ {{ tournament().contribution | number:'1.0-0' }}
                        </p>
                        <h5>
                            Goes to final pot
                        </h5>
                    </span>
                }

                @if (tournament().withBounty) {
                    <span>
                        <p>
                            $ {{ bountyPool() | number:'1.0-0' }}
                        </p>
                        <h5>
                            Bounty price pool
                        </h5>
                    </span>
                }
            </div>
        </div>

        <div class="table-wrapper">
            <table>
                <tr>
                    <th>Name</th>
                    <th class="t-center">
                        Points (Rank)
                    </th>

                    @if (tournament().withRebuy) {
                        <th class="t-center">Rebuys</th>
                    }

                    @if (tournament().withAddon) {
                        <th class="t-center">Addons</th>
                    }

                    @if (series().showEliminations) {
                        <th class="t-center">Eliminations</th>
                    }

                    @if (tournament().withBounty) {
                        <th class="t-center">Bounties</th>
                    }

                    <th class="t-right">Price</th>
                </tr>

                @for (e of finishesToShow(); track e) {
                    <tr>
                        <td>
                            <app-user-with-image
                                [name]="e.name"
                                [image]="e.image"
                                [border]="e.isTemp ? 'b-live' : (e.email && e.email.length > 0 && myEmail() === e.email) ? 'b-my-user' : 'b-regular'"
                            ></app-user-with-image>
                        </td>
                        <td class="t-center">
                            @if (!e.isTemp) {
                                <span>
                                    <strong>
                                        {{ e.points | number:'1.1-1' }}
                                    </strong>
                                    &nbsp;
                                    ({{ e.rank | number:'1.0-1' }})

                                    @if (e.dealMade) {
                                        <i class="fa fa-handshake"></i>
                                    }
                                </span>
                            } @else {
                                <span class="t-flex justify-center align-center">
                                    {{ e.points | number:'1.1-1' }} (+)
                                </span>
                            }

                        </td>

                        @if (tournament().withRebuy) {
                            <td class="t-center">
                                <app-bullets [number]="e.rebuys"></app-bullets>
                            </td>
                        }

                        @if (tournament().withAddon) {
                            <td class="t-center">
                                <app-bullets [number]="e.addons"></app-bullets>
                            </td>
                        }

                        @if (series().showEliminations) {
                            <td class="t-center">
                                <app-bullets
                                    [number]="e.eliminations"
                                    bulletClass="fa-skull"
                                ></app-bullets>
                            </td>
                        }

                        @if (tournament().withBounty) {
                            <td class="t-center">
                                <span
                                    [class.green]="e.eliminations > 0"
                                    [class.bold]="e.eliminations > 0"
                                >
                                    {{ e.eliminations * tournament().tournament.bountyAmount | number:'1.0-0' }} $
                                </span>
                            </td>
                        }

                        <td class="t-right">
                            <span
                                [class.green]="e.price > 0"
                                [class.bold]="e.price > 0"
                            >
                                $ {{ e.price | number:'':'de-CH' }}

                                @if (isPayoutAdapted() && e.price > 0) {
                                    <i class="fa fa-wand-magic-sparkles"></i>
                                }
                            </span>
                        </td>
                    </tr>
                }
            </table>
        </div>

        @if (series().showLiveTicker && liveTicker() && liveTicker().length > 0) {
            <div class="live-ticker">
                <span class="flex justify-between align-center">
                    <span class="flex">
                        <i
                            class="fa fa-chevron-circle-down hoverable"
                            [class.rotate-180]="!isLiveTickerExpanded()"
                            (click)="isLiveTickerExpanded.set(!isLiveTickerExpanded())"
                        ></i>

                        <h4>Live-Ticker </h4>
                    </span>

                    @if (fetchLiveTicker()) {
                        <div class="flex cd-title-info align-center">
                            @if (countdown$ | async; as cd) {
                                <div class="countdown">
                                    <div
                                        class="cd-content"
                                        [style.width.%]="cd / 4"
                                    ></div>

                                </div>
                                <small>{{ (cd / 20) | number:'1.0-0' }}</small>
                            }
                        </div>
                    }
                </span>

                <div
                    class="expandable"
                    [class.expanded]="isLiveTickerExpanded()"
                >
                    @for (e of liveTicker(); track e) {
                        <div class="live-ticker-item">
                            <span class="fa-wrapper">
                                <i class="fa" [class]="e | tEventTypeIcon"></i>
                            </span>
                            <span class="time">
                                {{ e.timestamp | date:'HH:mm' }}
                            </span>
                            <span [innerHTML]="e.message"></span>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}
