<div class="admin-header">
    <h2>Tournaments</h2>

    <button
        mat-raised-button
        color="primary"
        (click)="createTournament()"
    >
        CREATE TOURNAMENT
    </button>
</div>

<table class="admin-table">
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Location</th>
        <th>Actions</th>
    </tr>
    <ng-container *ngFor="let t of tournaments$ | async">
        <a style="display: contents" [routerLink]="['/admin/tournament', t.id]">
            <tr
                [class.temp]="t.temp"

            >
                <td>
                    {{ t.date | date:'dd.MM.YYYY' }}
                </td>
                <td>
                    <i *ngIf="t.temp" class="fa fa-exclamation-triangle"></i> {{ t.name }}
                </td>
                <td>
                    {{ t.location }}
                </td>
                <td>
                    <div class="table-actions">
                        <i
                            class="fa fa-share"
                            (click)="openTournament(t.id)"
                        ></i>

                        <i
                            class="fa fa-trash"
                            (click)="deleteTournament(t.id)"
                        ></i>
                    </div>
                </td>
            </tr>
        </a>
    </ng-container>
</table>
