<div class="admin-header">
    <h2>Locations</h2>

    <button
        mat-raised-button
        color="primary"
        (click)="createLocation()"
    >
        <i class="fa fa-plus fa-ib"></i> CREATE LOCATION
    </button>
</div>

<div class="table-wrapper">
    <table class="admin-table">
        <tr>
            <th>Image</th>
            <th>Name</th>
        </tr>
        <ng-container *ngFor="let location of locations$ | async">
            <a class="contents" [routerLink]="['/admin/location', location.id]">
                <tr>
                    <td>
                        <img
                            class="mh-40px"
                            [src]="location.image"
                            onerror="this.src='http:///i.imgur.com/hfM1J8s.png'"
                        />
                    </td>
                    <td>
                        {{ location.name }}
                    </td>
                    <td>
                        <div class="table-actions">

                            @if (!location.locked) {
                                <i
                                    class="fa fa-trash"
                                    (click)="deleteLocation(location, $event)"
                                ></i>
                            }

                            @if (location.locked) {
                                <i class="fa fa-lock"></i>
                            }
                        </div>
                    </td>
                </tr>
            </a>
        </ng-container>
    </table>
</div>

<ng-template #times>
    <i class="fa fa-times"></i>
</ng-template>
