<h3>
    Ranking
</h3>

<div class="ranking">
    <div id="topr"></div>
    <table>
        <tr>
            <th>Name</th>
            <th class="center">Rank</th>
            <th class="center">Re-Entries</th>
            <th class="center">Rebuys</th>
            <th class="center">Addons</th>
            <th class="center">Price</th>
            <th
                *ngIf="formula"
                class="center"
            >
                Points
            </th>
        </tr>
        <ng-container *ngFor="let e of missingRankes">
            <tr class="opaque">
                <td>
                <span class="flextd">
                    <app-user-image-round
                        [imageUrl]="e.image"
                    ></app-user-image-round>
                    {{ e.name }}
                </span>
                </td>
                <td class="center">
                    {{ e.rank }}
                </td>
                <td class="center">
                    -
                </td>
                <td class="center">
                    -
                </td>
                <td class="center">
                    -
                </td>
                <td class="center">
                    -
                </td>
                <td
                    *ngIf="formula"
                    class="center"
                >
                    -
                </td>
            </tr>
        </ng-container>
        <ng-container *ngFor="let e of combFinishes">
            <tr>
                <td>
                <span class="flextd">
                    <app-user-image-round
                        [imageUrl]="e.image"
                    ></app-user-image-round>
                    {{ e.name }}
                </span>
                </td>
                <td class="center">
                    {{ e.rank }}
                </td>
                <td class="center">
                    {{ e.reEntries }}
                </td>
                <td class="center">
                    {{ e.rebuys }}
                </td>
                <td class="center">
                    {{ e.addons }}
                </td>
                <td class="center">
                    $ {{ e.price | number:'':'de-CH' }}
                </td>
                <td
                    *ngIf="formula"
                    class="center"
                >
                    {{ calcPoints(e) }}
                </td>
            </tr>
        </ng-container>
    </table>

    <div id="bottomr"></div>
</div>
