:host {
    display: contents;
}

div {
    width: 90%;
}

table {
    width: 100%;
}

th, td {
    font-size: 2vh;
    text-align: center;
}

td .flextd {
    display: flex;
    align-items: center;
}

