<h2>
    @if (data.tournament !== null) {
        Edit
    } @else {
        Create
    }
    Tournament
</h2>

<form
    [formGroup]="form"
    (ngSubmit)="onSubmit(model)"
>
    <a
        [routerLink]="['rank-formula']"
        (click)="cancel()"
    >
        <i class="fa fa-info-circle"></i> Learn more about formulas
    </a>

    <formly-form
        [form]="form"
        [fields]="fields"
        [options]="options"
        [model]="model"
    ></formly-form>

    <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
    >
        @if (data.tournament !== null) {
            EDIT
        } @else {
            CREATE
        }
    </button>
</form>

<button
    mat-raised-button
    (click)="cancel()"
>
    CANCEL
</button>
