<h2>
    <i class="fa fa-pause"></i>
    @if (data.blindLevel === null) {
        Create
    } @else {
        Edit
    }
    Pause
</h2>

<form
    class="flexed"
    (ngSubmit)="onSubmit()"
>
    <mat-form-field>
        <mat-label>Duration</mat-label>
        <input
            type="number"
            matInput
            [ngModel]="model.duration()"
            (ngModelChange)="model.duration.set($event)"
            name="duration"
        />
    </mat-form-field>

    <mat-checkbox
        [ngModel]="model.endsRebuy()"
        (ngModelChange)="model.endsRebuy.set($event)"
        name="endsRebuy"
    >
        Ends Rebuy?
    </mat-checkbox>

    <mat-checkbox
        [ngModel]="model.isChipUp()"
        (ngModelChange)="model.isChipUp.set($event)"
        name="isChipUp"
    >
        Is Chip-up?
    </mat-checkbox>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!model.isValid() || isLoadingAdd"
    >
        @if (data.blindLevel !== null) {
            EDIT
        } @else {
            CREATE
        }
    </button>

    <button
        mat-raised-button
        [disabled]="isLoadingAdd"
        (click)="closeDialog($event)"
    >
        CANCEL
    </button>

    @if (isLoadingAdd) {
        <div class="loading-wrapper">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    }
</form>

