<div class="stats-container flex justify-center align-center gap-20">
    <div>
        <h4>
            Players left
        </h4>

        <p class="big">
            {{ text() }}
        </p>
        <span class="small">
           <span class="transparent">hello</span>
        </span>
    </div>

    <div class="flex flex-dir-column justify-center align-center">
        <h4>
            Entries
        </h4>
        <p class="big">
            {{ textEntries() }}
        </p>
        <span class="small">
            x {{ tournament().startStack | number:'':'de-CH' }}
        </span>
    </div>
</div>
