<h2>
    Stats
</h2>

<p>
    Amount of tournaments played in brackets!<br>
    <i>RB & A</i>: Rebuys & addons<br>
    <i>ITM</i>: In the money<br>
    <i>p</i>: played
</p>

<div class="series-content-block spaced">
    @if (series().showAverageRank) {
        <app-series-stat
            [stat]="bestAverageRank()"
            [useNumberPipe]="true"
            statTitle="Best &#x2205; rank"
        ></app-series-stat>

        <app-series-stat
            [stat]="bestAverageRank()"
            [useNumberPipe]="true"
            statTitle="Best &#x2205; rank (p > 1)"
        ></app-series-stat>
    }

    @if (series().showPrices) {
        <app-series-stat
            [stat]="mostPrices()"
            [useNumberPipe]="true"
            statTitle="Most prices"
        ></app-series-stat>
    }

    @if (series().showPrices) {
        <app-series-stat
            [stat]="mostEffPrices()"
            statTitle="Most effective prices"
        ></app-series-stat>
    }

    @if (hasRebuy() || hasAddon()) {
        <app-series-stat
            [stat]="mostRebuysAddons()"
            statTitle="Most RB & A"
        ></app-series-stat>
    }

    @if (hasRebuy() || hasAddon()) {
        <app-series-stat
            [stat]="mostRebuysAddonsPerT()"
            [useNumberPipe]="true"
            statTitle="Most &#x2205; RB & A (p > 1)"
        ></app-series-stat>
    }

    <app-series-stat
        [stat]="mostITM()"
        statTitle="Most times ITM"
    ></app-series-stat>

    <app-series-stat
        [stat]="mostPercITM()"
        statTitle="Most % ITM"
        [useNumberPipe]="true"
    ></app-series-stat>

    @if (series().showEliminations) {
        <app-series-stat
            [stat]="mostEliminations()"
            statTitle="Most Eliminations"
        ></app-series-stat>
    }

    @if (series().id === 1 || series().id === 3) {
        <app-series-stat
            [stat]="mostSpilled()"
            statTitle="Spilled & Broken"
        ></app-series-stat>
    }
</div>
