<h2>
    Stats
</h2>

<p style="padding-left: 12px; margin-bottom: 12px;">
    Amount of tournaments played in brackets!<br>
    <i>RB & A</i>: Rebuys & addons<br>
    <i>ITM</i>: In the money<br>
    <i>p</i>: played
</p>

<div class="series-content-block spaced">
    <div class="li-pair">
        <h4>Best &#x2205; rank (p > 1)</h4>
        <span class="smaller" *ngFor="let e of bestAverageRank; let i = index;">
                        <span>{{i + 1}}. <app-user-image-round [imageUrl]="e.image" [size]="20"/>
                            {{ e.playerName }}</span> <span><strong>{{ e.value | number:'1.1-1' }}</strong>
                        ({{ e.played }})</span>
                    </span>
    </div>

    <div class="li-pair">
        <h4>
            Most prices
        </h4>
        <span class="smaller" *ngFor="let e of mostPrices; let i = index;">
                        <span>{{i + 1}}. <app-user-image-round [imageUrl]="e.image" [size]="20"/>
                            {{ e.playerName }}</span> <span><strong>{{ e.value }}$</strong> ({{ e.played }})</span>
                    </span>
    </div>

    <div class="li-pair">
        <h4>
            Most effective prices
        </h4>
        <span class="smaller" *ngFor="let e of mostEffPrices; let i = index;">
                        <span>{{i + 1}}. <app-user-image-round [imageUrl]="e.image" [size]="20"/>
                            {{ e.playerName }}</span> <span><strong>{{ e.value }}$</strong> ({{ e.played }})</span>
                    </span>
    </div>

    <div class="li-pair">
        <h4>
            Most RB & A
        </h4>
        <span class="smaller" *ngFor="let e of mostRebuysAddons; let i = index;">
                        <span>{{i + 1}}. <app-user-image-round [imageUrl]="e.image" [size]="20"/>
                            {{ e.playerName }}</span> <span><strong>{{ e.value }}</strong> ({{ e.played }})</span>
                    </span>
    </div>

    <div class="li-pair">
        <h4>
            Most &#x2205; RB & A (p > 1)
        </h4>
        <span class="smaller" *ngFor="let e of mostRebuysAddonsPerT; let i = index;">
                        <span>{{i + 1}}. <app-user-image-round [imageUrl]="e.image" [size]="20"/>
                            {{ e.playerName }}</span> <span><strong>{{ e.value | number:'1.1-1' }}
                    </strong> ({{ e.played }})</span>
                    </span>
    </div>

    <div class="li-pair">
        <h4>
            Most times ITM
        </h4>
        <span class="smaller" *ngFor="let e of mostITM; let i = index;">
                        <span>{{i + 1}}. <app-user-image-round [imageUrl]="e.image" [size]="20"/>
                            {{ e.playerName }}</span> <span><strong>{{ e.value }}</strong> ({{ e.played }})</span>
                    </span>
    </div>

    <div class="li-pair">
        <h4>
            Most % ITM
        </h4>
        <span class="smaller" *ngFor="let e of mostPercITM; let i = index;">
                        <span>{{i + 1}}. <app-user-image-round [imageUrl]="e.image" [size]="20"/>
                            {{ e.playerName }}</span> <span><strong>{{ e.value }}%</strong> ({{ e.played }})</span>
                    </span>
    </div>

    <div class="li-pair">
        <h4>
            Spilled & broken
        </h4>

        <span class="smaller" *ngFor="let e of mostSpilled; let i = index;">
                        <span>{{i + 1}}. <app-user-image-round [imageUrl]="e.image" [size]="20"/>
                            {{ e.playerName }}</span> <span><strong>{{ e.value }}</strong> ({{ e.played }})</span>
                    </span>
    </div>
</div>
