@import "src/styles/colors_texts";

.overview {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overview .overview-header {
    background: #00437b;
    width: 100%;
    height: 40px;
    flex: 0 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;

    span {
        font-weight: bold;
    }

    * {
        color: white;
    }
}

.overview .overview-wrapper {
    flex: 0 1 calc(100% - 40px);
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
}


.overview .right,
.overview .left {
    width: 30%;
    flex: 0 0 30%;
    height: 100%;
    overflow: hidden;
}

.overview .center {
    width: 40%;
    flex: 0 0 40%;
    box-sizing: border-box;
    border-left: solid 2px $borderColor;
    border-right: solid 2px $borderColor;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.overview .center.full {
    width: 70% !important;
    flex: 0 0 70% !important;
}

.clock {
    position: relative;
    flex: 1 1 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba($primary, 0.2);

    h1 {
        font-size: 21.9vh;
        color: $primaryDark;
    }
}

.titles {
    width: 100%;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
}

div.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.flex .fa-clock {
    color: rgba($primary, 0.2);
    font-size: 5.25vh;
    margin-right: 32px;
}

div.now {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;

    h3 {
        font-weight: bold;
        text-transform: uppercase;
        color: rgba($primary, 0.4) !important;
        font-size: 1.967vh;
    }

    h2 {
        font-weight: bold;
        text-transform: uppercase;
        color: rgba($primary, 0.4) !important;
        font-size: 4.8vh;
    }
}


.bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    .darker {
        width: 100%;
        background: $primaryDark;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}


p {
    font-size: 7vh;
}

.top {
    width: 100%;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
}

.top-center {
    width: 30vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-panel {
    width: 100%;
    height: 100%;
}

.popup {
    position: absolute;
    top: 48.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15.3vh;
    padding: 16px 32px;
    color: white;
}

.popup.paused {
    background-color: red;
}

.popup.finished {
    background: #85BB65;
}

//.time p {
//    font-size: 350px;
//    margin: 0;
//    font-weight: bold;
//}

.line {
    height: 4px;
    width: 100%;
    background-color: $background;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    background: rgba($primary, 0.2);
    flex: 1 1 10%;

    @media (max-width: 800px) {
        top: 20px;
        bottom: auto;
        justify-content: center;
        width: 100%;
        left: 0;
        right: auto;
    }
}

.countdown {
    position: absolute;
    visibility: hidden;
}

.slider-wrapper {
    position: relative;
    height: 100%;
    border-left: solid 2px $borderColor;
    box-sizing: border-box;

    .fa {
        position: absolute;
        font-size: 2.62vh;
        top: 30px;
        transform: translateY(-50%);
        color: white;
        cursor: pointer;

        &:hover {
            opacity: .7;
        }
    }

    .fa-chevron-left {
        left: 20px;
    }

    .fa-chevron-right {
        right: 20px;
    }
}

.keen-slider {
    //height: 640px;
}

.keen-slider__slide {
    display: flex;
    // justify-content: space-around;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 80px;
    box-sizing: border-box;
}


.steps {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        position: relative !important;
        margin: 20px;
        font-size: 1.0928vh !important;
        color: $primaryDark !important;
        top: auto !important;
        transform: none !important;
        transition: all 200ms ease-in-out;
    }

    i.fa-circle {
        transform: scale(2) !important;
    }
}

@media (max-width: 800px) {
    app-header,
    .top,
    .bottom {
        display: none;
    }
}

.current-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $primary;
    width: 100%;
    flex: 1 1 12%;
    text-align: center;
}

.level {
    margin: 0;
    font-size: 10.92vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.next-level {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 12%;
    background: $primaryDark;
    text-align: center;
}

.next-level-title {
    font-size: 3.28vh;
    margin-right: 40px !important;
}

.next-level-text {
    margin: 0;
    font-size: 5.46vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

