<div class="overview">
    <div class="overview-header">
        <span style="font-weight: bold">{{ today() | date:'dd.MM.YYYY HH:mm' }}</span>
        <span style="font-weight: bold">{{ tournament().name }}</span>
    </div>

    <div class="overview-wrapper">
        <div class="left">
            <div class="info-panel">
                @if (!isSimpleTournament()) {
                    <div class="slider-wrapper">
                        <div class="keen-slider" #sliderRef>
                            <div class="keen-slider__slide number-slide1 slide-blinds">
                                <app-blind-level-overview
                                    [levels]="tournament().structure"
                                    (addBlind)="addBlind()"
                                ></app-blind-level-overview>
                            </div>

                            <div class="keen-slider__slide number-slide2 slide-stats">
                                <app-player-details></app-player-details>
                            </div>

                            <div class="keen-slider__slide number-slide3 slide-stats">
                                <app-ranking
                                    *ngIf="tournament().finishes.length > tournament().players.length / 2; else blinds;"
                                ></app-ranking>

                                <ng-template #blinds>
                                    <app-blind-level-overview
                                        [levels]="tournament().structure"
                                        (addBlind)="addBlind()"
                                    ></app-blind-level-overview>
                                </ng-template>
                            </div>

                            <div
                                class="keen-slider__slide number-slide4 slide-stats"
                            >
                                @if (isTournamentPartOfSeries()) {
                                    <app-leaderboard-info></app-leaderboard-info>
                                } @else {
                                    <app-player-details></app-player-details>
                                }
                            </div>
                        </div>

                        <i class="fa fa-chevron-left" (click)="slider.prev()"></i>
                        <i class="fa fa-chevron-right" (click)="slider.next()"></i>

                        <div class="steps">
                            <i class="fa fa-circle-dot" [class.fa-circle]="currentSlide() === 0"></i>
                            <i class="fa fa-circle-dot" [class.fa-circle]="currentSlide() === 1"></i>
                            <i class="fa fa-circle-dot" [class.fa-circle]="currentSlide() === 2"></i>
                            <i class="fa fa-circle-dot" [class.fa-circle]="currentSlide() === 3"></i>
                        </div>
                    </div>
                } @else {
                    <app-blind-level-overview [levels]="tournament().structure"></app-blind-level-overview>
                }
            </div>
        </div>

        <div
            class="center"
            [class.full]="isSimpleTournament()"
        >
            <h3 class="highlighted">
                Levels
            </h3>
            <div class="clock">
                <span class="titles">
                    <div class="flex">
                        <i class="fa fa-clock"></i>

                        <div class="now">
                           <h3>Now</h3>
                            <h2>
                                {{ today() | date:'HH:mm' }}
                            </h2>
                        </div>

                        @if (started() !== undefined) {
                            <div class="now">
                                <h3>Started</h3>
                                <h2>
                                    {{ started() | date:'HH:mm' }}
                                </h2>
                            </div>

                            @if (!isRebuyPhaseFinished()) {
                                <div class="now">
                                    <h3>Rebuy Phase </h3>
                                    <h2>
                                        {{ timeForRebuy()  | date:'hh:mm:ss' }}
                                    </h2>

                                </div>
                            }
                        }
                    </div>
                </span>

                <h1>
                    {{ currentLevelTimeLeft() | time }}
                </h1>

                <div *ngIf="!isRunning() && !isFinished()" class="popup paused">
                    PAUSED
                </div>

                <div *ngIf="isFinished()" class="popup finished">
                    FINISHED
                </div>

                <countdown
                    *ngIf="!isFinished()"
                    class="countdown"
                    #cd
                    (event)="handleEvent($event)"
                    [config]="countdownConfig()"
                ></countdown>
            </div>

            <div
                *ngIf="!isFinished() && tournament().structure.length > 0"
                class="current-level"
            >
                <p class="level"
                   [innerHTML]="levels()[currentLevelIndex()] | blindLevelText:true"
                ></p>
            </div>

            <div
                *ngIf="!isFinished() && tournament().structure.length > 1 && currentLevelIndex() < tournament().structure.length"
                class="next-level"
            >
                <p class="next-level-title">
                    NEXT
                </p>

                <p
                    class="next-level-text"
                    [innerHTML]="levels()[currentLevelIndex() + 1] | blindLevelText:false"
                ></p>
            </div>

            <div
                class="button-wrapper"
            >
                <app-buttons
                    (addMinute)="addMinute()"
                    (nextLevel)="goToNextLevel()"
                    (prevLevel)="goToPreviousLevel()"
                ></app-buttons>
            </div>
        </div>

        <div
            *ngIf="!isSimpleTournament()"
            class="right"
        >
            <h3 class="highlighted">
                Tournament Info
            </h3>

            <app-payout-details></app-payout-details>
            <app-player-overview></app-player-overview>
            <app-buyin-overview></app-buyin-overview>
            <app-chips-overview></app-chips-overview>
        </div>
    </div>
</div>

<audio #warning>
    <source src="../../../../../assets/warning.wav" type="audio/wav">
</audio>

<audio #bleepNext>
    <source src="../../../../../assets/gong.mp3" type="audio/mp3">
</audio>
