<div class="overview">
    <!--    <app-header-->
    <!--        [tournament]="tournament"-->
    <!--    ></app-header>-->

    <div class="overview-wrapper">
        <div class="left">
            <div class="info-panel">
                <div class="slider-wrapper">
                    <div class="keen-slider" #sliderRef>
                        <div class="keen-slider__slide number-slide1 slide-blinds">
                            <app-blind-level-overview
                                [isSimpleTournament]="isSimpleTournament"
                                [levels]="tournament.structure"
                                [currentLevelIndex]="currentLevelIndex"
                                (addBlind)="addBlind()"
                            ></app-blind-level-overview>
                        </div>

                        <div class="keen-slider__slide number-slide2 slide-stats">
                            <app-player-details
                                [players]="tournament.players"
                                [entries]="tournament.entries"
                                [finishes]="tournament.finishes"
                                [trigger]="scrollTrigger$ | async"
                                [tId]="tournament.id"
                                [clientId]="clientId"
                            ></app-player-details>
                        </div>

                        <div class="keen-slider__slide number-slide3 slide-stats">
                            <app-ranking
                                [players]="tournament.players"
                                [entries]="tournament.entries"
                                [finishes]="tournament.finishes"
                                [tournament]="tournament"
                                [seriesMetadata]="seriesMetadata"
                            ></app-ranking>
                        </div>

                        <!--                        <div class="keen-slider__slide number-slide4 slide-stats">-->
                        <!--                            <app-payout-details-->
                        <!--                                [entries]="tournament.entries"-->
                        <!--                                [buyInAmount]="tournament.buyInAmount"-->
                        <!--                                [rebuyAmount]="tournament.rebuyAmount"-->
                        <!--                                [addonAmount]="tournament.addonAmount"-->
                        <!--                                [payout]="tournament.payout"-->
                        <!--                                [players]="tournament.players"-->
                        <!--                                [finishes]="tournament.finishes"-->
                        <!--                                [percentage]="seriesMetadata?.percentage"-->
                        <!--                                [maxCap]="seriesMetadata?.maxAmountPerTournament"-->
                        <!--                                [initialPricePool]="tournament.initialPricePool"-->
                        <!--                                [tournamentId]="tournament.id"-->
                        <!--                            ></app-payout-details>-->
                        <!--                        </div>-->
                    </div>

                    <i class="fa fa-chevron-left" (click)="slider.prev()"></i>
                    <i class="fa fa-chevron-right" (click)="slider.next()"></i>

                    <div class="steps">
                        <i class="fa fa-circle-o" [class.fa-circle]="currentSlide === 0"></i>
                        <i class="fa fa-circle-o" [class.fa-circle]="currentSlide === 1"></i>
                        <i class="fa fa-circle-o" [class.fa-circle]="currentSlide === 2"></i>
                        <!--                        <i class="fa fa-circle-o" [class.fa-circle]="currentSlide === 3"></i>-->
                        <!--                        <i class="fa fa-circle-o" [class.fa-circle]="currentSlide === 4"></i>-->
                        <!--                        <i class="fa fa-circle-o" [class.fa-circle]="currentSlide === 5"></i>-->
                        <!--                        <i class="fa fa-circle-o" [class.fa-circle]="currentSlide === 6"></i>-->
                        <!--                        <i class="fa fa-circle-o" [class.fa-circle]="currentSlide === 7"></i>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="center">
            <h3 class="highlighted">
                Levels
            </h3>
            <div class="clock">
                <span class="titles">
<!--                <h2 class="series-title">-->
                    <!--                    <span>Valentino's Poker Room</span>-->
                    <!--                </h2>-->

                    <div class="flex">
                        <i class="fa fa-clock-o"></i>

                    <h2 class="now">
                        {{ today | date:'HH:mm' }}
                    </h2>
                    </div>

                <h2 class="tourney">
                    {{ tournament.name }}
                </h2>


                </span>

                <h1>
                    {{ currentLevelTimeLeft | time }}
                </h1>

                <div *ngIf="!running && !finished" class="popup">
                    PAUSED
                </div>

                <div *ngIf="finished" class="popup">
                    FINISHED
                </div>

                <countdown
                    *ngIf="!finished"
                    class="countdown"
                    #cd
                    (event)="handleEvent($event)"
                    [config]="countdownConfig"
                ></countdown>
            </div>

            <div
                *ngIf="!finished && tournament.structure.length > 0"
                class="current-level"
            >
                <p class="level"
                   [innerHTML]="levels[currentLevelIndex] | blindLevelText:!!(showCondensedBlinds$ | async):true"
                ></p>
            </div>

            <div
                *ngIf="!finished && tournament.structure.length > 1 && currentLevelIndex < tournament.structure.length"
                class="next-level"
            >
                <p class="next-level-title">
                    NEXT
                </p>

                <p
                    class="next-level-text"
                    [innerHTML]="levels[currentLevelIndex + 1] | blindLevelText:!!(showCondensedBlinds$ | async):false"
                ></p>
            </div>

            <div
                class="button-wrapper"
            >
                <app-buttons
                    [running]="running"
                    [clientId]="clientId"
                    [tournament]="tournament"
                    [sub]="sub"
                    [seriesMetadata]="seriesMetadata"
                    [isRebuyPhaseFinished]="isRebuyPhaseFinished"
                    [isSimpleTournament]="isSimpleTournament"
                    [isTournamentFinished]="finished"
                    (start)="start()"
                    (pause)="pause()"
                    (addMinute)="addMinute()"
                    (nextLevel)="goToNextLevel()"
                    (prevLevel)="goToPreviousLevel()"
                    (toggleAutoSlide)="autoSlide = $event"
                    (localRefresh)="refreshViews()"
                ></app-buttons>
            </div>
        </div>
        <div class="right">
            <h3 class="highlighted">
                Tournament Info
            </h3>

            <app-payout-details
                [entries]="tournament.entries"
                [buyInAmount]="tournament.buyInAmount"
                [rebuyAmount]="tournament.rebuyAmount"
                [addonAmount]="tournament.addonAmount"
                [payout]="tournament.payout"
                [players]="tournament.players"
                [finishes]="tournament.finishes"
                [percentage]="seriesMetadata?.percentage"
                [maxCap]="seriesMetadata?.maxAmountPerTournament"
                [initialPricePool]="tournament.initialPricePool"
                [tournamentId]="tournament.id"
                (localRefresh)="refreshViews()"
            ></app-payout-details>

            <app-player-overview
                [players]="tournament.players"
                [finishes]="tournament.finishes"
            ></app-player-overview>

            <app-buyin-overview
                [entries]="tournament.entries"
                [tournament]="tournament"
            ></app-buyin-overview>

            <app-chips-overview
                [entries]="tournament.entries"
                [players]="tournament.players"
                [startStack]="tournament.startStack"
                [rebuyStack]="tournament.rebuyStack"
                [addonStack]="tournament.addonStack"
                [finishes]="tournament.finishes"
            ></app-chips-overview>
        </div>
    </div>
</div>

<audio #warning>
    <source src="../../../../../assets/warning.wav" type="audio/wav">
</audio>

<audio #bleepNext>
    <source src="../../../../../assets/next.wav" type="audio/wav">
</audio>
