<h2>Table Draw</h2>

<div
    *ngIf="tableDraw"
    class="table-draw"
>
    <button
        id="reset-button"
        mat-raised-button
        color="warn"
        (click)="reset()"
    >
        RESET TABLE DRAW
    </button>

    <app-table-draw-state [currentState]="tableDraw.state"></app-table-draw-state>

    <div class="table-draw-stats">
        <h3>No of tables:
            <span>{{ tableDraw?.noOfTables }}</span>
        </h3>
        <h3>Total players:
            <span>{{ dummyTournament.players.length }}</span>
        </h3>
        <h3>Remaining players:
            <span>{{ testPlayers?.length }}</span>
        </h3>
    </div>

    <div class="notification-wrapper">
        <ng-container *ngIf="tableDraw.playerHasToBeMoved && !tableDraw.playersToMove">
            <div class="notification">
                <i class="fa fa-exclamation-triangle"></i>

                <span>
                    {{tableDraw.noOfPlayersToMove}}  player
                    <span *ngIf="tableDraw.noOfPlayersToMove > 1">s</span>
                    from table {{ tableDraw.tableIndexToTake + 1 }}
                    ha<i *ngIf="tableDraw.noOfPlayersToMove < 2">s</i><i *ngIf="tableDraw.noOfPlayersToMove > 1">ve</i>
                    to be moved to table {{ tableDraw.tableIndexToAdd + 1 }}!
                </span>

                <button
                    mat-raised-button
                    color="primary"
                    (click)="movePlayer()"
                >
                    MOVE NOW
                </button>
            </div>
        </ng-container>

        <ng-container *ngIf="tableDraw.playersToMove">
            <ng-container *ngFor="let p of tableDraw.playersToMove">
                <div class="notification">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>
                        Player <strong>{{ p.player.name }}</strong> has to move from
                        table {{ tableDraw.tableIndexToTake + 1 }} to
                        table {{ tableDraw.tableIndexToAdd + 1 }}
                    </span>
                </div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="tableDraw.tableHasToBeEliminated">
            <div class="notification">
                <i class="fa fa-exclamation-triangle"></i>
                <span>
                    A table can be eliminated!
                </span>

                <button
                    mat-raised-button
                    color="primary"
                    (click)="eliminateTable()"
                >
                    ELIMINATE TABLE AND DISTRIBUTE PLAYERS
                </button>
            </div>
        </ng-container>
    </div>

    <ng-container *ngIf="tableDraw.state === TABLE_DRAW_STATE.BLANK">
        <div class="bullet-title">
            <div class="bullet">1</div>
            <h3>SET UP</h3>
        </div>

        <div class="setup-wrapper">
            <mat-form-field>
                <mat-label>max players per table</mat-label>
                <input
                    matInput
                    [(ngModel)]="maxPlayersPerTable"
                    type="number"
                >
            </mat-form-field>

            <button
                mat-raised-button
                color="primary"
                (click)="setupEmptyTables()"
            >
                SET UP
            </button>

            <button
                *ngIf="tableDraw.tables?.length"
                mat-raised-button
                color="primary"
                (click)="confirmSetup()"
            >
                CONFIRM SETUP
            </button>
        </div>
    </ng-container>

    <ng-container *ngIf="tableDraw.state === TABLE_DRAW_STATE.SET_UP">
        <div class="bullet-title">
            <div class="bullet">2</div>
            <h3>DRAW</h3>
        </div>

        <div class="draw-wrapper">
            <button
                mat-raised-button color="primary"
                (click)="draw()"
            >
                DRAW PLAYERS
            </button>
        </div>
    </ng-container>

    <ng-container *ngIf="tableDraw.state === TABLE_DRAW_STATE.DRAWN">
        <div class="bullet-title">
            <div class="bullet">2</div>
            <h3>MANAGE</h3>
        </div>
    </ng-container>

    <div class="tables-wrapper">
        <ng-container *ngFor="let table of tableDraw.tables; let i = index;">
            <div class="table">
                <h4>Table {{ i + 1 }}</h4>
                <div class="table-content">

                    <ng-container *ngFor="let player of table; let j = index;">
                        <div
                            class="seat"
                            [class.fixed]="player.fixSeat"
                            [class.eliminated]="player.eliminated"
                            (click)="player.selectVisible = !player.placeholder && true"
                        >
                            <!-- TODO ability to remove fixed seat -->
                            <div class="position">
                                <div>
                                <span>
                                    {{ player.seatNo + 1 }}
                                </span>
                                </div>
                            </div>

                            <p>
                                {{ player?.player?.name }}
                            </p>

                            <div
                                *ngIf="player.isButton"
                                class="button"
                            >
                                B
                            </div>

                            <mat-form-field *ngIf="player.selectVisible && !player.eliminated">
                                <mat-select>
                                    <ng-container *ngFor="let p of tableDraw.availablePlayers">
                                        <mat-option [value]="p" (click)="addFixedSeat(i, j, p)">
                                            {{ p.name }}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</div>


<div class="test-players">

    <ng-container *ngFor="let player of testPlayers">
        <div class="test-player" (click)="removePlayer(player)">
            {{ player.name }}
        </div>
    </ng-container>

</div>
