@import "node_modules/keen-slider/keen-slider.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "src/styles/colors_texts";
@import "src/styles/admin";
@import "src/styles/icons";
@import "src/styles/material";
@import "src/styles/table";
@import "src/styles/spacing_dimensions";
@import "src/styles/common-elements";
@import "src/styles/fonts";

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-with-header {
    padding-top: 100px !important;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1280px;
    margin: auto;
}

svg path {
    stroke-linecap: butt !important;
}

form {
    max-width: 600px;
    margin-bottom: 40px;
}

.mobile-only {
    display: none;

    @media (max-width: 800px) {
        display: block;
    }
}

.desktop-only {
    display: block;

    @media (max-width: 800px) {
        display: none;
    }
}

#NotiflixNotifyWrap {
    width: fit-content !important;
    display: flex;
    flex-direction: column;

    > div {
        width: fit-content !important;
    }
}

.notiflix-notify {
    padding: 12px 16px 20px 12px !important;
}

.nx-message-icon {
    width: 32px !important;
    height: 32px !important;
    left: 14px !important;
    top: -2px !important;
}

.cdk-overlay-container {
    z-index: 9999;
}

.current-level span.smaller {
    font-size: 32px !important;
}

.next-level-text span.smaller {
    font-size: 32px !important;
}

.mdc-button__label .fa {
    transform: translate(1px, 1px);
}

form .mdc-button,
.mdc-dialog__container .mdc-button {
    margin-bottom: 12px !important;
}

.mdc-dialog__container h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    .fa {
        margin-right: 20px;
        font-size: 32px;
    }
}

.hoverable {
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}
