@import "node_modules/keen-slider/keen-slider.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "src/styles/colors_texts";
@import "src/styles/admin";
@import "src/styles/icons";
@import "src/styles/material";
@import "src/styles/table";
@import "src/styles/spacing_dimensions";
@import "src/styles/common-elements";
@import "src/styles/fonts";
@import "src/styles/animations";

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.big-cursor {
    cursor: url('./assets/icon100.png'), auto !important;

    button,
    .mdc-button,
    .clickable {
        cursor: url('./assets/icon100.png'), auto !important;
    }

    button:hover,
    .mdc-button:hover,
    .clickable:hover {
        cursor: url('./assets/icon100-006dc7.png'), auto !important;
    }
}

.page-with-header {
    padding-top: 100px !important;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1280px;
    margin: auto;

    @media (max-width: 800px) {
        padding-top: 80px !important;
        padding-right: 16px;
        padding-left: 16px;
    }
}

.page-with-header.wide {
    max-width: 100%;
    padding-left: 0 !important;
}

.page-with-header .page-header {
    padding: 32px;

    @media (max-width: 800px) {
        padding: 24px;
    }
}

.page-with-header .page-header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

svg path {
    stroke-linecap: butt !important;
}

form {
    max-width: 100%;
    margin-bottom: 20px;
    position: relative;

    @media (max-width: 800px) {
        margin-bottom: 12px;
    }
}

form .loading-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(white, 0.85);
}

form .loading-wrapper > .fa-spinner {
    font-size: 100px !important;
    color: #00437b;
}

form.flexed {
    display: flex;
    flex-direction: column;
}

.mobile-only {
    display: none;

    @media (max-width: 800px) {
        display: block;
    }
}

.desktop-only {
    display: block;

    @media (max-width: 800px) {
        display: none;
    }
}

#NotiflixNotifyWrap {
    width: fit-content !important;
    display: flex;
    flex-direction: column;
    z-index: 999999 !important;

    > div {
        width: fit-content !important;
    }
}

.notiflix-notify {
    padding: 12px 16px 20px 12px !important;
}

.nx-message-icon {
    width: 32px !important;
    height: 32px !important;
    left: 14px !important;
    top: -2px !important;
}

.cdk-overlay-container {
    z-index: 9999;
}

.current-level span.smaller {
    font-size: 32px !important;
}

.next-level-text span.smaller {
    font-size: 32px !important;
}

//.mdc-button__label .fa {
//    transform: translate(1px, 1px);
//}

form .mdc-button,
.mdc-dialog__container .mdc-button {
    margin-bottom: 12px !important;
}

.mdc-dialog__container h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    .fa {
        margin-right: 20px;
        font-size: 26px;
    }


    @media (max-width: 800px) {
        font-size: 18px;

        .fa {
            margin-right: 12px;
            font-size: 16px;
        }
    }
}

.hoverable {
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.preview-image {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    max-width: 100%;
    min-width: 200px;
}

.table-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.checkbox-hint {
    color: #888 !important;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 16px !important;
    padding-left: 40px;
}

.m-800 {
    max-width: 800px;
    flex: 0 0 800px;
}

.m-400 {
    max-width: 400px;
    flex: 0 0 400px;
}

.mh-40px {
    max-height: 40px;
}

a.contents {
    display: contents;
}

.login-hint {
    max-width: 800px;
    margin: auto;
    padding: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-hint h1 {
    text-align: center;
}

.login-hint button {
    width: fit-content;
}

.transparent {
    opacity: 0;
}

.no-blinds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-blinds .fa {
    font-size: 40px;
    color: darkred;
    margin-top: 32px;
}

.no-blinds h4 {
    color: darkred;
    margin-top: 20px;
}

.no-blinds a {
    font-weight: bold;
}

form a {
    display: flex;
    margin-top: 12px;
    margin-bottom: 20px;
    align-items: center;
    text-decoration: none !important;

    .fa {
        margin-right: 8px;
    }
}
