<app-app-header
    [user]="user$ | async"
></app-app-header>

<div
    *ngIf="user$ | async as user"
    class="page-with-header"
>
    <div class="flex justify-center">
        <span class="desktop-only">
            <app-user-image-round
                [imageUrl]="userImage$ | async"
                [size]="200"
                border="b-black"
            ></app-user-image-round>
        </span>
        <span class="mobile-only">
            <app-user-image-round
                [imageUrl]="userImage$ | async"
                [size]="100"
                border="b-black"
            ></app-user-image-round>
        </span>
    </div>

    <div class="text-align-center">
        <h1>
            {{ user.name }}
        </h1>
        <p>
            {{ user.email}}
        </p>
    </div>

    <hr>

    <ng-container *ngIf="myPlayers$ | async as myPlayers">
        <ng-container *ngIf="myPlayers.length > 0">
            <h2>Players connected to yourself</h2>

            <div class="flex">
                <ng-container *ngFor="let p of myPlayers">
                    <app-player-list-item
                        [player]="p"
                        [myEmail]="email$ | async"
                    ></app-player-list-item>
                </ng-container>
            </div>

            <hr>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="mappedUsers$ | async as mappedUsers">
        <ng-container *ngIf="mappedUsers.length > 0">
            <h2>Players connected to other users</h2>

            <div class="flex">
                <ng-container *ngFor="let p of mappedUsers">
                    <app-player-list-item
                        [player]="p"
                        [myEmail]="email$ | async"
                    ></app-player-list-item>
                </ng-container>
            </div>

            <hr>
        </ng-container>
    </ng-container>

    <div class="flex align-center">
        <h2>Are you part of another user's series or tournament? Connect here!</h2>

        <button
            style="margin-left: 40px"
            mat-raised-button
            color="primary"
            (click)="connectToOtherUser()"
        >
            CONNECT NOW
        </button>
    </div>

    <hr>


    <div class="grid grid-2">
        <div>
            <h2>My incoming requests</h2>

            <ng-container *ngIf="incomingRequests$ | async as incomingRequests">
                <ng-container *ngIf="incomingRequests.length > 0; else noIncoming">
                    <ng-container *ngFor="let cr of incomingRequests">
                        <app-connection-request
                            [connectionRequest]="cr"
                            [myEmail]="email$ | async"
                        ></app-connection-request>
                    </ng-container>
                </ng-container>

                <ng-template #noIncoming>
                    <h4>No requests</h4>
                </ng-template>
            </ng-container>
        </div>

        <div>
            <h2>My outgoing requests</h2>

            <ng-container *ngIf="outgoingPendingRequests$ | async as outgoingPendingRequests">
                <ng-container *ngIf="outgoingPendingRequests.length > 0; else noIncoming">
                    <ng-container *ngFor="let cr of outgoingPendingRequests">
                        <app-connection-request
                            [connectionRequest]="cr"
                            [myEmail]="email$ | async"
                        ></app-connection-request>
                    </ng-container>
                </ng-container>

                <ng-template #noIncoming>
                    <h4>No requests</h4>
                </ng-template>
            </ng-container>
        </div>

        <div>
            <h2>My connections</h2>

            <ng-container *ngIf="outgoingAcceptedRequests$ | async as outgoingAcceptedRequests">
                <ng-container *ngIf="outgoingAcceptedRequests.length > 0; else noIncoming">
                    <ng-container *ngFor="let cr of outgoingAcceptedRequests">
                        <app-connection-request
                            [connectionRequest]="cr"
                            [myEmail]="email$ | async"
                        ></app-connection-request>
                    </ng-container>
                </ng-container>

                <ng-template #noIncoming>
                    <h4>No requests</h4>
                </ng-template>
            </ng-container>
        </div>

        <div>
            <h2>My declined connections</h2>

            <ng-container *ngIf="outgoingDeclinedRequests$ | async as outgoingDeclinedRequests">
                <ng-container *ngIf="outgoingDeclinedRequests.length > 0; else noIncoming">
                    <ng-container *ngFor="let cr of outgoingDeclinedRequests">
                        <app-connection-request
                            [connectionRequest]="cr"
                            [myEmail]="email$ | async"
                        ></app-connection-request>
                    </ng-container>
                </ng-container>

                <ng-template #noIncoming>
                    <h4>No requests</h4>
                </ng-template>
            </ng-container>
        </div>
    </div>
</div>
