.next-level {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
}

.title {
    font-size: 3vh;
    margin-right: 4vh;
}

.level {
    font-size: 6vh;
    font-weight: bold;
}
