<div class="admin-header">
    <h2>Brandings</h2>

    <button
        mat-raised-button
        color="primary"
        (click)="createBranding()"
    >
        CREATE BRANDING
    </button>
</div>

<div class="table-wrapper">
    <table class="admin-table">
        <tr>
            <th>Logo</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <ng-container *ngFor="let branding of brandings$ | async">
            <a style="display: contents" [routerLink]="['/admin/branding', branding.id]">
                <tr>
                    <td>
                        <img
                            [src]="branding.logo"
                            onerror="this.src='http:///i.imgur.com/hfM1J8s.png'"
                            style="max-height: 40px;"
                        />
                    </td>
                    <td>
                        {{ branding.name }}
                    </td>
                    <td>
                        {{ branding.description }}
                    </td>
                    <td>
                        <div class="table-actions">
                            <i
                                *ngIf="!branding.locked"
                                class="fa fa-trash"
                                (click)="deleteBranding(branding, $event)"
                            ></i>

                            <i
                                *ngIf="branding.locked"
                                class="fa fa-lock"
                            ></i>
                        </div>
                    </td>
                </tr>
            </a>
        </ng-container>
    </table>
</div>

<ng-template #times>
    <i class="fa fa-times"></i>
</ng-template>
