<h2><i class="fa fa-gears"></i> Menu</h2>

@if (isProOrAdmin()) {
    <h4>
        Player Actions
    </h4>

    <div class="button-group">

        @if (isProOrAdmin() && !data.isAddPlayerBlocked) {
            <div class="action">
                <h5><i class="fa fa-plus"></i> Player</h5>
                <button
                    mat-flat-button
                    class="main"
                    [disabled]="isTournamentFinished() || isTournamentLocked() || isITM()"
                    (click)="addPlayer()"
                >
                    <i class="fa fa-user"></i> {{ isProOrAdmin() }} <br> {{ data.isAddPlayerBlocked }}
                </button>
            </div>
        }

        @if (isProOrAdmin()) {
            <div class="action">
                <h5><i class="fa fa-plus"></i> Entry</h5>
                <button
                    mat-flat-button
                    class="main"
                    [disabled]="isTournamentFinished() || isTournamentLocked() || isITM()"
                    (click)="addEntry(false)"
                >
                    <i class="fa fa-money-bill-wave"></i>
                </button>
            </div>
        }

        @if (withRebuy() && isProOrAdmin() && !isRebuyPhaseFinished()) {
            <div class="action">
                <h5><i class="fa fa-plus"></i> Rebuy</h5>
                <button
                    mat-flat-button
                    class="main"
                    [disabled]="isTournamentFinished() || isTournamentLocked() || isITM()"
                    (click)="addRebuy()"
                >
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
        }

        @if (withReEntry() && isProOrAdmin() && !isRebuyPhaseFinished()) {
            <div class="action">
                <h5><i class="fa fa-plus"></i> Re-Entry</h5>
                <button
                    mat-flat-button
                    class="main"
                    [disabled]="isTournamentFinished() || isTournamentLocked() || isITM()"
                    (click)="addEntry(true)"
                >
            <span class="relative-icon">
                <i class="fa fa-money-bill-wave"></i>
                <i class="fa fa-plus absolute-icon"></i>
            </span>
                </button>
            </div>
        }

        @if (withAddon() && isProOrAdmin() && !isRebuyPhaseFinished()) {
            <div class="action">
                <h5><i class="fa fa-plus"></i> Addon</h5>
                <button
                    mat-flat-button
                    class="main"
                    [disabled]="isTournamentFinished() || isTournamentLocked()"
                    (click)="addAddon()"
                >
                    <i class="fa fa-database"></i>
                </button>
            </div>
        }

        @if (isProOrAdmin()) {
            <div class="action">
                <h5>Seat Open</h5>
                <button
                    mat-flat-button
                    class="main"
                    [disabled]="isTournamentFinished() || isTournamentLocked()"
                    (click)="seatOpen()"
                >
                    <i class="fa fa-skull"> </i>
                </button>
            </div>
        }

        @if (isProOrAdmin() && isRebuyPhaseFinished()) {
            <div class="action">
                <h5>Make Deal</h5>
                <button
                    mat-flat-button
                    class="main"
                    [disabled]="isTournamentFinished() || isTournamentLocked() || !isITM()"
                    (click)="makeDeal()"
                >
                    <i class="fa fa-handshake"></i>
                </button>
            </div>
        }
    </div>
}

<h4>
    Timer Actions
</h4>
<div class="button-group">
    @if (isRunning()) {
        <div class="action">
            <h5>Pause</h5>
            <button
                mat-flat-button
                class="main"
                (click)="onPause()"
            >
                <i class="fa fa-pause"></i>
            </button>
        </div>
    } @else {
        <div class="action">
            <h5>Start</h5>
            <button
                mat-flat-button
                class="main"
                (click)="onStart()"
            >
                <i class="fa fa-play"></i>
            </button>
        </div>
    }

    <div class="action">
        <h5><i class="fa fa-plus"></i> 1min</h5>
        <button
            mat-flat-button
            class="main"
            (click)="addMinute.emit()">
            <i class="fa fa-clock"></i>
        </button>
    </div>

    <div class="action">
        <h5><i class="fa fa-chevron-circle-left"></i> Level</h5>
        <button
            mat-flat-button
            class="main"
            (click)="prevLevel.emit()">
            <i class="fa fa-chevron-circle-left"></i>
        </button>
    </div>

    <div class="action">
        <h5><i class="fa fa-chevron-circle-right"></i> Level</h5>
        <button
            mat-flat-button
            class="main"
            (click)="nextLevel.emit()">
            <i class="fa fa-chevron-circle-right"></i>
        </button>
    </div>

    @if (isProOrAdmin()) {
        <div class="action">
            <h5>Draw</h5>
            <button
                mat-flat-button
                class="main"
                (click)="drawTables()">
                <i class="fa fa-random"></i>
            </button>
        </div>
    }
</div>

<h4>Other Actions</h4>
<div class="button-group">

    <div class="action">
        <h5>Autoslide</h5>
        <button
            mat-flat-button
            class="main"
            (click)="onToggleAutoSlide()"
        >
            @if (autoSlide()) {
                <i class="fa fa-toggle-on"></i>
            } @else {
                <i class="fa fa-toggle-off"></i>
            }
        </button>
    </div>

    <div class="action">
        <h5>Condense</h5>
        <button
            mat-flat-button
            class="main"
            (click)="onToggleShowCondensedBlinds()"
        >
            @if (showCondensedBlinds()) {
                <i class="fa fa-toggle-on"></i>
            } @else {
                <i class="fa fa-toggle-off"></i>
            }
        </button>
    </div>

    @if (!isFullScreen()) {
        <div class="action">
            <h5>Fullscreen</h5>
            <button
                mat-flat-button
                class="main"
                (click)="fullScreen()"
            >
                <i class="fa fa-maximize"></i>
            </button>
        </div>
    } @else {
        <div class="action">
            <h5>Normal Screen</h5>
            <button
                mat-flat-button
                class="main"
                (click)="cancelFullscreen()"
            >
                <i class="fa fa-minimize"></i>
            </button>
        </div>
    }

    <div class="action">
        <h5>Cursor</h5>
        <button
            mat-flat-button
            class="main"
            (click)="onToggleIsBigCursor()"
        >
            <i class="fa fa-mouse-pointer"></i>
        </button>
    </div>

    <div class="action">
        <h5>State</h5>
        <button
            mat-flat-button
            class="main"
            (click)="resetState()"
        >
            <i class="fa fa-eraser"></i>
        </button>
    </div>

    <div class="action">
        <h5>Admin</h5>

        @if (isAuthenticated$ | async) {
            <button
                mat-flat-button
                class="main"
                (click)="closeMenu()"
                [routerLink]="['/admin']"
            >
                <i class="fa fa-address-card"></i>
            </button>
        }
    </div>
</div>

@if (!isTournamentLocked()) {
    <h4>Tournament settings</h4>

    <br>

    <form
        [formGroup]="form"
    >
        <formly-form
            [form]="form"
            [fields]="fields"
            [options]="options"
            [model]="model"
        ></formly-form>

        <button
            mat-flat-button color="primary"
            type="submit"
            [disabled]="!form.valid"
            (click)="applySettings(model)"
        >
            APPLY
        </button>
    </form>
}
