<h2><i class="fa fa-gears"></i> Menu</h2>

<h4>
    Player Actions
</h4>

<div class="button-group">

    <div
        *ngIf="!isSimpleTournament() && !data.isAddPlayerBlocked"
        class="action"
    >
        <h5><i class="fa fa-plus"></i> Player</h5>
        <button
            mat-raised-button
            class="main"
            (click)="addPlayer()"
        >
            <i class="fa fa-user"></i>
        </button>
    </div>

    <div
        *ngIf="!isSimpleTournament()"
        class="action"
    >
        <h5><i class="fa fa-plus"></i> Entry</h5>
        <button
            mat-raised-button
            class="main"
            (click)="addEntry(false)"
        >
            <i class="fa fa-money-bill-wave"></i>
        </button>
    </div>

    <div
        *ngIf="withRebuy() && !isSimpleTournament() && !isRebuyPhaseFinished()"
        class="action"
    >
        <h5><i class="fa fa-plus"></i> Rebuy</h5>
        <button
            mat-raised-button
            class="main"
            (click)="addRebuy()"
        >
            <i class="fa fa-refresh"></i>
        </button>
    </div>

    <div
        *ngIf="withReEntry() && !isSimpleTournament() && !isRebuyPhaseFinished()"
        class="action"
    >
        <h5><i class="fa fa-plus"></i> Re-Entry</h5>
        <button
            mat-raised-button
            class="main"
            (click)="addEntry(true)"
        >
            <span class="relative-icon">
                <i class="fa fa-money-bill-wave"></i>
                <i class="fa fa-plus absolute-icon"></i>
            </span>
        </button>
    </div>

    <div
        *ngIf="withAddon() && !isSimpleTournament() && !isRebuyPhaseFinished()"
        class="action"
    >
        <h5><i class="fa fa-plus"></i> Addon</h5>
        <button
            mat-raised-button
            class="main"
            (click)="addAddon()"
        >
            <i class="fa fa-database"></i>
        </button>
    </div>

    <div
        *ngIf="!isSimpleTournament()"
        class="action"
    >
        <h5>Seat Open</h5>
        <button
            mat-raised-button
            class="main"
            (click)="seatOpen()"
        >
            <i class="fa fa-skull"> </i>
        </button>
    </div>

    <div
        *ngIf="!isSimpleTournament() && isRebuyPhaseFinished()"
        class="action"
    >
        <h5>Make Deal</h5>
        <button
            mat-raised-button
            class="main"
            (click)="makeDeal()"
        >
            <i class="fa fa-handshake"></i>
        </button>
    </div>
</div>


<h4>
    Timer Actions
</h4>
<div class="button-group">

    <div
        *ngIf="data.running"
        class="action"
    >
        <h5>Pause</h5>
        <button
            mat-raised-button
            class="main"
            (click)="pause.emit()">
            <i class="fa fa-pause"></i>
        </button>
    </div>

    <div
        *ngIf="!data.running"
        class="action"
    >
        <h5>Start</h5>
        <button
            mat-raised-button
            class="main"
            *ngIf="!data.running" (click)="start.emit()">
            <i class="fa fa-play"></i>
        </button>
    </div>

    <div
        class="action"
    >
        <h5><i class="fa fa-plus"></i> 1min</h5>
        <button
            mat-raised-button
            class="main"
            (click)="addMinute.emit()">
            <i class="fa fa-clock"></i>
        </button>
    </div>

    <div
        class="action"
    >
        <h5><i class="fa fa-chevron-circle-left"></i> Level</h5>
        <button
            mat-raised-button
            class="main"
            (click)="prevLevel.emit()">
            <i class="fa fa-chevron-circle-left"></i>
        </button>
    </div>

    <div
        class="action"
    >
        <h5><i class="fa fa-chevron-circle-right"></i> Level</h5>
        <button
            mat-raised-button
            class="main"
            (click)="nextLevel.emit()">
            <i class="fa fa-chevron-circle-right"></i>
        </button>
    </div>

    <div
        class="action"
    >
        <h5>Draw</h5>
        <button
            mat-raised-button
            class="main"
            (click)="drawTables()">
            <i class="fa fa-random"></i>
        </button>
    </div>
</div>

<h4>Other Actions</h4>
<div class="button-group">

    <div
        class="action"
    >
        <h5>Autoslide</h5>
        <button
            mat-raised-button
            class="main"
            (click)="onToggleAutoSlide()">
            <i *ngIf="autoSlide" class="fa fa-toggle-on"></i>
            <i *ngIf="!autoSlide" class="fa fa-toggle-off"></i>
        </button>
    </div>

    <div
        class="action"
    >
        <h5>Condense</h5>
        <button
            mat-raised-button
            class="main"
            (click)="onToggleShowCondensedBlinds()">
            <i *ngIf="showCondensedBlinds" class="fa fa-toggle-on"></i>
            <i *ngIf="!showCondensedBlinds" class="fa fa-toggle-off"></i>
        </button>
    </div>

    <div
        *ngIf="!isFullscreen"
        class="action"
    >
        <h5>Fullscreen</h5>
        <button
            mat-raised-button
            class="main"
            (click)="fullScreen()"
        >
            <i class="fa fa-window-maximize"></i>
        </button>
    </div>

    <div
        *ngIf="isFullscreen"
        class="action"
    >
        <h5>Normal Screen</h5>
        <button
            mat-raised-button
            class="main"
            (click)="cancelFullscreen()"
        >
            <i class="fa fa-times-rectangle"></i>
        </button>
    </div>

    <div
        class="action"
    >
        <h5>Cursor</h5>
        <button
            mat-raised-button
            class="main"
            (click)="onToggleIsBigCursor()"
        >
            <i class="fa fa-mouse-pointer"></i>
        </button>
    </div>

    <div
        class="action"
    >
        <h5>Admin</h5>
        <button
            mat-raised-button
            class="main"
            (click)="closeMenu()"
            [routerLink]="['/admin']" *ngIf="isAuthenticated$ | async">
            <i class="fa fa-address-card"></i>
        </button>
    </div>
</div>


<h4>Tournament settings</h4>
<br>
<form
    [formGroup]="form"
>
    <formly-form
        [form]="form"
        [fields]="fields"
        [options]="options"
        [model]="model"
    ></formly-form>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!form.valid"
        (click)="applySettings(model)"
    >
        APPLY
    </button>
</form>
<!--</div>-->
