<h2>Add Levels</h2>

<mat-radio-group
    aria-label="Duration"
    [(ngModel)]="filterDuration"
    (ngModelChange)="onFilterDurationChange($event)"
>
    @for (duration of durations; track duration) {
        <mat-radio-button value="{{ duration }}">{{ duration }}min</mat-radio-button>
    }
</mat-radio-group>

<form
    class="w-800px flexed"
    (ngSubmit)="onSubmit()"
>
    <mat-form-field>
        <mat-label>Blind Levels *</mat-label>
        <mat-select
            name="blindIds"
            multiple
            (selectionChange)="this.model.blindIds.set($event.value)"
        >
            @for (blind of allBlinds; track blind) {
                <mat-option [value]="blind.value">
                    {{ blind.label }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!model.isValid()"
    >
        ADD LEVELS
    </button>

    <button
        mat-raised-button
        [disabled]="isLoadingAdd"
        (click)="closeDialog($event)"
    >
        CANCEL
    </button>

    @if (isLoadingAdd) {
        <div class="loading-wrapper">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    }
</form>

<h3>Blinds in Tournament</h3>

@if (data.tournament && data.tournament.structure.length > 0) {
    <div class="scrollable-dialog-table-wrapper">
        <table class="dialog-table">
            @for (e of data.tournament.structure; track e) {
                <tr>
                    <td class="flex align-center">
                        <span
                            class="flex-td"
                            [innerHTML]="(e | blindLevelText:false)"
                        ></span>
                        &nbsp;- {{ e.duration }}min
                    </td>
                </tr>
            }
        </table>
    </div>
} @else {
    No players yet
}
