<div class="tournament">
  <!-- div class="side">

    <app-player-overview
      [players]="tournament.players"
    ></app-player-overview>
    <app-buyin-overview
      [players]="tournament.players"
    ></app-buyin-overview>
    <app-chips-overview
      [tournament]="tournament"
    ></app-chips-overview>
  </div -->
  <div class="middle">
    <app-overview
      [levels]="tournament.structure"
    ></app-overview>
  </div>

  <!-- div class="side">

    ADD PLAYER <br>
    REMOVE PLAYER <br>
    REBUY PLAYER <br>
    ADDON PLAYER

    <app-payout
    [payout]="tournament.payout"
  ></app-payout >
  </div -->
</div>


