<h2>Add Pause</h2>

<mat-radio-group
    aria-label="Duration"
    [(ngModel)]="filterDuration"
    (ngModelChange)="onFilterDurationChange($event)"
>
    <mat-radio-button value="0">All</mat-radio-button>
    <mat-radio-button value="10">10min</mat-radio-button>
    <mat-radio-button value="15">15min</mat-radio-button>
    <mat-radio-button value="20">20min</mat-radio-button>
    <mat-radio-button value="30">30min</mat-radio-button>
</mat-radio-group>

<form
    class="w-800px flexed"
    (ngSubmit)="onSubmit()"
>
    <mat-form-field>
        <mat-label>Pause *</mat-label>
        <mat-select
            name="blindId"
            [ngModel]="model.blindId()"
            #pauses
            (selectionChange)="model.blindId.set($event.value)"
        >
            <mat-select-trigger>
                {{ pauses.value | pauseTriggerText:allPauses }}
                @if ((pauses.value?.length || 0) > 1) {
                    <span class="example-additional-selection">
                      (+{{ (pauses.value?.length ?? 0) - 1 }} {{ pauses.value?.length === 2 ? 'other' : 'others' }}
                        )
                    </span>
                }
            </mat-select-trigger>

            @for (pause of allPauses; track pause) {
                <mat-option [value]="pause.id">
                    <app-add-pause-select-option
                        [pause]="pause"
                    ></app-add-pause-select-option>
                </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!model.isValid()"
    >
        ADD PAUSE
    </button>

    <button
        mat-raised-button
        [disabled]="isLoadingAdd"
        (click)="closeDialog($event)"
    >
        CANCEL
    </button>

    @if (isLoadingAdd) {
        <div class="loading-wrapper">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    }
</form>
