<div class="buyin-overview">
    <div>
        <div class="value simple-circle">
            <span class="small">
                x {{ tournament.startStack | number:'':'de-CH' }}
            </span>
            <p>
                {{ textEntries }}
            </p>
        </div>
        <h4>Entries</h4>
    </div>
    <div>
        <div class="value simple-circle">
            <span class="small">
                x {{ tournament.rebuyStack | number:'':'de-CH' }}
            </span>
            <p>
                {{ textRebuys }}
            </p>
        </div>
        <h4>Rebuys</h4>
    </div>
    <div>
        <div class="value simple-circle">
            <span class="small">
                x {{ tournament.addonStack | number:'':'de-CH' }}
            </span>
            <p>
                {{ textAddons }}
            </p>
        </div>
        <h4>Addons</h4>
    </div>
</div>
