:host {
    display: contents;
}

.buyin-overview {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4vh;

    div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}

p.value,
.value p {
    margin: 0;
    font-size: 4.5vh;
    font-weight: bold;
}

.small {
    font-size: 1.4vh;
    transform: translateY(-30%);
}
