<div class="buyin-overview">
    <div>
        <div class="value simple-circle">
            <p>
                {{ textEntries }}
            </p>
        </div>
        <h4>Entries</h4>
    </div>
    <div>
        <div class="value simple-circle">
            <p>
                {{ textRebuys }}
            </p>
        </div>
        <h4>Rebuys</h4>
    </div>
    <div>
        <div class="value simple-circle">
            <p>
                {{ textAddons }}
            </p>
        </div>
        <h4>Addons</h4>
    </div>
</div>
