<h2>
    @if (!data?.location) {
        Create
    } @else {
        Edit
    }
    Location
</h2>

<form
    [formGroup]="form"
    (ngSubmit)="onSubmit(model)"
>

    <formly-form
        [form]="form"
        [fields]="fields"
        [options]="options"
        [model]="model"
    ></formly-form>

    <h4 class="text-align-center">Preview</h4>

    <img
        class="preview-image"
        [src]="model.image"
        onerror="this.src='http:///i.imgur.com/hfM1J8s.png'"
    />

    <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!form.valid"
    >
        @if (!data?.location) {
            CREATE
        } @else {
            EDIT
        }
    </button>
</form>

<button
    mat-raised-button
    (click)="cancel()"
>
    CANCEL
</button>
